n8n/workflows/Contestar-Mails-Habitaciones-Tripath-v2-high-level.json
{"updatedAt":"2026-03-22T19:30:03.959Z","createdAt":"2026-02-10T12:34:29.094Z","id":"pUmCrm7oDTW8FMzQ9e59o","name":"Contestar Mails Habitaciones Tripath v2 high level","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"},{"mode":"everyHour","minute":48}]},"simple":false,"filters":{"labelIds":["Label_863935106345007837"],"readStatus":"unread"},"options":{}},"id":"4b2983cb-78c5-467e-8da1-f87ee986c41b","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[-1040,192],"credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account inmobiliariaribon"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1UuH73Bkk1boP0PGc2KKj8qI2LuzpwaHqBFahY1U1FaE","mode":"url"},"sheetName":{"__rl":true,"value":"Base de Datos","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"EMAIL COMPLETO","lookupValue":"={{ $json['EMAIL COMPLETO'] }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"id":"e8d543fd-565d-4b86-8fc7-428463c40709","name":"Extraer datos del Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-592,192],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"Us7ATOmuIQSPhPmA","name":"Google Sheets Infotripath@gmail.com"}}},{"parameters":{"sendTo":"={{ $json.Email }}","subject":"=Hola {{ $json.Nombre }} gracias por tu mensaje, aquí está la información sobre el inmueble {{ $json['Dirección Piso'] }} en  <> Tripath.es ","emailType":"text","message":"=Hola {{ $json.Nombre }},\n\nSoy Lucas de Tripath.es Tengo un mensaje tuyo por un inmueble que tenemos en {{ $json['Dirección Piso'] }}. ¿Para cuándo sería entrar y hasta cuándo? Te mando un vídeo del inmueble y las zonas comunes.\n\nVídeo : {{ $json['Vídeo del Piso'] }}\n\nEste fue el enlace del inmueble por la que preguntaste: \n{{ $json['Link de la habitación preguntada'] }}\n\nPara visitarlo puedes hablarme por Whatsapp a  mí teléfono +34 656 93 33 91. Click aquí para Whatsapp\n\n{{ $json['Mensaje de Whatsapp de Visita a Agente'] }}\nGastos serían 50€ extra al mes en los que se incluye:\n\n-Luz, Gas, Agua hasta 50€ por persona\n-Wifi\n-Mantenimiento\n-Limpieza de las zonas comunes una vez a la semana.\n\nPara reservar serían 2 mensualidades y mensualidad de Service Fee:\n\n-Mes corriente\n-Mes fianza\n-1 Mensualidad de Service Fee\n\n{{ $json['Coste de Entrada'] }}\n\nUn Cordial saludo,\n\nLucas.","options":{"appendAttribution":false,"senderName":"Bookings Tripath"}},"id":"d15e26ed-3911-4e21-b374-002551dae39a","name":"Enviar email de Contestación","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-368,384],"webhookId":"d8c9c72c-9c75-420f-b9d0-822fdef70e71","alwaysOutputData":false,"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Comercial@tripath.es"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1UuH73Bkk1boP0PGc2KKj8qI2LuzpwaHqBFahY1U1FaE","mode":"url"},"sheetName":{"__rl":true,"value":"Base de Datos","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL SNIPET":"={{ $json.subject }}","Fecha de Registro":"==IFERROR(\n    IF(\n        ISNUMBER(SEARCH(\"GMT\"; \"{{ $json.date }}\")); \n        DATE(\n            MID(\"{{ $json.date }}\"; 12; 4); \n            SWITCH(MID(\"{{ $json.date }}\"; 5; 3); \n                \"Jan\"; 1; \"Feb\"; 2; \"Mar\"; 3; \"Apr\"; 4; \"May\"; 5; \"Jun\"; 6; \n                \"Jul\"; 7; \"Aug\"; 8; \"Sep\"; 9; \"Oct\"; 10; \"Nov\"; 11; \"Dec\"; 12\n            ); \n            MID(\"{{ $json.date }}\"; 9; 2)\n        ) + TIMEVALUE(MID(\"{{ $json.date }}\"; 18; 8)); \n        DATE(\n            MID(\"{{ $json.date }}\"; 1; 4); \n            MID(\"{{ $json.date }}\"; 6; 2); \n            MID(\"{{ $json.date }}\"; 9; 2)\n        ) + TIMEVALUE(MID(\"{{ $json.date }}\"; 12; 8))\n    ); \n    \"Sin Fecha\"\n)\n","EMAIL COMPLETO":"={{ $json.text }}","Mensaje para Email":"==ArrayFormula(IF(INDIRECT(\"a\"&ROW())=\"\";\"\";\"Hola \"&INDIRECT(\"b\"&ROW())&\" ,  Soy Marcelino de Tripath.es Tengo un mensaje tuyo por un piso que tenemos en \"&INDIRECT(\"g\"&ROW())&\" . ¿Para cuándo sería entrar y hasta cuándo? Te mando un vídeo de la habitación y del piso.  Vídeo : \"&INDIRECT(\"t\"&ROW())&\"  Para visitarlo puedes hablarme por Whatsapp a  mí teléfono +34 656 93 33 91. Click aquí para Whatsapp  \"&INDIRECT(\"aa\"&ROW())&\"  Gastos serían 50€ extra al mes en los que se incluye:  -Luz, Gas, Agua hasta 50€ por persona -Wifi -Mantenimiento -Limpieza de las zonas comunes una vez a la semana.  Para reservar serían 2 mensualidades y 1 mensualidad en concepto de honorarios de Agencia:  -Mes corriente -Mes fianza -Mes de Honorarios  \"&INDIRECT(\"AL\"&ROW())&\"  Muchas gracias por contactarnos.  Un Cordial saludo,  Marcelino.\"))","Coste de Entrada":"=","Vídeo del Piso":"==IFERROR(ArrayFormula(IF(INDIRECT(\"a\"&ROW())=\"\";\"\";VLOOKUP(INDIRECT(\"m\"&ROW());'BBDD Idealista'!B:BG;21;FALSE()))))","Nombre":"==proper(trim(LEFT(MID(INDIRECT(\"r\"&ROW());SEARCH('Operaciones y comandos'!$R$3;INDIRECT(\"r\"&ROW());1)+LEN('Operaciones y comandos'!$R$3);100);FIND('Operaciones y comandos'!$R$4;MID(INDIRECT(\"r\"&ROW());SEARCH('Operaciones y comandos'!$R$3;INDIRECT(\"r\"&ROW());1)+LEN('Operaciones y comandos'!$R$3);100))-1)))","Teléfono tratado":"=","Telefono Tradado":"==IFERROR(\n    REGEXEXTRACT(\n        INDIRECT(\"q\" & ROW());\n        \"\\[tel:\\+([^\\]]+)\\]\"\n    );\n    \"sin teléfono\"\n)\n","Mensaje para Email Creación ":"={{ $json.replyTo.html }}","Email":"==REGEXEXTRACT(INDIRECT(\"AF\" & ROW()); \"mailto:([^\"\"]+)\")\n","Fuente":"idealista","Agente Registrador":"N8N","Mensaje de Whatsapp de Visita a Agente":"==ArrayFormula(if(INDIRECT(\"a\"&ROW())=\"\";\"\";'Operaciones y comandos'!$Y$8&\"34656933391\"&'Operaciones y comandos'!Y9&(SUBSTITUTE(\"Hola soy \"&INDIRECT(\"b\"&ROW())&\" pregunto por la habitación \"&INDIRECT(\"g\"&ROW())&\" en \"&INDIRECT(\"h\"&ROW());\" \";\"+\"))))"},"matchingColumns":[],"schema":[{"id":"Fecha de Registro","displayName":"Fecha de Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teléfono tratado","displayName":"Teléfono tratado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono Tradado","displayName":"Telefono Tradado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Precio Habitación ","displayName":"Precio Habitación ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código Habitación Preguntada","displayName":"Código Habitación Preguntada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dirección Piso","displayName":"Dirección Piso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Agente Registrador","displayName":"Agente Registrador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cita concertada","displayName":"Cita concertada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código de la habitación idealista","displayName":"Código de la habitación idealista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link de la habitación preguntada","displayName":"Link de la habitación preguntada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Enlace a whatsapp","displayName":"Enlace a whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link a Whatsapp","displayName":"Link a Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL COMPLETO","displayName":"EMAIL COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL SNIPET","displayName":"EMAIL SNIPET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL HTML","displayName":"EMAIL HTML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Vídeo del Piso","displayName":"Vídeo del Piso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Coste de Entrada","displayName":"Coste de Entrada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Persona visita","displayName":"Persona visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre Persona Visita","displayName":"Nombre Persona Visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teléfono Persona Visita","displayName":"Teléfono Persona Visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp Persona Visita","displayName":"Whatsapp Persona Visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensaje para Email","displayName":"Mensaje para Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensaje de Whatsapp de Visita a Agente","displayName":"Mensaje de Whatsapp de Visita a Agente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensaje para Email Creación ","displayName":"Mensaje para Email Creación ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{"useAppend":false}},"id":"ff2d6d02-1ae9-4818-a19d-7176b5f3b752","name":"Extrer la info del correo al Gmail y tratar la información con Formulas","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-816,192],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"Us7ATOmuIQSPhPmA","name":"Google Sheets Infotripath@gmail.com"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Gmail Trigger').item.json.id }}"},"id":"bbd844d5-dbd2-4efd-8d21-2e4fe6353cec","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-368,192],"webhookId":"50e860d0-8a1f-44e7-947d-89a97c621bbc","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account inmobiliariaribon"}}},{"parameters":{"sendTo":"=bookings@tripath.es","subject":"=Nuevo Lead para {{ $('Extraer datos del Sheets').item.json['Código Habitación Preguntada'] }} en  {{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }}  {{ $('Extraer datos del Sheets').item.json.Nombre }}","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Solicitud de Habitación</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 20px;\n            padding: 20px;\n            background-color: #f9f9f9;\n        }\n        .container {\n            background-color: #fff;\n            border: 1px solid #ddd;\n            border-radius: 10px;\n            padding: 20px;\n            max-width: 600px;\n            margin: auto;\n            box-shadow: 0 0 10px rgba(0,0,0,0.1);\n        }\n        .header {\n            font-size: 18px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        .content {\n            margin-bottom: 20px;\n        }\n        .button {\n            display: inline-block;\n            padding: 10px 20px;\n            font-size: 16px;\n            color: #fff;\n            background-color: #28a745;\n            border: none;\n            border-radius: 5px;\n            text-decoration: none;\n            text-align: center;\n            margin-bottom: 10px;\n        }\n        .button:hover {\n            background-color: #218838;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            Tienes una solicitud para la habitación {{ $('Extraer datos del Sheets').item.json['Código Habitación Preguntada'] }} en {{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }} a un precio de {{ $('Extraer datos del Sheets').item.json['Precio Habitación '] }}€.\n        </div>\n        <div class=\"content\">\n            La ha pedido {{ $('Extraer datos del Sheets').item.json.Nombre }}, su teléfono es {{ $('Extraer datos del Sheets').item.json['Teléfono tratado'] }}.\n        </div>\n        <div class=\"content\">\n            <a href=\"{{ $('Extraer datos del Sheets').item.json['Link de la habitación preguntada'] }}\" class=\"button\">Ver Habitación</a>\n        </div>\n        <div class=\"content\">\n            <a href=\"{{ $('Extraer datos del Sheets').item.json['Link a Whatsapp con Aplicación o Móvil'] }}\" class=\"button\">Contactar por WhatsApp</a>\n        </div>\n    </div>\n</body>\n</html>\n","options":{"appendAttribution":false,"ccList":"="}},"id":"2b9b3a62-8e2a-487d-9619-a9bf946c597d","name":"Gmail2","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-144,384],"alwaysOutputData":true,"retryOnFail":false,"webhookId":"bf3719a2-9504-4586-9bab-2586a4acd8a5","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account inmobiliariaribon"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"email":"={{ $json.Email }}","phone":"=+{{ $('Extraer datos del Sheets').item.json['Teléfono tratado Correcto'] }}","additionalFields":{"address1":"={{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }} {{ $('Extraer datos del Sheets').item.json.Ciudad }}","city":"={{ $('Extraer datos del Sheets').item.json.Ciudad }}","customFields":{"values":[{"fieldId":{"__rl":true,"value":"iCOU0VExQBgkH9gqpZ8d","mode":"list","cachedResultName":"Precio admin fee habitacion preguntada"},"fieldValue":"={{ $json['Admin Fee'] }}"},{"fieldId":{"__rl":true,"value":"ZOc55lLvxodtdqLE2nGV","mode":"list","cachedResultName":"Precio habitacion Preguntada"},"fieldValue":"={{ $json['Precio Habitación '] }}"},{"fieldId":{"__rl":true,"value":"zkNIHLWQfxBN5OqqNYdn","mode":"list","cachedResultName":"Calle de la propiedad"},"fieldValue":"={{ $json['Dirección Piso'] }}"},{"fieldId":{"__rl":true,"value":"9EUsS8sgXy5WgKdhgKrW","mode":"list","cachedResultName":"Vídeo de Youtube"},"fieldValue":"={{ $json['Vídeo del Piso'] }}"},{"fieldId":{"__rl":true,"value":"nXQhohZ8Ew266LP334Is","mode":"list","cachedResultName":"Suma Fianza + Honorarios"},"fieldValue":"={{ $json['Suma Fianza + Honorarios'] }}"},{"fieldId":{"__rl":true,"value":"5A0P645BNNFYi7HSSOow","mode":"list","cachedResultName":"SKU (Código de Habitación)"},"fieldValue":"={{ $json['Código Habitación Preguntada'] }}"},{"fieldId":{"__rl":true,"value":"aJ0p8495oKcMJbgSiKTL","mode":"list","cachedResultName":"Inquilino Potencial - ¿Enlace habitación? "},"fieldValue":"={{ $json['LINK Tripath WEB'] }}"},{"fieldId":{"__rl":true,"value":"nlwW6ZwJyz2r9uu38dhK","mode":"list","cachedResultName":"Chattyrental - IA_Activa"},"fieldValue":"ON"},{"fieldId":{"__rl":true,"value":"Im3eq9FwmOYF3uOQMBD1","mode":"list","cachedResultName":"Chattyrental - IA_Bloqueada_humano"},"fieldValue":"No"},{"fieldId":{"__rl":true,"value":"09wQLcv1MnMLYXuf2Lu6","mode":"list","cachedResultName":"Inquilino Potencial - Link Idealista"},"fieldValue":"={{ $json['Link de la habitación preguntada'] }}"}]},"firstName":"={{ $('Extraer datos del Sheets').item.json.Nombre }}","lastName":"= {{ $('Extraer datos del Sheets').item.json['Código Habitación Preguntada'] }} {{ $('Extraer datos del Sheets').item.json['Precio Habitación '] }}€ {{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }} {{ $('Extraer datos del Sheets').item.json.Ciudad }}","source":"=idealista","state":"={{ $json.Ciudad }}","tags":"INQUILINO IDEALISTA, INQUILINO POTENCIAL","website":"={{ $json['Link de la habitación preguntada'] }}"},"requestOptions":{}},"type":"n8n-nodes-base.highLevel","typeVersion":2,"position":[-368,0],"id":"d2770d9f-8615-428b-b7f8-198dcb8e469b","name":"HighLevel","alwaysOutputData":true,"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}},"onError":"continueRegularOutput"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Extrer la info del correo al Gmail y tratar la información con Formulas","type":"main","index":0}]]},"Extraer datos del Sheets":{"main":[[{"node":"Enviar email de Contestación","type":"main","index":0},{"node":"HighLevel","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]},"Enviar email de Contestación":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"Extrer la info del correo al Gmail y tratar la información con Formulas":{"main":[[{"node":"Extraer datos del Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":5},"staticData":{"node:Gmail Trigger":{"lastTimeChecked":1774606851,"possibleDuplicates":["19d2ecfa1daa32ad"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Gmail Trigger":[{"json":{"id":"19d16fdddded38dc","threadId":"19d16fdddded38dc","labelIds":["UNREAD","Label_863935106345007837","CATEGORY_UPDATES","INBOX"],"sizeEstimate":38714,"headers":{"delivered-to":"Delivered-To: inmobiliariaribon@gmail.com","received":"Received: from mx3r.idealista.com (unknown [62.97.106.25]) by\r\n e20bfc090bb31ff7852fd4f81817cc63ffbe02e140b4de1e9bc3a74ec7a08363 with SMTP id\r\n 69c040fc99631a7c2e99ff26 (version=TLS1.3, cipher=TLS_AES_128_GCM_SHA256);\r\n Sun, 22 Mar 2026 19:20:28 GMT","x-received":"X-Received: by 2002:a05:600c:3b1e:b0:480:2521:4d92 with SMTP id 5b1f17b1804b1-486fee1ab10mr137573215e9.24.1774207229271;\r\n        Sun, 22 Mar 2026 12:20:29 -0700 (PDT)","arc-seal":"ARC-Seal: i=1; a=rsa-sha256; t=1774207229; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=BkCeE5Nogpuvh9TJXHrYc2A5CPB+5wjzbMNfMlF+nIQ065g+pg6EqRKT0w9grKffPy\r\n         RLuAFsABuZbBLu6QefvesryrYXW7JZORsBYiul09DGtUhrO+zU3IxcV2DA0Y9oVyKDZA\r\n         bx+v4iLXgyC9y3KPigANWABRzpT5QK0QHqQjQ78HtaicU+Q5XPqQEyPhdOm67PHXyUht\r\n         zX3J79Q+ixL5ZZRzB58SuI6bQJIot+Rk+tJ6VA+9/fw0cLtXv7HD/i6WwJMBFp2Wg0lU\r\n         GAt9/UoJmk/gpp5m6RCmfmwyvi7WhqieLZEtMpe5a9Iyxd7Ze5WUiIqtDlA7/oWbVyRK\r\n         QFHQ==","arc-message-signature":"ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=content-transfer-encoding:message-id:mime-version:subject:to\r\n         :reply-to:from:date:dkim-signature:dkim-signature:dkim-signature;\r\n        bh=E424lwHbOkkY2orWoAgM/tELdNTeLFGeyAdykr7cgPU=;\r\n        fh=i8RtNm8s+xi1+GDYItdWTxKmVGeCGXv6L9xxQnNYBP4=;\r\n        b=XHYCL9ISILrcWatomUZWuiGHRGhgnRUs6F7ioLw+YIpLdKZOpRDY6CSYGs7k0a1Hez\r\n         isxLyOw/SEbtuZijjNBcpEFU1am7U6mcGGnQ0iVyWpnqKocT2PPrUC6gD/gzg/9vropI\r\n         AA91IlvpmsvldbtaeCleNL1Ik75fAyQHjbaRnKCS0MoEHhtyH9/eDgxAuq8Ubc4k74AA\r\n         w8wPpEkUZQj61YKhKEzcHSi/1AEiiDrWIofPuU/TYXLObFspVMPlNb3ihoSYEcLq8zJe\r\n         VjwHl6FIaoOCpjXoLYaAgH4jg1fAxLV3CwPFaidTNMgBpuBmzgHN43WhbX2Y9ZasMOKt\r\n         VCpA==;\r\n        dara=google.com","arc-authentication-results":"ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@return.idealista.com header.s=mta header.b=m82C2W+Q;\r\n       dkim=pass header.i=@eu.mailgun.org header.s=krs2 header.b=\"gv/xsW8Y\";\r\n       dkim=neutral (body hash did not verify) header.i=@idealista.com header.s=id10a header.b=KYyuSojP;\r\n       spf=pass (google.com: domain of bounce+1996536214@return.idealista.com designates 198.244.62.215 as permitted sender) smtp.mailfrom=bounce+1996536214@return.idealista.com;\r\n       dmarc=pass (p=QUARANTINE sp=QUARANTINE dis=NONE) header.from=idealista.com","return-path":"Return-Path: <bounce+1996536214@return.idealista.com>","received-spf":"Received-SPF: pass (google.com: domain of bounce+1996536214@return.idealista.com designates 198.244.62.215 as permitted sender) client-ip=198.244.62.215;","authentication-results":"Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@return.idealista.com header.s=mta header.b=m82C2W+Q;\r\n       dkim=pass header.i=@eu.mailgun.org header.s=krs2 header.b=\"gv/xsW8Y\";\r\n       dkim=neutral (body hash did not verify) header.i=@idealista.com header.s=id10a header.b=KYyuSojP;\r\n       spf=pass (google.com: domain of bounce+1996536214@return.idealista.com designates 198.244.62.215 as permitted sender) smtp.mailfrom=bounce+1996536214@return.idealista.com;\r\n       dmarc=pass (p=QUARANTINE sp=QUARANTINE dis=NONE) header.from=idealista.com","dkim-signature":"DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/simple; d=idealista.com;\r\n\ts=id10a; t=1774207228;\r\n\tbh=2LV1Oq051cPiJ4QwN3jRoGg16L/U67s3SC4+gHUPmvs=;\r\n\th=Date:From:Reply-To:To:Subject:From;\r\n\tb=KYyuSojP04a4TLzS7HBPIYISgcdtRlcKRbjt0u2P2qg8+7l5OJn3JrFu4Em7gQJFB\r\n\t cTu07kuZXgrd2FfsfOnp71MC/ocbrQSg0usRfq53IMVjRUvfzh/v34W7Svx9ZcXzCD\r\n\t p/SxAXNyL4HjX3vT3FoC2IJFticqu8XZI56DXqlcaF9Xf7az6iJxu7EkkUz2qKVMu4\r\n\t quf33IgxgSUOHVK4uqzCAyilZA3YJGozihgzE5fNKmRktdk6oSieuCZ/TtI1RHUp7I\r\n\t nrD7s92x6/dtBfySKQ+TOi4OWyqPC51ySoiaBgAGZ1vnMySbWBEujwZ+qf3GtI2Yox\r\n\t D9ZG7kHYWHxpg==","x-mailgun-sid":"X-Mailgun-Sid: WyIyMDE5OCIsImlubW9iaWxpYXJpYXJpYm9uQGdtYWlsLmNvbSIsImM5NTA5YyJd","x-feedback-id":"X-Feedback-Id: bounce+1996536214@return.idealista.com::664ca1f812b681017ffd0dd7:mailgun","x-mailgun-sending-ip-pool-name":"X-Mailgun-Sending-Ip-Pool-Name: Idealista1","x-mailgun-sending-ip-pool":"X-Mailgun-Sending-Ip-Pool: 65547e7e6d30ff7e00d65c82","x-mailgun-sending-ip":"X-Mailgun-Sending-Ip: 198.244.62.215","date":"Date: Sun, 22 Mar 2026 20:20:28 +0100 (CET)","from":"From: idealista <reply@idealista.com>","reply-to":"Reply-To: stefi_martinelli@hotmail.com.ar","x-mailgun-native-send":"X-Mailgun-Native-Send: true","to":"To: inmobiliariaribon@gmail.com","subject":"Subject: =?UTF-8?Q?=F0=9F=A4=A9_Nuevo_mensaje_(con_perfil)_de_E?=\r\n =?UTF-8?Q?stefania_sobre_tu_inmueble,_con_ref?=\r\n =?UTF-8?Q?:_47H3,_Habitaci=C3=B3n_en_Avenida_de_Ag?=\r\n =?UTF-8?Q?uilera,_Benal=C3=BAa,_Alicante_/_Alacant?=","mime-version":"MIME-Version: 1.0","x-mailgun-variables":"X-Mailgun-Variables: {\"email-template-id\":2102,\"notification-id\":\"1996536214\",\"country\":\"ES\"}","message-id":"Message-Id: <20260322192028.70B8252001C@mx3r.idealista.com>","content-type":"Content-Type: text/html; charset=\"utf-8\"","content-transfer-encoding":"Content-Transfer-Encoding: quoted-printable"},"html":"<!-- FILE: undefined -->\n<!doctype html><html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\"><head><title>Valoraciones</title><!--[if !mso]><!-- --><meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><!--<![endif]--><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"><style type=\"text/css\">#outlook a {\n      padding: 0;\n    }\n\n    .ReadMsgBody {\n      width: 100%;\n    }\n\n    .ExternalClass {\n      width: 100%;\n    }\n\n    .ExternalClass * {\n      line-height: 100%;\n    }\n\n    body {\n      margin: 0;\n      padding: 0;\n      -webkit-text-size-adjust: 100%;\n      -ms-text-size-adjust: 100%;\n    }\n\n    table,\n    td {\n      border-collapse: collapse;\n      mso-table-lspace: 0pt;\n      mso-table-rspace: 0pt;\n    }\n\n    img {\n      border: 0;\n      height: auto;\n      line-height: 100%;\n      outline: none;\n      text-decoration: none;\n      -ms-interpolation-mode: bicubic;\n    }\n\n    p {\n      display: block;\n      margin: 13px 0;\n    }</style><!--[if !mso]><!--><style type=\"text/css\">@media only screen and (max-width:480px) {\n      @-ms-viewport {\n        width: 320px;\n      }\n\n      @viewport {\n        width: 320px;\n      }\n    }</style><!--<![endif]--><!--[if mso]>\n        <xml>\n        <o:OfficeDocumentSettings>\n          <o:AllowPNG/>\n          <o:PixelsPerInch>96</o:PixelsPerInch>\n        </o:OfficeDocumentSettings>\n        </xml>\n        <![endif]--><!--[if lte mso 11]>\n        <style type=\"text/css\">\n          .outlook-group-fix { width:100% !important; }\n        </style>\n        <![endif]--><style type=\"text/css\">@media only screen and (min-width:480px) {\n      .mj-column-per-100 {\n        width: 100% !important;\n        max-width: 100%;\n      }\n\n      .mj-column-px-552 {\n        width: 552px !important;\n        max-width: 552px;\n      }\n    }</style><style type=\"text/css\">[owa] .mj-column-per-100 {\n      width: 100% !important;\n      max-width: 100%;\n    }\n\n    [owa] .mj-column-px-552 {\n      width: 552px !important;\n      max-width: 552px;\n    }</style><style type=\"text/css\">@media only screen and (max-width:480px) {\n      table.full-width-mobile {\n        width: 100% !important;\n      }\n\n      td.full-width-mobile {\n        width: auto !important;\n      }\n    }</style><style type=\"text/css\">.table-cell {\n      width: 100% !important;\n    }</style></head><body style=\"background-color:#f4f5f2;\"><img width=\"1\" height=\"1\" alt=\"\" src=\"https://email.return.idealista.com/o/eJwcjktOxDAQBU8z3k3Ufv4kXvQGxAk4gdP2QEuxjYJBcHsUpNqWqmR89Xn-8surKSwpUBJT2a6rB63AZmrLetxnbR9HnvWuhWEJ5p1RxTm3VUh4AL4kSrIXJ0Giz4jRKIMQyQE2gbAtKz1tCCCyzzdP7cedi5aaD_2ceZHRTB9THyp56uhXyaYUg4uw3pysvY1dD83nxT76zdPbNfevfjP-AgAA__-dKz0j\"><div style=\"background-color:#f4f5f2;\"><div style=\"display: none\">      </div><img border=\"0\" width=\"1\" height=\"1\" data-external=\"true\" src=\"http://col.idealista.com/toto?s=582065&events=[{%22name%22:%22email.display.offsite%22,%22data%22:{%22src_medium%22:%22email%22,%22src_campaign%22:%22contact_to_professional_ad%22,%22src_campaigntype%22:%22retention%22,%22src_project%22:%22others%22,%22src_source%22:%22notifications%22,%22src_date_send%22:%222026-03-22T20:20:28%22,%22src_recipient_id%22:%22ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=%22}}]\"><div role=\"article\" aria-roledescription=\"email\" lang=\"en\" style=\"-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#F4F5F2;\"><table role=\"presentation\" style=\"width:100%;border:0;border-spacing:0;\"><tr><td align=\"center\"><!--[if mso]><table role=\"presentation\" align=\"center\" style=\"width:600px;background-color: #FFFFFF;\"><tr><td style=\"padding:0;\"><![endif]--><div class=\"outer\" style=\"width:96%;max-width:600px;margin:0px auto;background-color: #FFFFFF;\"><!-- header --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#e1f56e;background-color:#e1f56e;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#e1f56e;background-color:#e1f56e;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:18px 24px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-per-100 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:111px;\"><a href=\"https://www.idealista.com/?utm_medium=email&utm_campaign=contact_to_professional_ad&utm_campaigntype=retention&utm_project=others&utm_source=notifications&utm_date_send=2026-03-22T20:20:28&utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&utm_link=logo\" target=\"_blank\"><img alt=\"idealista.com\" height=\"auto\" src=\"https://st3.idealista.com/static/email/img/logo.png\" style=\"border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"111\"></a></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- end header --><!--CONTENT--><!--[if mso]><table role=\"presentation\" align=\"center\" style=\"width:552px; background-color: #FFFFFF;\"><tr><td style=\"padding-left:10px;padding-bottom:30px\"><![endif]--><div class=\"outer\" style=\"width:96%;max-width:552px;margin:0px auto;background-color: #FFFFFF; padding-top:10px;padding-bottom: 30px;\"><!-- Content --><!-- Section for email inbox preview --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:0px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0px;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:13px;line-height:1;text-align:left;color:#000000;\"><span style=\"display:none; line-height: 0px\">Tienes un nuevo mensaje que espera tu respuesta</span></div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--><!-- Markup --><div style=\"display:none; line-height: 0px\">\n    -\n    <img border=0 width=1 height=1\n         src=\"http://logc187.xiti.com/hit.xiti?s=582065&xto=EPR-211-[professionalAdContact]-20260322-[]&type=email&\"\n         alt=\"1\" width=\"1\">\n    </div><!-- Title --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:24px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:22px;font-weight:700;line-height:24px;text-align:left;color:#141414;\">Tienes un nuevo mensaje que espera tu respuesta</div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--><!-- Profile picture --> <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:24px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0px;word-break:break-word;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:56px;\"><img height=\"auto\" src=\"https://st3.idealista.com/static/email/img/empty_avatar.png\" style=\"border:0;border-radius:50%;display:block;outline:none;text-decoration:none;height:auto;width:100%;\" width=\"56\"></td></tr></tbody></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- Seeker name -->  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:16px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:16px;font-weight:700;line-height:24px;text-align:center;color:#141414;\">Estefania</div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- Perfil sin morosidad --><!-- Cierre perfil sin morosidad --><!-- Seeker profile preview -->  <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:16px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:16px;line-height:24px;text-align:center;color:#141414;\"><a href=\"https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&showSeekerProfile=true&xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[viewProfileConversation]-724482511423@1-[20260322202023]\" style=\"text-decoration: none; color: #145BC7\">Ver perfil</a></div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- Contact details --><!-- Seeker phone --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:4px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:16px;line-height:24px;text-align:center;color:#000000;\"><a style=\"color: #0066cc;text-decoration:none !important\" href=\"tel:+34603898935\">603 89 89 35</a></div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- Seeker email --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:4px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"center\" style=\"font-size:0px;padding:0;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:16px;line-height:24px;text-align:center;color:#000000;\"><a style=\"color: #0066cc; text-decoration:none !important; \" href=\"mailto:stefi_martinelli@hotmail.com.ar\">stefi_martinelli@hotmail.com.ar</a></div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- BDMI link --><!-- Message content --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;padding-top:16px;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\"><tbody><tr><td style=\"background-color:#F4F5F2;vertical-align:top;padding:24px 24px;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:13px;line-height:1;text-align:left;color:#000000;\"><div style=\"border: 1.5px solid #E5E6E1; border-radius: 8px; background-color: #FFFFFF; padding: 16px 115px 16px 16px; margin-bottom: 12px\"><span style=\"font-size: 16px; font-weight: 600; line-height: 24px\">Hola, me interesa esta habitación y me gustaría hacer una visita.<br /><br />Un saludo</span></div><mj-raw></mj-raw><mj-raw>       </mj-raw><div style=\"margin-top: 24px; display: flex; justify-content: center\"><a href=\"https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[replyConversationEncourageRentMessage2]-724482511423@1-[20260322202023]\" style=\"background-color:#b62682;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:320px;-webkit-text-size-adjust:none;\">Responder desde idealista/tools</a></div><mj-raw></mj-raw></div></td></tr></table></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--><!-- Ad --> <!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:32px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" border=\"0\" style=\"cellspacing:0;color:#000000;font-family:Arial;font-size:0;line-height:0;table-layout:auto;width:100%;\"><tr><td style=\"width:140px;min-width:140px;height:128px;margin:0;padding:0;border:0\"><mj-raw>   </mj-raw><img style=\"width:140px;height:128px;object-fit:cover;overflow:hidden;border-radius: 4px 0px 0px 4px;margin:0px;padding:0px;\" src=\"https://img4.idealista.com/blur/140_105_mq/0/id.pro.es.image.master/45/3f/a0/1415259782.jpg\"></td><td style=\"max-width:10px\"><div style=\"height:128px;padding: 8px 16px 8px 16px;border-bottom: 1px solid #E5E6E1;border-top: 1px solid #E5E6E1;border-right: 1px solid #E5E6E1;border-radius: 0px 4px 4px 0px;box-sizing:border-box !important\"><p style=\"padding: 0;margin:0;font-size: 16px;line-height: 28px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis\"><a style=\"color: #145BC7; text-decoration:none !important; line-height: 28px; font-weight: 600\" href=\"https://www.idealista.com/110779118?xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[detalle_desde_contacto]-[]-[]\">Habitación en Avenida de Aguilera, Benalúa, Alicante / Alacant</a></p><p style=\"padding: 0;margin:0;font-size: 16px;line-height: 28px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis\">Ref. 47H3 </p><p style=\"padding: 0;margin:0;font-size: 16px;line-height: 28px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis\">Código del anuncio: 110779118</p><p style=\"padding: 0;margin:0;font-size: 16px;line-height: 28px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis\">450 &#8364;</p></div></td></tr></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- ROL Banner --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"background:#ffffff;background-color:#ffffff;Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#ffffff;background-color:#ffffff;width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:24px 0 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;word-break:break-word;\"><table cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" border=\"0\" style=\"cellspacing:0;color:#000000;font-family:Arial;font-size:0;line-height:0;table-layout:auto;width:100%;\"><tr><td style=\"background-color:#F4F5F2;width:140px;min-width:140px;height:128px;margin:0;padding:0;border:0\"><div style=\"padding-left:18px;\"><img style=\"width:104px;height:104px;object-fit:cover;overflow:hidden;border-radius: 4px 0px 0px 4px;margin:0px;padding:0px;\" src=\"https://st3.idealista.com/static/email/img/shield_protection_2.png\"></div></td><td style=\"max-width:10px\"><div style=\"background-color:#F4F5F2;height:128px;padding: 8px 16px 8px 16px;border-bottom: 1px solid #E5E6E1;border-top: 1px solid #E5E6E1;border-right: 1px solid #E5E6E1;border-radius: 0px 4px 4px 0px;box-sizing:border-box !important\"><span style=\"font-size: 16px; font-weight: 600; line-height: 24px\">Alquila tus habitaciones más fácil con Reserva Online</span><p style=\"padding: 0;margin:0;margin-top:16px;font-size: 16px;line-height: 28px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis\"><a style=\"color: #145BC7; text-decoration:none !important; line-height: 28px; font-weight: 600\" href=\"https://www.idealista.com/reserva-online-alquiler?xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[informationRol]-[]-[]\">Quiero más información</a></p></div></td></tr></table></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- Incentive response message --><!--[if mso | IE]><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" class=\"\" style=\"width:600px;\" width=\"600\" ><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\"><![endif]--><div style=\"Margin:0px auto;max-width:600px;\"><table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:100%;\"><tbody><tr><td style=\"direction:ltr;font-size:0px;padding:20px 0;text-align:center;vertical-align:top;\"><!--[if mso | IE]><table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td class=\"\" style=\"vertical-align:top;width:552px;\" ><![endif]--><div class=\"mj-column-px-552 outlook-group-fix\" style=\"font-size:13px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\"><table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tr><td align=\"left\" style=\"font-size:0px;padding:0;padding-right:0;padding-left:0;word-break:break-word;\"><div style=\"font-family:Arial;font-size:13px;line-height:1;text-align:left;color:#000000;\"><div style=\"background-color: #EBF4FF; padding: 8px 16px; border-radius: 4px; border: 2px solid #5CA8FF\"><mj-raw><table><tr><td style=\"vertical-align:unset\"><img style=\"display: inline-block; object-fit:cover; height:20px!important;vertical-align:middle\" width=\"20px\" src=\"https://st3.idealista.com/static/common/emails/img/infoIcon.png\" alt=\"\"></td><td style=\"font-weight: 400; font-size:16px; line-height: 24px; padding:0px\">Si te contactan por chat intenta responder por chat. Las posibilidades de cerrar la operación se reducen a la mitad si ignoras la forma de contacto preferida de tu cliente</td></tr></table></mj-raw></div></div></td></tr></table></div><!--[if mso | IE]></td></tr></table><![endif]--></td></tr></tbody></table></div><!--[if mso | IE]></td></tr></table><![endif]--> <!-- footer --></div><!--[if mso]><table role=\"presentation\" align=\"center\" style=\"width:552px; background-color: #FFFFFF;\"><tr><td style=\"padding-left:0;padding-bottom:30px\"><![endif]--><div class=\"outer\" style=\"width:96%;max-width:552px;margin:0px auto;background-color: #FFFFFF; padding-top:10px;padding-bottom: 30px; text-align: left;\"><table role=\"presentation\" style=\"width:100%;border:0;border-spacing:0; border-top: 1px solid #CBCCC7\"><tbody><tr><td style=\"padding:14px 0px;text-align:left; color: #141414\"><span style=\"font-family: Arial, sans-serif;font-size:16px;line-height:24px;\">Para conocer el uso que hacemos de tus datos puedes consultar nuestra <a style=\"text-decoration: none;\" href=\"https://www.idealista.com/info/proteccion-datos?utm_medium=email&utm_campaign=contact_to_professional_ad&utm_campaigntype=retention&utm_project=others&utm_source=notifications&utm_date_send=2026-03-22T20:20:28&utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&utm_link=proteccionDatos\">política de privacidad</a></span></td></tr></tbody></table></div><!--[if mso]></td></tr></table></td></tr></table><![endif]--></div><!--[if mso]></td></tr></table><![endif]--><!--[if mso]><table role=\"presentation\" align=\"center\" style=\"width:600px;background-color: #F4F5F2;\"><tr><td style=\"padding:0;\"><![endif]--><div class=\"outer\" style=\"width:96%;max-width:600px;margin:0px auto;background-color: #F4F5F2;\"><!--[if mso]><table role=\"presentation\" align=\"center\" style=\"width:552px; background-color: #F4F5F2;\"><tr><td style=\"padding:10px;\"><![endif]--><div class=\"outer\" style=\"width:96%;max-width:552px;margin:0px auto;background-color: #F4F5F2; padding-top:10px;\"><!--descargar app--><mj-raw><table role=\"presentation\" style=\"width:100%; border:0;border-spacing:0; margin:0 auto; background: #F4F5F2;\" width=\"100%\" align=\"left\"><tbody><tr><td style=\"text-align: left; font: normal 16px Arial; color: #6F6F6D; padding: 8px 0px;\">idealista en tu móvil o tablet</td></tr><tr><td style=\"text-align: left; padding-bottom:20px\"><a target=\"_blank\" href=\"https://idealista.onelink.me/3139118072/4cc77b80\" data-link-name=\"Apple store\" style=\"text-decoration: none; margin-right: 8px;\"><img width=\"32\" height=\"32\" alt=\"Apple\" src=\"https://st3.idealista.com/static/email/img/badge_ios.png\" title=\"Apple\"> </a>&nbsp; <a target=\"_blank\" href=\"https://idealista.onelink.me/3139118072/4cc77b80\" data-link-name=\"Google play\" style=\"text-decoration: none; margin-right: 8px;\"><img width=\"32\" height=\"32\" alt=\"Android\" src=\"https://st3.idealista.com/static/email/img/badge_android.png\" title=\"Android\"> </a>&nbsp; <a target=\"_blank\" href=\"https://idealista.onelink.me/3139118072/4cc77b80\" data-link-name=\"Huawei store\" style=\"text-decoration: none;\"><img width=\"32\" height=\"32\" alt=\"Huawei\" src=\"https://st3.idealista.com/static/email/img/badge_huawei.png\" title=\"Huawei\"></a></td></tr><tr><td style=\"text-align: left; font: normal 16px Arial; color: #6F6F6D; padding: 8px 0px;\">idealista © 2026</td></tr></tbody></table><span style=\"font-family: Arial, sans-serif;\"></span></mj-raw></div><!--[if mso]></td></tr></table><![endif]--></div></td></tr></table></div><!-- end footer --></div></body></html>\n\n","text":"[https://email.return.idealista.com/o/eJwcjktOxDAQBU8z3k3Ufv4kXvQGxAk4gdP2QEuxjYJBcHsUpNqWqmR89Xn-8surKSwpUBJT2a6rB63AZmrLetxnbR9HnvWuhWEJ5p1RxTm3VUh4AL4kSrIXJ0Giz4jRKIMQyQE2gbAtKz1tCCCyzzdP7cedi5aaD_2ceZHRTB9THyp56uhXyaYUg4uw3pysvY1dD83nxT76zdPbNfevfjP-AgAA__-dKz0j]\n\n[http://col.idealista.com/toto?s=582065&events=[{%22name%22:%22email.display.offsite%22,%22data%22:{%22src_medium%22:%22email%22,%22src_campaign%22:%22contact_to_professional_ad%22,%22src_campaigntype%22:%22retention%22,%22src_project%22:%22others%22,%22src_source%22:%22notifications%22,%22src_date_send%22:%222026-03-22T20:20:28%22,%22src_recipient_id%22:%22ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=%22}}]]\n\nidealista.com\n[https://st3.idealista.com/static/email/img/logo.png]https://www.idealista.com/?utm_medium=email&utm_campaign=contact_to_professional_ad&utm_campaigntype=retention&utm_project=others&utm_source=notifications&utm_date_send=2026-03-22T20:20:28&utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&utm_link=logo\n\nTienes un nuevo mensaje que espera tu respuesta\n\n- 1\n[http://logc187.xiti.com/hit.xiti?s=582065&xto=EPR-211-[professionalAdContact]-20260322-[]&type=email&]\nTienes un nuevo mensaje que espera tu respuesta\n\n[https://st3.idealista.com/static/email/img/empty_avatar.png]\n\nEstefania\n\nVer perfil\n[https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&showSeekerProfile=true&xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[viewProfileConversation]-724482511423@1-[20260322202023]]\n\n603 89 89 35 [tel:+34603898935]\n\nstefi_martinelli@hotmail.com.ar [stefi_martinelli@hotmail.com.ar]\n\nHola, me interesa esta habitación y me gustaría hacer una visita.\n\nUn saludo\nResponder desde idealista/tools\n[https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[replyConversationEncourageRentMessage2]-724482511423@1-[20260322202023]]\n\n[https://img4.idealista.com/blur/140_105_mq/0/id.pro.es.image.master/45/3f/a0/1415259782.jpg]\n\nHabitación en Avenida de Aguilera, Benalúa, Alicante / Alacant\n[https://www.idealista.com/110779118?xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[detalle_desde_contacto]-[]-[]]\n\nRef. 47H3\n\nCódigo del anuncio: 110779118\n\n450 €\n\n[https://st3.idealista.com/static/email/img/shield_protection_2.png]\nAlquila tus habitaciones más fácil con Reserva Online\n\nQuiero más información\n[https://www.idealista.com/reserva-online-alquiler?xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[informationRol]-[]-[]]\n\n[https://st3.idealista.com/static/common/emails/img/infoIcon.png]Si te contactan\npor chat intenta responder por chat. Las posibilidades de cerrar la operación se\nreducen a la mitad si ignoras la forma de contacto preferida de tu cliente\n\nPara conocer el uso que hacemos de tus datos puedes consultar nuestra política\nde privacidad\n[https://www.idealista.com/info/proteccion-datos?utm_medium=email&utm_campaign=contact_to_professional_ad&utm_campaigntype=retention&utm_project=others&utm_source=notifications&utm_date_send=2026-03-22T20:20:28&utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&utm_link=proteccionDatos]\n\nidealista en tu móvil o tabletApple\n[https://st3.idealista.com/static/email/img/badge_ios.png]\nhttps://idealista.onelink.me/3139118072/4cc77b80  Android\n[https://st3.idealista.com/static/email/img/badge_android.png]\nhttps://idealista.onelink.me/3139118072/4cc77b80  Huawei\n[https://st3.idealista.com/static/email/img/badge_huawei.png]https://idealista.onelink.me/3139118072/4cc77b80idealista\n© 2026","textAsHtml":"<p>[<a href=\"https://email.return.idealista.com/o/eJwcjktOxDAQBU8z3k3Ufv4kXvQGxAk4gdP2QEuxjYJBcHsUpNqWqmR89Xn-8surKSwpUBJT2a6rB63AZmrLetxnbR9HnvWuhWEJ5p1RxTm3VUh4AL4kSrIXJ0Giz4jRKIMQyQE2gbAtKz1tCCCyzzdP7cedi5aaD_2ceZHRTB9THyp56uhXyaYUg4uw3pysvY1dD83nxT76zdPbNfevfjP-AgAA__-dKz0j\">https://email.return.idealista.com/o/eJwcjktOxDAQBU8z3k3Ufv4kXvQGxAk4gdP2QEuxjYJBcHsUpNqWqmR89Xn-8surKSwpUBJT2a6rB63AZmrLetxnbR9HnvWuhWEJ5p1RxTm3VUh4AL4kSrIXJ0Giz4jRKIMQyQE2gbAtKz1tCCCyzzdP7cedi5aaD_2ceZHRTB9THyp56uhXyaYUg4uw3pysvY1dD83nxT76zdPbNfevfjP-AgAA__-dKz0j</a>]</p><p>[<a href=\"http://col.idealista.com/toto?s=582065&events=[{%22name%22:%22email.display.offsite%22,%22data%22:{%22src_medium%22:%22email%22,%22src_campaign%22:%22contact_to_professional_ad%22,%22src_campaigntype%22:%22retention%22,%22src_project%22:%22others%22,%22src_source%22:%22notifications%22,%22src_date_send%22:%222026-03-22T20:20:28%22,%22src_recipient_id%22:%22ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=%22}}]\">http://col.idealista.com/toto?s=582065&amp;events=[{%22name%22:%22email.display.offsite%22,%22data%22:{%22src_medium%22:%22email%22,%22src_campaign%22:%22contact_to_professional_ad%22,%22src_campaigntype%22:%22retention%22,%22src_project%22:%22others%22,%22src_source%22:%22notifications%22,%22src_date_send%22:%222026-03-22T20:20:28%22,%22src_recipient_id%22:%22ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=%22}}]</a>]</p><p><a href=\"http://idealista.com\">idealista.com</a><br/>[<a href=\"https://st3.idealista.com/static/email/img/logo.png\">https://st3.idealista.com/static/email/img/logo.png</a>]<a href=\"https://www.idealista.com/?utm_medium=email&utm_campaign=contact_to_professional_ad&utm_campaigntype=retention&utm_project=others&utm_source=notifications&utm_date_send=2026-03-22T20:20:28&utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&utm_link=logo\">https://www.idealista.com/?utm_medium=email&amp;utm_campaign=contact_to_professional_ad&amp;utm_campaigntype=retention&amp;utm_project=others&amp;utm_source=notifications&amp;utm_date_send=2026-03-22T20:20:28&amp;utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&amp;utm_link=logo</a></p><p>Tienes un nuevo mensaje que espera tu respuesta</p><p>- 1<br/>[<a href=\"http://logc187.xiti.com/hit.xiti?s=582065&xto=EPR-211-[professionalAdContact]-20260322-[]&type=email&\">http://logc187.xiti.com/hit.xiti?s=582065&amp;xto=EPR-211-[professionalAdContact]-20260322-[]&amp;type=email&amp;</a>]<br/>Tienes un nuevo mensaje que espera tu respuesta</p><p>[<a href=\"https://st3.idealista.com/static/email/img/empty_avatar.png\">https://st3.idealista.com/static/email/img/empty_avatar.png</a>]</p><p>Estefania</p><p>Ver perfil<br/>[<a href=\"https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&showSeekerProfile=true&xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[viewProfileConversation]-724482511423@1-[20260322202023]\">https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&amp;showSeekerProfile=true&amp;xts=582065&amp;xtor=EPR-211-[professionalAdContact]-20260322-[viewProfileConversation]-724482511423@1-[20260322202023]</a>]</p><p>603 89 89 35 [tel:+34603898935]</p><p><a href=\"mailto:stefi_martinelli@hotmail.com.ar\">stefi_martinelli@hotmail.com.ar</a> [stefi_martinelli@hotmail.com.ar]</p><p>Hola, me interesa esta habitaci&oacute;n y me gustar&iacute;a hacer una visita.</p><p>Un saludo<br/>Responder desde idealista/tools<br/>[<a href=\"https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[replyConversationEncourageRentMessage2]-724482511423@1-[20260322202023]\">https://www.idealista.com/replyConversation?hash=PNpeHULQvnnNMgYcBW4F6TWBthmGtf0xML%2FvDqTTw5E%3D&amp;xts=582065&amp;xtor=EPR-211-[professionalAdContact]-20260322-[replyConversationEncourageRentMessage2]-724482511423@1-[20260322202023]</a>]</p><p>[<a href=\"https://img4.idealista.com/blur/140_105_mq/0/id.pro.es.image.master/45/3f/a0/1415259782.jpg\">https://img4.idealista.com/blur/140_105_mq/0/id.pro.es.image.master/45/3f/a0/1415259782.jpg</a>]</p><p>Habitaci&oacute;n en Avenida de Aguilera, Benal&uacute;a, Alicante / Alacant<br/>[<a href=\"https://www.idealista.com/110779118?xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[detalle_desde_contacto]-[]-[]\">https://www.idealista.com/110779118?xts=582065&amp;xtor=EPR-211-[professionalAdContact]-20260322-[detalle_desde_contacto]-[]-[]</a>]</p><p>Ref. 47H3</p><p>C&oacute;digo del anuncio: 110779118</p><p>450 &euro;</p><p>[<a href=\"https://st3.idealista.com/static/email/img/shield_protection_2.png\">https://st3.idealista.com/static/email/img/shield_protection_2.png</a>]<br/>Alquila tus habitaciones m&aacute;s f&aacute;cil con Reserva Online</p><p>Quiero m&aacute;s informaci&oacute;n<br/>[<a href=\"https://www.idealista.com/reserva-online-alquiler?xts=582065&xtor=EPR-211-[professionalAdContact]-20260322-[informationRol]-[]-[]\">https://www.idealista.com/reserva-online-alquiler?xts=582065&amp;xtor=EPR-211-[professionalAdContact]-20260322-[informationRol]-[]-[]</a>]</p><p>[<a href=\"https://st3.idealista.com/static/common/emails/img/infoIcon.png\">https://st3.idealista.com/static/common/emails/img/infoIcon.png</a>]Si te contactan<br/>por chat intenta responder por chat. Las posibilidades de cerrar la operaci&oacute;n se<br/>reducen a la mitad si ignoras la forma de contacto preferida de tu cliente</p><p>Para conocer el uso que hacemos de tus datos puedes consultar nuestra pol&iacute;tica<br/>de privacidad<br/>[<a href=\"https://www.idealista.com/info/proteccion-datos?utm_medium=email&utm_campaign=contact_to_professional_ad&utm_campaigntype=retention&utm_project=others&utm_source=notifications&utm_date_send=2026-03-22T20:20:28&utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&utm_link=proteccionDatos\">https://www.idealista.com/info/proteccion-datos?utm_medium=email&amp;utm_campaign=contact_to_professional_ad&amp;utm_campaigntype=retention&amp;utm_project=others&amp;utm_source=notifications&amp;utm_date_send=2026-03-22T20:20:28&amp;utm_recipient_id=ut3pikbES4QWGBoBVVAwHlp5Faip76Pugu8QrGMaDjU=&amp;utm_link=proteccionDatos</a>]</p><p>idealista en tu m&oacute;vil o tabletApple<br/>[<a href=\"https://st3.idealista.com/static/email/img/badge_ios.png\">https://st3.idealista.com/static/email/img/badge_ios.png</a>]<br/><a href=\"https://idealista.onelink.me/3139118072/4cc77b80\">https://idealista.onelink.me/3139118072/4cc77b80</a>&nbsp; Android<br/>[<a href=\"https://st3.idealista.com/static/email/img/badge_android.png\">https://st3.idealista.com/static/email/img/badge_android.png</a>]<br/><a href=\"https://idealista.onelink.me/3139118072/4cc77b80\">https://idealista.onelink.me/3139118072/4cc77b80</a>&nbsp; Huawei<br/>[<a href=\"https://st3.idealista.com/static/email/img/badge_huawei.png\">https://st3.idealista.com/static/email/img/badge_huawei.png</a>]<a href=\"https://idealista.onelink.me/3139118072/4cc77b80idealista\">https://idealista.onelink.me/3139118072/4cc77b80idealista</a><br/>&copy; 2026</p>","subject":"🤩 Nuevo mensaje (con perfil) de Estefania sobre tu inmueble, con ref: 47H3, Habitación en Avenida de Aguilera, Benalúa, Alicante / Alacant","date":"2026-03-22T19:20:28.000Z","to":{"value":[{"address":"inmobiliariaribon@gmail.com","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:inmobiliariaribon@gmail.com\" class=\"mp_address_email\">inmobiliariaribon@gmail.com</a></span>","text":"inmobiliariaribon@gmail.com"},"from":{"value":[{"address":"reply@idealista.com","name":"idealista"}],"html":"<span class=\"mp_address_group\"><span class=\"mp_address_name\">idealista</span> &lt;<a href=\"mailto:reply@idealista.com\" class=\"mp_address_email\">reply@idealista.com</a>&gt;</span>","text":"\"idealista\" <reply@idealista.com>"},"messageId":"<20260322192028.70B8252001C@mx3r.idealista.com>","replyTo":{"value":[{"address":"stefi_martinelli@hotmail.com.ar","name":""}],"html":"<span class=\"mp_address_group\"><a href=\"mailto:stefi_martinelli@hotmail.com.ar\" class=\"mp_address_email\">stefi_martinelli@hotmail.com.ar</a></span>","text":"stefi_martinelli@hotmail.com.ar"}},"pairedItem":{"item":0}}]},"versionId":"20573b02-ec72-4607-8e04-83fe69c7c31c","activeVersionId":"20573b02-ec72-4607-8e04-83fe69c7c31c","versionCounter":376,"triggerCount":1,"shared":[{"updatedAt":"2026-02-10T12:34:29.101Z","createdAt":"2026-02-10T12:34:29.101Z","role":"workflow:owner","workflowId":"pUmCrm7oDTW8FMzQ9e59o","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <stratoma.ai@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[{"updatedAt":"2026-02-10T13:36:59.936Z","createdAt":"2026-02-10T13:36:59.936Z","id":"Jq3C9KCKKUPw7MkP","name":"Tripath"}],"activeVersion":{"updatedAt":"2026-03-22T19:30:06.000Z","createdAt":"2026-03-22T19:30:03.962Z","versionId":"20573b02-ec72-4607-8e04-83fe69c7c31c","workflowId":"pUmCrm7oDTW8FMzQ9e59o","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"},{"mode":"everyHour","minute":48}]},"simple":false,"filters":{"labelIds":["Label_863935106345007837"],"readStatus":"unread"},"options":{}},"id":"4b2983cb-78c5-467e-8da1-f87ee986c41b","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[-1040,192],"credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account inmobiliariaribon"}}},{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1UuH73Bkk1boP0PGc2KKj8qI2LuzpwaHqBFahY1U1FaE","mode":"url"},"sheetName":{"__rl":true,"value":"Base de Datos","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"EMAIL COMPLETO","lookupValue":"={{ $json['EMAIL COMPLETO'] }}"}]},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"id":"e8d543fd-565d-4b86-8fc7-428463c40709","name":"Extraer datos del Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-592,192],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"Us7ATOmuIQSPhPmA","name":"Google Sheets Infotripath@gmail.com"}}},{"parameters":{"sendTo":"={{ $json.Email }}","subject":"=Hola {{ $json.Nombre }} gracias por tu mensaje, aquí está la información sobre el inmueble {{ $json['Dirección Piso'] }} en  <> Tripath.es ","emailType":"text","message":"=Hola {{ $json.Nombre }},\n\nSoy Lucas de Tripath.es Tengo un mensaje tuyo por un inmueble que tenemos en {{ $json['Dirección Piso'] }}. ¿Para cuándo sería entrar y hasta cuándo? Te mando un vídeo del inmueble y las zonas comunes.\n\nVídeo : {{ $json['Vídeo del Piso'] }}\n\nEste fue el enlace del inmueble por la que preguntaste: \n{{ $json['Link de la habitación preguntada'] }}\n\nPara visitarlo puedes hablarme por Whatsapp a  mí teléfono +34 656 93 33 91. Click aquí para Whatsapp\n\n{{ $json['Mensaje de Whatsapp de Visita a Agente'] }}\nGastos serían 50€ extra al mes en los que se incluye:\n\n-Luz, Gas, Agua hasta 50€ por persona\n-Wifi\n-Mantenimiento\n-Limpieza de las zonas comunes una vez a la semana.\n\nPara reservar serían 2 mensualidades y mensualidad de Service Fee:\n\n-Mes corriente\n-Mes fianza\n-1 Mensualidad de Service Fee\n\n{{ $json['Coste de Entrada'] }}\n\nUn Cordial saludo,\n\nLucas.","options":{"appendAttribution":false,"senderName":"Bookings Tripath"}},"id":"d15e26ed-3911-4e21-b374-002551dae39a","name":"Enviar email de Contestación","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-368,384],"webhookId":"d8c9c72c-9c75-420f-b9d0-822fdef70e71","alwaysOutputData":false,"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Comercial@tripath.es"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1UuH73Bkk1boP0PGc2KKj8qI2LuzpwaHqBFahY1U1FaE","mode":"url"},"sheetName":{"__rl":true,"value":"Base de Datos","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"EMAIL SNIPET":"={{ $json.subject }}","Fecha de Registro":"==IFERROR(\n    IF(\n        ISNUMBER(SEARCH(\"GMT\"; \"{{ $json.date }}\")); \n        DATE(\n            MID(\"{{ $json.date }}\"; 12; 4); \n            SWITCH(MID(\"{{ $json.date }}\"; 5; 3); \n                \"Jan\"; 1; \"Feb\"; 2; \"Mar\"; 3; \"Apr\"; 4; \"May\"; 5; \"Jun\"; 6; \n                \"Jul\"; 7; \"Aug\"; 8; \"Sep\"; 9; \"Oct\"; 10; \"Nov\"; 11; \"Dec\"; 12\n            ); \n            MID(\"{{ $json.date }}\"; 9; 2)\n        ) + TIMEVALUE(MID(\"{{ $json.date }}\"; 18; 8)); \n        DATE(\n            MID(\"{{ $json.date }}\"; 1; 4); \n            MID(\"{{ $json.date }}\"; 6; 2); \n            MID(\"{{ $json.date }}\"; 9; 2)\n        ) + TIMEVALUE(MID(\"{{ $json.date }}\"; 12; 8))\n    ); \n    \"Sin Fecha\"\n)\n","EMAIL COMPLETO":"={{ $json.text }}","Mensaje para Email":"==ArrayFormula(IF(INDIRECT(\"a\"&ROW())=\"\";\"\";\"Hola \"&INDIRECT(\"b\"&ROW())&\" ,  Soy Marcelino de Tripath.es Tengo un mensaje tuyo por un piso que tenemos en \"&INDIRECT(\"g\"&ROW())&\" . ¿Para cuándo sería entrar y hasta cuándo? Te mando un vídeo de la habitación y del piso.  Vídeo : \"&INDIRECT(\"t\"&ROW())&\"  Para visitarlo puedes hablarme por Whatsapp a  mí teléfono +34 656 93 33 91. Click aquí para Whatsapp  \"&INDIRECT(\"aa\"&ROW())&\"  Gastos serían 50€ extra al mes en los que se incluye:  -Luz, Gas, Agua hasta 50€ por persona -Wifi -Mantenimiento -Limpieza de las zonas comunes una vez a la semana.  Para reservar serían 2 mensualidades y 1 mensualidad en concepto de honorarios de Agencia:  -Mes corriente -Mes fianza -Mes de Honorarios  \"&INDIRECT(\"AL\"&ROW())&\"  Muchas gracias por contactarnos.  Un Cordial saludo,  Marcelino.\"))","Coste de Entrada":"=","Vídeo del Piso":"==IFERROR(ArrayFormula(IF(INDIRECT(\"a\"&ROW())=\"\";\"\";VLOOKUP(INDIRECT(\"m\"&ROW());'BBDD Idealista'!B:BG;21;FALSE()))))","Nombre":"==proper(trim(LEFT(MID(INDIRECT(\"r\"&ROW());SEARCH('Operaciones y comandos'!$R$3;INDIRECT(\"r\"&ROW());1)+LEN('Operaciones y comandos'!$R$3);100);FIND('Operaciones y comandos'!$R$4;MID(INDIRECT(\"r\"&ROW());SEARCH('Operaciones y comandos'!$R$3;INDIRECT(\"r\"&ROW());1)+LEN('Operaciones y comandos'!$R$3);100))-1)))","Teléfono tratado":"=","Telefono Tradado":"==IFERROR(\n    REGEXEXTRACT(\n        INDIRECT(\"q\" & ROW());\n        \"\\[tel:\\+([^\\]]+)\\]\"\n    );\n    \"sin teléfono\"\n)\n","Mensaje para Email Creación ":"={{ $json.replyTo.html }}","Email":"==REGEXEXTRACT(INDIRECT(\"AF\" & ROW()); \"mailto:([^\"\"]+)\")\n","Fuente":"idealista","Agente Registrador":"N8N","Mensaje de Whatsapp de Visita a Agente":"==ArrayFormula(if(INDIRECT(\"a\"&ROW())=\"\";\"\";'Operaciones y comandos'!$Y$8&\"34656933391\"&'Operaciones y comandos'!Y9&(SUBSTITUTE(\"Hola soy \"&INDIRECT(\"b\"&ROW())&\" pregunto por la habitación \"&INDIRECT(\"g\"&ROW())&\" en \"&INDIRECT(\"h\"&ROW());\" \";\"+\"))))"},"matchingColumns":[],"schema":[{"id":"Fecha de Registro","displayName":"Fecha de Registro","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre","displayName":"Nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teléfono tratado","displayName":"Teléfono tratado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefono Tradado","displayName":"Telefono Tradado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Precio Habitación ","displayName":"Precio Habitación ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código Habitación Preguntada","displayName":"Código Habitación Preguntada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Dirección Piso","displayName":"Dirección Piso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Ciudad","displayName":"Ciudad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Agente Registrador","displayName":"Agente Registrador","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Cita concertada","displayName":"Cita concertada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Fuente","displayName":"Fuente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Código de la habitación idealista","displayName":"Código de la habitación idealista","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link de la habitación preguntada","displayName":"Link de la habitación preguntada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Enlace a whatsapp","displayName":"Enlace a whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link a Whatsapp","displayName":"Link a Whatsapp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL COMPLETO","displayName":"EMAIL COMPLETO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL SNIPET","displayName":"EMAIL SNIPET","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL HTML","displayName":"EMAIL HTML","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Vídeo del Piso","displayName":"Vídeo del Piso","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Coste de Entrada","displayName":"Coste de Entrada","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Persona visita","displayName":"Persona visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nombre Persona Visita","displayName":"Nombre Persona Visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Teléfono Persona Visita","displayName":"Teléfono Persona Visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Whatsapp Persona Visita","displayName":"Whatsapp Persona Visita","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensaje para Email","displayName":"Mensaje para Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensaje de Whatsapp de Visita a Agente","displayName":"Mensaje de Whatsapp de Visita a Agente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensaje para Email Creación ","displayName":"Mensaje para Email Creación ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}]},"options":{"useAppend":false}},"id":"ff2d6d02-1ae9-4818-a19d-7176b5f3b752","name":"Extrer la info del correo al Gmail y tratar la información con Formulas","type":"n8n-nodes-base.googleSheets","typeVersion":4.3,"position":[-816,192],"retryOnFail":true,"waitBetweenTries":5000,"credentials":{"googleSheetsOAuth2Api":{"id":"Us7ATOmuIQSPhPmA","name":"Google Sheets Infotripath@gmail.com"}}},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Gmail Trigger').item.json.id }}"},"id":"bbd844d5-dbd2-4efd-8d21-2e4fe6353cec","name":"Gmail","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-368,192],"webhookId":"50e860d0-8a1f-44e7-947d-89a97c621bbc","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account inmobiliariaribon"}}},{"parameters":{"sendTo":"=bookings@tripath.es","subject":"=Nuevo Lead para {{ $('Extraer datos del Sheets').item.json['Código Habitación Preguntada'] }} en  {{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }}  {{ $('Extraer datos del Sheets').item.json.Nombre }}","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Solicitud de Habitación</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 20px;\n            padding: 20px;\n            background-color: #f9f9f9;\n        }\n        .container {\n            background-color: #fff;\n            border: 1px solid #ddd;\n            border-radius: 10px;\n            padding: 20px;\n            max-width: 600px;\n            margin: auto;\n            box-shadow: 0 0 10px rgba(0,0,0,0.1);\n        }\n        .header {\n            font-size: 18px;\n            font-weight: bold;\n            margin-bottom: 10px;\n        }\n        .content {\n            margin-bottom: 20px;\n        }\n        .button {\n            display: inline-block;\n            padding: 10px 20px;\n            font-size: 16px;\n            color: #fff;\n            background-color: #28a745;\n            border: none;\n            border-radius: 5px;\n            text-decoration: none;\n            text-align: center;\n            margin-bottom: 10px;\n        }\n        .button:hover {\n            background-color: #218838;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            Tienes una solicitud para la habitación {{ $('Extraer datos del Sheets').item.json['Código Habitación Preguntada'] }} en {{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }} a un precio de {{ $('Extraer datos del Sheets').item.json['Precio Habitación '] }}€.\n        </div>\n        <div class=\"content\">\n            La ha pedido {{ $('Extraer datos del Sheets').item.json.Nombre }}, su teléfono es {{ $('Extraer datos del Sheets').item.json['Teléfono tratado'] }}.\n        </div>\n        <div class=\"content\">\n            <a href=\"{{ $('Extraer datos del Sheets').item.json['Link de la habitación preguntada'] }}\" class=\"button\">Ver Habitación</a>\n        </div>\n        <div class=\"content\">\n            <a href=\"{{ $('Extraer datos del Sheets').item.json['Link a Whatsapp con Aplicación o Móvil'] }}\" class=\"button\">Contactar por WhatsApp</a>\n        </div>\n    </div>\n</body>\n</html>\n","options":{"appendAttribution":false,"ccList":"="}},"id":"2b9b3a62-8e2a-487d-9619-a9bf946c597d","name":"Gmail2","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-144,384],"alwaysOutputData":true,"retryOnFail":false,"webhookId":"bf3719a2-9504-4586-9bab-2586a4acd8a5","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account inmobiliariaribon"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"email":"={{ $json.Email }}","phone":"=+{{ $('Extraer datos del Sheets').item.json['Teléfono tratado Correcto'] }}","additionalFields":{"address1":"={{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }} {{ $('Extraer datos del Sheets').item.json.Ciudad }}","city":"={{ $('Extraer datos del Sheets').item.json.Ciudad }}","customFields":{"values":[{"fieldId":{"__rl":true,"value":"iCOU0VExQBgkH9gqpZ8d","mode":"list","cachedResultName":"Precio admin fee habitacion preguntada"},"fieldValue":"={{ $json['Admin Fee'] }}"},{"fieldId":{"__rl":true,"value":"ZOc55lLvxodtdqLE2nGV","mode":"list","cachedResultName":"Precio habitacion Preguntada"},"fieldValue":"={{ $json['Precio Habitación '] }}"},{"fieldId":{"__rl":true,"value":"zkNIHLWQfxBN5OqqNYdn","mode":"list","cachedResultName":"Calle de la propiedad"},"fieldValue":"={{ $json['Dirección Piso'] }}"},{"fieldId":{"__rl":true,"value":"9EUsS8sgXy5WgKdhgKrW","mode":"list","cachedResultName":"Vídeo de Youtube"},"fieldValue":"={{ $json['Vídeo del Piso'] }}"},{"fieldId":{"__rl":true,"value":"nXQhohZ8Ew266LP334Is","mode":"list","cachedResultName":"Suma Fianza + Honorarios"},"fieldValue":"={{ $json['Suma Fianza + Honorarios'] }}"},{"fieldId":{"__rl":true,"value":"5A0P645BNNFYi7HSSOow","mode":"list","cachedResultName":"SKU (Código de Habitación)"},"fieldValue":"={{ $json['Código Habitación Preguntada'] }}"},{"fieldId":{"__rl":true,"value":"aJ0p8495oKcMJbgSiKTL","mode":"list","cachedResultName":"Inquilino Potencial - ¿Enlace habitación? "},"fieldValue":"={{ $json['LINK Tripath WEB'] }}"},{"fieldId":{"__rl":true,"value":"nlwW6ZwJyz2r9uu38dhK","mode":"list","cachedResultName":"Chattyrental - IA_Activa"},"fieldValue":"ON"},{"fieldId":{"__rl":true,"value":"Im3eq9FwmOYF3uOQMBD1","mode":"list","cachedResultName":"Chattyrental - IA_Bloqueada_humano"},"fieldValue":"No"},{"fieldId":{"__rl":true,"value":"09wQLcv1MnMLYXuf2Lu6","mode":"list","cachedResultName":"Inquilino Potencial - Link Idealista"},"fieldValue":"={{ $json['Link de la habitación preguntada'] }}"}]},"firstName":"={{ $('Extraer datos del Sheets').item.json.Nombre }}","lastName":"= {{ $('Extraer datos del Sheets').item.json['Código Habitación Preguntada'] }} {{ $('Extraer datos del Sheets').item.json['Precio Habitación '] }}€ {{ $('Extraer datos del Sheets').item.json['Dirección Piso'] }} {{ $('Extraer datos del Sheets').item.json.Ciudad }}","source":"=idealista","state":"={{ $json.Ciudad }}","tags":"INQUILINO IDEALISTA, INQUILINO POTENCIAL","website":"={{ $json['Link de la habitación preguntada'] }}"},"requestOptions":{}},"type":"n8n-nodes-base.highLevel","typeVersion":2,"position":[-368,0],"id":"d2770d9f-8615-428b-b7f8-198dcb8e469b","name":"HighLevel","alwaysOutputData":true,"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}},"onError":"continueRegularOutput"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Extrer la info del correo al Gmail y tratar la información con Formulas","type":"main","index":0}]]},"Extraer datos del Sheets":{"main":[[{"node":"Enviar email de Contestación","type":"main","index":0},{"node":"HighLevel","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]},"Enviar email de Contestación":{"main":[[{"node":"Gmail2","type":"main","index":0}]]},"Extrer la info del correo al Gmail y tratar la información con Formulas":{"main":[[{"node":"Extraer datos del Sheets","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":"Version 20573b02","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-22T19:30:06.020Z","id":329,"workflowId":"pUmCrm7oDTW8FMzQ9e59o","versionId":"20573b02-ec72-4607-8e04-83fe69c7c31c","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}