n8n/workflows/Enviar-instrucciones-de-Check-In-al-Recibir-Comprobante-de-R.json
{"updatedAt":"2026-03-11T04:29:34.696Z","createdAt":"2026-02-27T17:44:15.170Z","id":"NUdZufXqkCU1r8cT","name":"Enviar instrucciones de Check In al Recibir Comprobante de Reserva","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"02f2fa2f-aaf5-4d07-aca7-be0598b93c5d","name":"Check In Date","value":"={{ new Date((parseFloat($json[\"Check- IN <> Estimated date you will move in (day, month, year)\"]) - 25569) * 86400 * 1000).toLocaleDateString('es-ES') }}","type":"string"},{"id":"51d0ff00-141e-4c7b-bc25-451ffd4fc8e8","name":"whatsapp","value":"={{ $json[\"Teléfono\"]?.toString().replace(/[^0-9]/g, '') || '' }}","type":"number"},{"id":"0a710db3-80a8-4e7e-b404-1fd1f28b67ac","name":"email","value":"={{ $json['Dirección de correo electrónico'] }}","type":"string"}]},"options":{}},"id":"ac1d5e8f-c2e7-4515-a0da-61c190abb2de","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,176]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID_2","mode":"list","cachedResultName":"Tripath Housing - Survey Results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_2/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1557870054,"mode":"list","cachedResultName":"Booking Receipt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_2/edit#gid=1557870054"},"event":"rowAdded","options":{}},"id":"564753e6-beea-4d7a-8b45-bd32c7825bb6","name":"Trigger Tenants Survey","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[48,176],"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"hg1TVTPJ04BQjmGL","name":"Google Sheets Trigger iuser@gmail.com"}}},{"parameters":{"jsCode":"console.log(\"=== ANÁLISIS DE MARCAS TEMPORALES (MIXTAS) ===\");\nconsole.log(\"Total de items:\", items.length);\n\n// Función para convertir cualquier formato de fecha a número comparable\nfunction dateToComparableNumber(value) {\n  // Si es null o undefined\n  if (!value) return 0;\n  \n  // Si ya es un número (serial de Excel/Google Sheets)\n  if (typeof value === 'number') {\n    return value;\n  }\n  \n  // Si es string\n  if (typeof value === 'string') {\n    // Verificar si es un número en formato string (con coma o punto)\n    const numericString = value.replace(',', '.');\n    if (!isNaN(numericString) && numericString.trim() !== '') {\n      return parseFloat(numericString);\n    }\n    \n    // Si es fecha en formato DD/MM/YYYY HH:MM:SS\n    if (value.includes('/')) {\n      try {\n        const [datePart, timePart = \"00:00:00\"] = value.trim().split(' ');\n        const [day, month, year] = datePart.split('/').map(n => parseInt(n, 10));\n        const [hour = 0, minute = 0, second = 0] = timePart.split(':').map(n => parseInt(n, 10));\n        \n        // Convertir a fecha JavaScript\n        const date = new Date(year, month - 1, day, hour, minute, second);\n        \n        // Convertir fecha a número serial de Excel\n        const excelEpoch = new Date(1899, 11, 30);\n        const msPerDay = 24 * 60 * 60 * 1000;\n        const excelSerial = (date.getTime() - excelEpoch.getTime()) / msPerDay;\n        \n        return excelSerial;\n      } catch (e) {\n        console.log(`Error parsing date \"${value}\":`, e.message);\n        return 0;\n      }\n    }\n  }\n  \n  // Si es un objeto Date\n  if (value instanceof Date) {\n    const excelEpoch = new Date(1899, 11, 30);\n    const msPerDay = 24 * 60 * 60 * 1000;\n    return (value.getTime() - excelEpoch.getTime()) / msPerDay;\n  }\n  \n  return 0;\n}\n\n// Procesar todos los items para comparación\nconst processedItems = items.map((item, index) => {\n  const rawValue = item.json[\"Marca temporal\"];\n  const comparableValue = dateToComparableNumber(rawValue);\n  \n  console.log(`Item ${index}: Marca temporal=\"${rawValue}\" → Valor comparable=${comparableValue.toFixed(8)}`);\n  \n  return {\n    item: item,\n    comparableValue: comparableValue,\n    index: index\n  };\n});\n\n// Encontrar el máximo\nlet maxEntry = processedItems[0];\nprocessedItems.forEach(entry => {\n  if (entry.comparableValue > maxEntry.comparableValue) {\n    maxEntry = entry;\n  }\n});\n\n// Mostrar información del registro seleccionado\nconsole.log(\"\\n=== REGISTRO MÁS RECIENTE ===\");\nconsole.log(\"Marca temporal:\", maxEntry.item.json[\"Marca temporal\"]);\nconsole.log(\"Valor numérico:\", maxEntry.comparableValue.toFixed(8));\nconsole.log(\"Total de columnas en el registro:\", Object.keys(maxEntry.item.json).length);\n\n// Mostrar algunas columnas clave para verificación\nconsole.log(\"\\nAlgunas columnas del registro seleccionado:\");\nconsole.log(\"- ID:\", maxEntry.item.json[\"ID LABEL (Don´t touch)\"]);\nconsole.log(\"- Room:\", maxEntry.item.json[\"ROOM NUMBER / Nº HABITACIÓN\"]);\nconsole.log(\"- First Name:\", maxEntry.item.json[\"Your First Name\"]);\nconsole.log(\"- Check IN:\", maxEntry.item.json[\"Fecha inicio contrato (Check IN)\"]);\nconsole.log(\"- Check OUT:\", maxEntry.item.json[\"Fecha fin contrato (Check Out)\"]);\n\n// IMPORTANTE: Devolver el item COMPLETO con TODAS sus columnas\nreturn [maxEntry.item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,176],"id":"48060c1d-60f1-45ee-980d-6100c423760e","name":"Code in JavaScript1"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"=🏠 Bienvenid@ {{ $('Code in JavaScript1').item.json['Your First Name'] }} · Hab. {{ $('Code in JavaScript1').item.json['Booked Room ( Habitación Reservada)'] }} {{ $('Code in JavaScript1').item.json['Dirección Piso'] }}· Entrada {{ $json['Check In Date'] }} · Instrucciones de check-in","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Instrucciones de Check-In</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333;\n      margin: 0;\n      padding: 0;\n      background-color: #f8f8f8;\n    }\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background: #fff;\n      padding: 20px;\n      border-radius: 4px;\n    }\n    header, section, footer {\n      margin-bottom: 20px;\n    }\n    .logo {\n      display: block;\n      max-width: 200px;\n      margin: 0 auto 20px;\n    }\n    header h1 {\n      color: #2a6ebb;\n      margin-bottom: 0.5em;\n    }\n    h2 {\n      color: #2a6ebb;\n      margin-bottom: 0.5em;\n      border-bottom: 2px solid #e0e0e0;\n      padding-bottom: 0.2em;\n    }\n    .button {\n      display: inline-block;\n      background-color: #2a6ebb;\n      color: #ffffff !important;\n      padding: 10px 16px;\n      text-decoration: none;\n      border-radius: 4px;\n      margin: 8px 0;\n    }\n    .timeline {\n      background-color: #f0f5fb;\n      border-left: 4px solid #2a6ebb;\n      padding: 14px 18px;\n      border-radius: 4px;\n      margin: 12px 0;\n    }\n    .timeline p {\n      margin: 10px 0;\n    }\n    .tag-tiempo {\n      display: inline-block;\n      background-color: #2a6ebb;\n      color: #fff;\n      font-size: 0.78em;\n      font-weight: bold;\n      padding: 2px 8px;\n      border-radius: 12px;\n      margin-right: 6px;\n      vertical-align: middle;\n      letter-spacing: 0.5px;\n    }\n    .tag-aviso {\n      display: inline-block;\n      background-color: #e07b00;\n      color: #fff;\n      font-size: 0.78em;\n      font-weight: bold;\n      padding: 2px 8px;\n      border-radius: 12px;\n      margin-right: 6px;\n      vertical-align: middle;\n      letter-spacing: 0.5px;\n    }\n    .note {\n      font-size: 0.9em;\n      color: #555;\n      margin-top: 10px;\n    }\n    .aviso-box {\n      background-color: #fff4e5;\n      border-left: 4px solid #e07b00;\n      padding: 12px 16px;\n      border-radius: 4px;\n      margin: 12px 0;\n      font-size: 0.95em;\n    }\n    .highlight {\n      font-size: 1.3em;\n      font-weight: bold;\n      color: #2a6ebb;\n      letter-spacing: 2px;\n    }\n    footer p {\n      font-size: 0.8em;\n      color: #777;\n      text-align: center;\n      margin: 0.5em 0;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n\n    <!-- Logo Tripath -->\n    <img src=\"https://yourclient.com/logo-tripath-horizontal.png\" alt=\"Tripath Logo\" class=\"logo\">\n\n    <header>\n      <h1>¡Tu check-in está confirmado!</h1>\n      <p>\n        Hola <strong>{{ $('Code in JavaScript1').item.json['Your First Name'] }}</strong>,\n      </p>\n      <p>\n        Hemos registrado correctamente tu pago de\n        <strong>{{ $('Code in JavaScript1').item.json['Amount deposited €/ Cantidad ingresada €'] }} €</strong>\n        para la habitación\n        <strong>{{ $('Code in JavaScript1').item.json['Booked Room ( Habitación Reservada)'] }} en {{ $('Code in JavaScript1').item.json['Dirección Piso'] }}</strong>.\n        Tu fecha de entrada es el <strong>{{ $json['Check In Date'] }}</strong>.\n      </p>\n      <p>\n        Lee con atención los pasos a continuación para que tu llegada sea perfecta.\n        Hay acciones que debes hacer <strong>antes del día de entrada</strong>, así que no lo dejes para el último momento.\n      </p>\n    </header>\n\n    <section>\n      <h2>Paso 1 — Únete al grupo de WhatsApp del piso</h2>\n      <p>\n        <span class=\"tag-tiempo\">HOY MISMO</span>\n        En cuanto recibas este correo, únete al grupo de WhatsApp del piso para conocer a tus compañeros:\n      </p>\n      <p>\n        <a href=\"{{ $('Code in JavaScript1').item.json['Flat Whatsapp Link'] }}\" class=\"button\">\n          Unirme al grupo de WhatsApp del piso\n        </a>\n      </p>\n      <p class=\"note\">\n        Cuando entres al grupo, por favor:\n        <br>• Preséntate como el nuevo inquilino de la habitación\n        <strong>{{ $('Code in JavaScript1').item.json['Booked Room ( Habitación Reservada)'] }}</strong>.\n        <br>• Cuéntanos brevemente de dónde eres y cuáles son tus intereses (estudios, trabajo, hobbies, etc.).\n      </p>\n    </section>\n\n    <section>\n      <h2>Paso 2 — Coordina tu llegada</h2>\n\n      <div class=\"timeline\">\n        <p>\n          <span class=\"tag-tiempo\">3 DÍAS ANTES</span>\n          Escribe en el grupo de WhatsApp del piso indicando tu <strong>fecha y hora aproximada de llegada</strong>\n          para comprobar si algún compañero puede abrirte el portal ese día.\n        </p>\n        <p>\n          <span class=\"tag-aviso\">48 H ANTES</span>\n          Si ningún compañero puede abrirte, <strong>avísanos directamente a nosotros</strong> con al menos\n          48 horas de antelación para coordinar que alguien de nuestro equipo esté disponible para recibirte.\n        </p>\n      </div>\n\n      <div class=\"aviso-box\">\n        ⚠️ <strong>Importante:</strong> la caja de llaves (keybox) se encuentra <strong>dentro del piso</strong>,\n        por lo que es imprescindible que alguien te abra el portal el día de tu llegada.\n        Si no coordinas tu acceso con antelación, es posible que no podamos garantizar la disponibilidad de una persona del equipo.\n      </div>\n    </section>\n\n    <section>\n      <h2>Paso 3 — El día de tu llegada</h2>\n      <p>\n        <span class=\"tag-tiempo\">DÍA DE ENTRADA</span>\n        Dirígete al <strong>portal del edificio en {{ $('Code in JavaScript1').item.json['Dirección Piso'] }}</strong> y llama al telefonillo de tu vivienda.\n        Tu compañero de piso (o la persona de nuestro equipo, si lo habéis coordinado) te abrirá desde dentro.\n      </p>\n      <p>\n        Una vez dentro del piso, encontrarás la <strong>caja de llaves (keybox)</strong> con tus llaves.\n        Introduce el siguiente código para abrirla:\n      </p>\n      <p>\n        <strong>Código de tu keybox:</strong><br>\n        <span class=\"highlight\">\n          {{ $('Code in JavaScript1').item.json.keybox_password }}\n        </span>\n      </p>\n      <p class=\"note\">\n        Abre la keybox, coge tus llaves y cierra bien la caja.\n        En el grupo de WhatsApp encontrarás la ubicación exacta de la keybox dentro de la vivienda.\n      </p>\n    </section>\n\n    <footer>\n      <p>Gracias por confiar en Tripath / Ribon Real Estate Services.</p>\n      <p>Te esperamos muy pronto. ¡Bienvenido a tu nuevo hogar! PD: Este mensaje puede contener errores, pero nuestro equipo se pondrá en contacto contigo si los hay. Link del comprobante que subiste: {{ $('Code in JavaScript1').item.json['Please attach the bank receipt/Adjunta el justificante bancario'] }}</p>\n    </footer>\n\n  </div>\n</body>\n</html>","options":{"appendAttribution":false,"ccList":"user@yourclient.com","senderName":"Bookings Tripath","replyTo":"bookings@yourclient.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[928,176],"id":"88a59600-b852-4023-a4ac-b88f96b7b5a7","name":"Send a message","webhookId":"fa5ec819-5dca-4f79-946b-cb72cad14ebb","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_YOUR_WHATSAPP_PHONE_ID9099"]},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1152,176],"id":"47e95e3f-ffb5-4740-8c6f-90e76424ffb1","name":"Add label to message","webhookId":"fa5ec819-5dca-4f79-946b-cb72cad14ebb","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f0e7fe0c-004d-4225-9af0-5cd0adba0ce9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[736,176],"id":"88020909-7ecd-467a-828e-d36ac45b583e","name":"Filter"}],"connections":{"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Trigger Tenants Survey":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Add label to message","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Trigger Tenants Survey1":{"documentId":"YOUR_GOOGLE_SHEET_ID_2","sheetId":187288090,"lastRevision":14765,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=YOUR_GOOGLE_SHEET_ID_2&revision=14765&exportFormat=xlsx"},"node:Trigger Tenants Survey":{"documentId":"YOUR_GOOGLE_SHEET_ID_2","sheetId":1557870054,"lastRevision":14946,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=YOUR_GOOGLE_SHEET_ID_2&revision=14946&exportFormat=xlsx","lastIndexChecked":303}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"84f0fee5-4cae-4875-89a2-8bb9e3e55ef5","activeVersionId":"84f0fee5-4cae-4875-89a2-8bb9e3e55ef5","versionCounter":148,"triggerCount":1,"shared":[{"updatedAt":"2026-02-27T17:44:15.189Z","createdAt":"2026-02-27T17:44:15.189Z","role":"workflow:owner","workflowId":"NUdZufXqkCU1r8cT","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[{"updatedAt":"2026-02-10T13:36:59.936Z","createdAt":"2026-02-10T13:36:59.936Z","id":"Jq3C9KCKKUPw7MkP","name":"Tripath"}],"activeVersion":{"updatedAt":"2026-03-11T04:29:47.000Z","createdAt":"2026-03-11T04:29:31.566Z","versionId":"84f0fee5-4cae-4875-89a2-8bb9e3e55ef5","workflowId":"NUdZufXqkCU1r8cT","nodes":[{"parameters":{"assignments":{"assignments":[{"id":"02f2fa2f-aaf5-4d07-aca7-be0598b93c5d","name":"Check In Date","value":"={{ new Date((parseFloat($json[\"Check- IN <> Estimated date you will move in (day, month, year)\"]) - 25569) * 86400 * 1000).toLocaleDateString('es-ES') }}","type":"string"},{"id":"51d0ff00-141e-4c7b-bc25-451ffd4fc8e8","name":"whatsapp","value":"={{ $json[\"Teléfono\"]?.toString().replace(/[^0-9]/g, '') || '' }}","type":"number"},{"id":"0a710db3-80a8-4e7e-b404-1fd1f28b67ac","name":"email","value":"={{ $json['Dirección de correo electrónico'] }}","type":"string"}]},"options":{}},"id":"ac1d5e8f-c2e7-4515-a0da-61c190abb2de","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,176]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"YOUR_GOOGLE_SHEET_ID_2","mode":"list","cachedResultName":"Tripath Housing - Survey Results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_2/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1557870054,"mode":"list","cachedResultName":"Booking Receipt","cachedResultUrl":"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_2/edit#gid=1557870054"},"event":"rowAdded","options":{}},"id":"564753e6-beea-4d7a-8b45-bd32c7825bb6","name":"Trigger Tenants Survey","type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[48,176],"retryOnFail":true,"waitBetweenTries":5000,"maxTries":5,"credentials":{"googleSheetsTriggerOAuth2Api":{"id":"hg1TVTPJ04BQjmGL","name":"Google Sheets Trigger iuser@gmail.com"}}},{"parameters":{"jsCode":"console.log(\"=== ANÁLISIS DE MARCAS TEMPORALES (MIXTAS) ===\");\nconsole.log(\"Total de items:\", items.length);\n\n// Función para convertir cualquier formato de fecha a número comparable\nfunction dateToComparableNumber(value) {\n  // Si es null o undefined\n  if (!value) return 0;\n  \n  // Si ya es un número (serial de Excel/Google Sheets)\n  if (typeof value === 'number') {\n    return value;\n  }\n  \n  // Si es string\n  if (typeof value === 'string') {\n    // Verificar si es un número en formato string (con coma o punto)\n    const numericString = value.replace(',', '.');\n    if (!isNaN(numericString) && numericString.trim() !== '') {\n      return parseFloat(numericString);\n    }\n    \n    // Si es fecha en formato DD/MM/YYYY HH:MM:SS\n    if (value.includes('/')) {\n      try {\n        const [datePart, timePart = \"00:00:00\"] = value.trim().split(' ');\n        const [day, month, year] = datePart.split('/').map(n => parseInt(n, 10));\n        const [hour = 0, minute = 0, second = 0] = timePart.split(':').map(n => parseInt(n, 10));\n        \n        // Convertir a fecha JavaScript\n        const date = new Date(year, month - 1, day, hour, minute, second);\n        \n        // Convertir fecha a número serial de Excel\n        const excelEpoch = new Date(1899, 11, 30);\n        const msPerDay = 24 * 60 * 60 * 1000;\n        const excelSerial = (date.getTime() - excelEpoch.getTime()) / msPerDay;\n        \n        return excelSerial;\n      } catch (e) {\n        console.log(`Error parsing date \"${value}\":`, e.message);\n        return 0;\n      }\n    }\n  }\n  \n  // Si es un objeto Date\n  if (value instanceof Date) {\n    const excelEpoch = new Date(1899, 11, 30);\n    const msPerDay = 24 * 60 * 60 * 1000;\n    return (value.getTime() - excelEpoch.getTime()) / msPerDay;\n  }\n  \n  return 0;\n}\n\n// Procesar todos los items para comparación\nconst processedItems = items.map((item, index) => {\n  const rawValue = item.json[\"Marca temporal\"];\n  const comparableValue = dateToComparableNumber(rawValue);\n  \n  console.log(`Item ${index}: Marca temporal=\"${rawValue}\" → Valor comparable=${comparableValue.toFixed(8)}`);\n  \n  return {\n    item: item,\n    comparableValue: comparableValue,\n    index: index\n  };\n});\n\n// Encontrar el máximo\nlet maxEntry = processedItems[0];\nprocessedItems.forEach(entry => {\n  if (entry.comparableValue > maxEntry.comparableValue) {\n    maxEntry = entry;\n  }\n});\n\n// Mostrar información del registro seleccionado\nconsole.log(\"\\n=== REGISTRO MÁS RECIENTE ===\");\nconsole.log(\"Marca temporal:\", maxEntry.item.json[\"Marca temporal\"]);\nconsole.log(\"Valor numérico:\", maxEntry.comparableValue.toFixed(8));\nconsole.log(\"Total de columnas en el registro:\", Object.keys(maxEntry.item.json).length);\n\n// Mostrar algunas columnas clave para verificación\nconsole.log(\"\\nAlgunas columnas del registro seleccionado:\");\nconsole.log(\"- ID:\", maxEntry.item.json[\"ID LABEL (Don´t touch)\"]);\nconsole.log(\"- Room:\", maxEntry.item.json[\"ROOM NUMBER / Nº HABITACIÓN\"]);\nconsole.log(\"- First Name:\", maxEntry.item.json[\"Your First Name\"]);\nconsole.log(\"- Check IN:\", maxEntry.item.json[\"Fecha inicio contrato (Check IN)\"]);\nconsole.log(\"- Check OUT:\", maxEntry.item.json[\"Fecha fin contrato (Check Out)\"]);\n\n// IMPORTANTE: Devolver el item COMPLETO con TODAS sus columnas\nreturn [maxEntry.item];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[272,176],"id":"48060c1d-60f1-45ee-980d-6100c423760e","name":"Code in JavaScript1"},{"parameters":{"sendTo":"={{ $json.email }}","subject":"=🏠 Bienvenid@ {{ $('Code in JavaScript1').item.json['Your First Name'] }} · Hab. {{ $('Code in JavaScript1').item.json['Booked Room ( Habitación Reservada)'] }} {{ $('Code in JavaScript1').item.json['Dirección Piso'] }}· Entrada {{ $json['Check In Date'] }} · Instrucciones de check-in","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Instrucciones de Check-In</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333;\n      margin: 0;\n      padding: 0;\n      background-color: #f8f8f8;\n    }\n    .container {\n      max-width: 600px;\n      margin: 20px auto;\n      background: #fff;\n      padding: 20px;\n      border-radius: 4px;\n    }\n    header, section, footer {\n      margin-bottom: 20px;\n    }\n    .logo {\n      display: block;\n      max-width: 200px;\n      margin: 0 auto 20px;\n    }\n    header h1 {\n      color: #2a6ebb;\n      margin-bottom: 0.5em;\n    }\n    h2 {\n      color: #2a6ebb;\n      margin-bottom: 0.5em;\n      border-bottom: 2px solid #e0e0e0;\n      padding-bottom: 0.2em;\n    }\n    .button {\n      display: inline-block;\n      background-color: #2a6ebb;\n      color: #ffffff !important;\n      padding: 10px 16px;\n      text-decoration: none;\n      border-radius: 4px;\n      margin: 8px 0;\n    }\n    .timeline {\n      background-color: #f0f5fb;\n      border-left: 4px solid #2a6ebb;\n      padding: 14px 18px;\n      border-radius: 4px;\n      margin: 12px 0;\n    }\n    .timeline p {\n      margin: 10px 0;\n    }\n    .tag-tiempo {\n      display: inline-block;\n      background-color: #2a6ebb;\n      color: #fff;\n      font-size: 0.78em;\n      font-weight: bold;\n      padding: 2px 8px;\n      border-radius: 12px;\n      margin-right: 6px;\n      vertical-align: middle;\n      letter-spacing: 0.5px;\n    }\n    .tag-aviso {\n      display: inline-block;\n      background-color: #e07b00;\n      color: #fff;\n      font-size: 0.78em;\n      font-weight: bold;\n      padding: 2px 8px;\n      border-radius: 12px;\n      margin-right: 6px;\n      vertical-align: middle;\n      letter-spacing: 0.5px;\n    }\n    .note {\n      font-size: 0.9em;\n      color: #555;\n      margin-top: 10px;\n    }\n    .aviso-box {\n      background-color: #fff4e5;\n      border-left: 4px solid #e07b00;\n      padding: 12px 16px;\n      border-radius: 4px;\n      margin: 12px 0;\n      font-size: 0.95em;\n    }\n    .highlight {\n      font-size: 1.3em;\n      font-weight: bold;\n      color: #2a6ebb;\n      letter-spacing: 2px;\n    }\n    footer p {\n      font-size: 0.8em;\n      color: #777;\n      text-align: center;\n      margin: 0.5em 0;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n\n    <!-- Logo Tripath -->\n    <img src=\"https://yourclient.com/logo-tripath-horizontal.png\" alt=\"Tripath Logo\" class=\"logo\">\n\n    <header>\n      <h1>¡Tu check-in está confirmado!</h1>\n      <p>\n        Hola <strong>{{ $('Code in JavaScript1').item.json['Your First Name'] }}</strong>,\n      </p>\n      <p>\n        Hemos registrado correctamente tu pago de\n        <strong>{{ $('Code in JavaScript1').item.json['Amount deposited €/ Cantidad ingresada €'] }} €</strong>\n        para la habitación\n        <strong>{{ $('Code in JavaScript1').item.json['Booked Room ( Habitación Reservada)'] }} en {{ $('Code in JavaScript1').item.json['Dirección Piso'] }}</strong>.\n        Tu fecha de entrada es el <strong>{{ $json['Check In Date'] }}</strong>.\n      </p>\n      <p>\n        Lee con atención los pasos a continuación para que tu llegada sea perfecta.\n        Hay acciones que debes hacer <strong>antes del día de entrada</strong>, así que no lo dejes para el último momento.\n      </p>\n    </header>\n\n    <section>\n      <h2>Paso 1 — Únete al grupo de WhatsApp del piso</h2>\n      <p>\n        <span class=\"tag-tiempo\">HOY MISMO</span>\n        En cuanto recibas este correo, únete al grupo de WhatsApp del piso para conocer a tus compañeros:\n      </p>\n      <p>\n        <a href=\"{{ $('Code in JavaScript1').item.json['Flat Whatsapp Link'] }}\" class=\"button\">\n          Unirme al grupo de WhatsApp del piso\n        </a>\n      </p>\n      <p class=\"note\">\n        Cuando entres al grupo, por favor:\n        <br>• Preséntate como el nuevo inquilino de la habitación\n        <strong>{{ $('Code in JavaScript1').item.json['Booked Room ( Habitación Reservada)'] }}</strong>.\n        <br>• Cuéntanos brevemente de dónde eres y cuáles son tus intereses (estudios, trabajo, hobbies, etc.).\n      </p>\n    </section>\n\n    <section>\n      <h2>Paso 2 — Coordina tu llegada</h2>\n\n      <div class=\"timeline\">\n        <p>\n          <span class=\"tag-tiempo\">3 DÍAS ANTES</span>\n          Escribe en el grupo de WhatsApp del piso indicando tu <strong>fecha y hora aproximada de llegada</strong>\n          para comprobar si algún compañero puede abrirte el portal ese día.\n        </p>\n        <p>\n          <span class=\"tag-aviso\">48 H ANTES</span>\n          Si ningún compañero puede abrirte, <strong>avísanos directamente a nosotros</strong> con al menos\n          48 horas de antelación para coordinar que alguien de nuestro equipo esté disponible para recibirte.\n        </p>\n      </div>\n\n      <div class=\"aviso-box\">\n        ⚠️ <strong>Importante:</strong> la caja de llaves (keybox) se encuentra <strong>dentro del piso</strong>,\n        por lo que es imprescindible que alguien te abra el portal el día de tu llegada.\n        Si no coordinas tu acceso con antelación, es posible que no podamos garantizar la disponibilidad de una persona del equipo.\n      </div>\n    </section>\n\n    <section>\n      <h2>Paso 3 — El día de tu llegada</h2>\n      <p>\n        <span class=\"tag-tiempo\">DÍA DE ENTRADA</span>\n        Dirígete al <strong>portal del edificio en {{ $('Code in JavaScript1').item.json['Dirección Piso'] }}</strong> y llama al telefonillo de tu vivienda.\n        Tu compañero de piso (o la persona de nuestro equipo, si lo habéis coordinado) te abrirá desde dentro.\n      </p>\n      <p>\n        Una vez dentro del piso, encontrarás la <strong>caja de llaves (keybox)</strong> con tus llaves.\n        Introduce el siguiente código para abrirla:\n      </p>\n      <p>\n        <strong>Código de tu keybox:</strong><br>\n        <span class=\"highlight\">\n          {{ $('Code in JavaScript1').item.json.keybox_password }}\n        </span>\n      </p>\n      <p class=\"note\">\n        Abre la keybox, coge tus llaves y cierra bien la caja.\n        En el grupo de WhatsApp encontrarás la ubicación exacta de la keybox dentro de la vivienda.\n      </p>\n    </section>\n\n    <footer>\n      <p>Gracias por confiar en Tripath / Ribon Real Estate Services.</p>\n      <p>Te esperamos muy pronto. ¡Bienvenido a tu nuevo hogar! PD: Este mensaje puede contener errores, pero nuestro equipo se pondrá en contacto contigo si los hay. Link del comprobante que subiste: {{ $('Code in JavaScript1').item.json['Please attach the bank receipt/Adjunta el justificante bancario'] }}</p>\n    </footer>\n\n  </div>\n</body>\n</html>","options":{"appendAttribution":false,"ccList":"user@yourclient.com","senderName":"Bookings Tripath","replyTo":"bookings@yourclient.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[928,176],"id":"88a59600-b852-4023-a4ac-b88f96b7b5a7","name":"Send a message","webhookId":"fa5ec819-5dca-4f79-946b-cb72cad14ebb","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $json.id }}","labelIds":["Label_YOUR_WHATSAPP_PHONE_ID9099"]},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1152,176],"id":"47e95e3f-ffb5-4740-8c6f-90e76424ffb1","name":"Add label to message","webhookId":"fa5ec819-5dca-4f79-946b-cb72cad14ebb","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"f0e7fe0c-004d-4225-9af0-5cd0adba0ce9","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[736,176],"id":"88020909-7ecd-467a-828e-d36ac45b583e","name":"Filter"}],"connections":{"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Trigger Tenants Survey":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Add label to message","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":"Version 84f0fee5","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-11T04:29:47.388Z","id":213,"workflowId":"NUdZufXqkCU1r8cT","versionId":"84f0fee5-4cae-4875-89a2-8bb9e3e55ef5","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"},{"createdAt":"2026-03-23T13:32:17.829Z","id":414,"workflowId":"NUdZufXqkCU1r8cT","versionId":"84f0fee5-4cae-4875-89a2-8bb9e3e55ef5","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"},{"createdAt":"2026-03-23T07:12:52.665Z","id":379,"workflowId":"NUdZufXqkCU1r8cT","versionId":"84f0fee5-4cae-4875-89a2-8bb9e3e55ef5","event":"deactivated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}