n8n/workflows/Int-Kapital-Workflow-de-errores-Pepe.json
{"updatedAt":"2026-03-24T10:49:12.728Z","createdAt":"2026-03-24T10:13:25.539Z","id":"TIrbFWxCbeex4hl3","name":"Int Kapital - Workflow de errores (Pepe)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"45cdb937-3245-4971-9403-f6abff0ee488","name":"Error Trigger"},{"parameters":{"method":"GET","url":"https://paperclip.stratomai.com/api/companies/d18a8211-86d9-4209-bbe2-c7b6e231cd3c/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ \"[n8n Error] \" + ($json.workflow ? $json.workflow.name : \"Unknown\") }}"},{"name":"status","value":"todo,in_progress,blocked"}]},"options":{"timeout":10000}},"id":"3c79bac3-135c-4f98-a2b5-5574ea977204","name":"Buscar Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[210,200],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Check if there are existing open tasks for this workflow error\nconst checkResult = $('Buscar Tarea Existente').item.json;\nconst errorData = $('Error Trigger').item.json;\n\n// Get the array of existing issues\nconst existingIssues = checkResult.data || checkResult || [];\nconst workflowName = errorData.workflow ? errorData.workflow.name : 'Unknown';\n\n// Filter to find tasks that match this specific workflow\nconst matchingTasks = (Array.isArray(existingIssues) ? existingIssues : []).filter(issue => {\n  return issue.title && issue.title.includes(workflowName);\n});\n\nif (matchingTasks.length > 0) {\n  // Found existing task - return it for comment-only path\n  return [{\n    json: {\n      action: 'comment',\n      existingTaskId: matchingTasks[0].id,\n      existingTaskIdentifier: matchingTasks[0].identifier,\n      workflowName: workflowName,\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n} else {\n  // No existing task - return for create path\n  return [{\n    json: {\n      action: 'create',\n      workflowName: workflowName,\n      workflowId: errorData.workflow ? errorData.workflow.id : 'N/A',\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n}"},"id":"1af707b9-6e66-4706-8601-486bba8f249e","name":"Dedup Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-create","leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ed3f2650-b2c3-415f-84cc-bde2e5ec6df5","name":"Solo si NO existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-comment","leftValue":"={{ $json.action }}","rightValue":"comment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"66e2ccce-a383-4bcb-ad81-86e00c7da4e2","name":"Solo si YA existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,300]},{"parameters":{"method":"POST","url":"https://paperclip.stratomai.com/api/companies/d18a8211-86d9-4209-bbe2-c7b6e231cd3c/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify(\"[n8n Error] \" + $json.workflowName + \": \" + $json.errorMessage.substring(0, 80)) }},\n  \"description\": {{ JSON.stringify(\"## Error en n8n\\n\\n**Workflow:** \" + $json.workflowName + \" (ID: \" + $json.workflowId + \")\\n**Ejecución:** \" + $json.executionId + \"\\n**URL:** \" + $json.executionUrl + \"\\n\\n### Error\\n\\n\" + $json.errorMessage + \"\\n\\n---\\n*Creado automáticamente por el workflow de errores de n8n.*\") }},\n  \"status\": \"todo\",\n  \"priority\": \"high\",\n  \"assigneeAgentId\": \"72bbf5cb-6354-4c99-be57-26e9b8441824\"\n}","options":{"timeout":10000}},"id":"cfdb9564-e69a-4104-b861-11b414b98e60","name":"Crear Tarea Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,120],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://paperclip.stratomai.com/api/issues/{{ $json.existingTaskId }}/comments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ body: \"Error repetido — Ejecución: \" + $json.executionId + \"\\n\" + $json.errorMessage }) }}","options":{"timeout":10000}},"id":"c726a51b-6a9a-44d4-abdf-d3c1336cf4c7","name":"Comentar en Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,300],"onError":"continueRegularOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"Buscar Tarea Existente","type":"main","index":0}]]},"Buscar Tarea Existente":{"main":[[{"node":"Dedup Logic","type":"main","index":0}]]},"Dedup Logic":{"main":[[{"node":"Solo si NO existe tarea","type":"main","index":0},{"node":"Solo si YA existe tarea","type":"main","index":0}]]},"Solo si NO existe tarea":{"main":[[{"node":"Crear Tarea Paperclip","type":"main","index":0}]]},"Solo si YA existe tarea":{"main":[[{"node":"Comentar en Tarea Existente","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":null,"versionId":"9c3e85a3-97eb-4029-8a8b-09b2f26258cc","activeVersionId":"9c3e85a3-97eb-4029-8a8b-09b2f26258cc","versionCounter":6,"triggerCount":0,"shared":[{"updatedAt":"2026-03-24T10:13:25.543Z","createdAt":"2026-03-24T10:13:25.543Z","role":"workflow:owner","workflowId":"TIrbFWxCbeex4hl3","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <stratoma.ai@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[{"updatedAt":"2026-03-24T09:51:32.975Z","createdAt":"2026-03-24T09:51:32.975Z","id":"IusNq1o6UGqGxwAX","name":"Int Kapital"}],"activeVersion":{"updatedAt":"2026-03-24T10:13:25.547Z","createdAt":"2026-03-24T10:13:25.547Z","versionId":"9c3e85a3-97eb-4029-8a8b-09b2f26258cc","workflowId":"TIrbFWxCbeex4hl3","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"45cdb937-3245-4971-9403-f6abff0ee488","name":"Error Trigger"},{"parameters":{"method":"GET","url":"https://paperclip.stratomai.com/api/companies/d18a8211-86d9-4209-bbe2-c7b6e231cd3c/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ \"[n8n Error] \" + ($json.workflow ? $json.workflow.name : \"Unknown\") }}"},{"name":"status","value":"todo,in_progress,blocked"}]},"options":{"timeout":10000}},"id":"3c79bac3-135c-4f98-a2b5-5574ea977204","name":"Buscar Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[210,200],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Check if there are existing open tasks for this workflow error\nconst checkResult = $('Buscar Tarea Existente').item.json;\nconst errorData = $('Error Trigger').item.json;\n\n// Get the array of existing issues\nconst existingIssues = checkResult.data || checkResult || [];\nconst workflowName = errorData.workflow ? errorData.workflow.name : 'Unknown';\n\n// Filter to find tasks that match this specific workflow\nconst matchingTasks = (Array.isArray(existingIssues) ? existingIssues : []).filter(issue => {\n  return issue.title && issue.title.includes(workflowName);\n});\n\nif (matchingTasks.length > 0) {\n  // Found existing task - return it for comment-only path\n  return [{\n    json: {\n      action: 'comment',\n      existingTaskId: matchingTasks[0].id,\n      existingTaskIdentifier: matchingTasks[0].identifier,\n      workflowName: workflowName,\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n} else {\n  // No existing task - return for create path\n  return [{\n    json: {\n      action: 'create',\n      workflowName: workflowName,\n      workflowId: errorData.workflow ? errorData.workflow.id : 'N/A',\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n}"},"id":"1af707b9-6e66-4706-8601-486bba8f249e","name":"Dedup Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-create","leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"ed3f2650-b2c3-415f-84cc-bde2e5ec6df5","name":"Solo si NO existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-comment","leftValue":"={{ $json.action }}","rightValue":"comment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"66e2ccce-a383-4bcb-ad81-86e00c7da4e2","name":"Solo si YA existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,300]},{"parameters":{"method":"POST","url":"https://paperclip.stratomai.com/api/companies/d18a8211-86d9-4209-bbe2-c7b6e231cd3c/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify(\"[n8n Error] \" + $json.workflowName + \": \" + $json.errorMessage.substring(0, 80)) }},\n  \"description\": {{ JSON.stringify(\"## Error en n8n\\n\\n**Workflow:** \" + $json.workflowName + \" (ID: \" + $json.workflowId + \")\\n**Ejecución:** \" + $json.executionId + \"\\n**URL:** \" + $json.executionUrl + \"\\n\\n### Error\\n\\n\" + $json.errorMessage + \"\\n\\n---\\n*Creado automáticamente por el workflow de errores de n8n.*\") }},\n  \"status\": \"todo\",\n  \"priority\": \"high\",\n  \"assigneeAgentId\": \"72bbf5cb-6354-4c99-be57-26e9b8441824\"\n}","options":{"timeout":10000}},"id":"cfdb9564-e69a-4104-b861-11b414b98e60","name":"Crear Tarea Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,120],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://paperclip.stratomai.com/api/issues/{{ $json.existingTaskId }}/comments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ body: \"Error repetido — Ejecución: \" + $json.executionId + \"\\n\" + $json.errorMessage }) }}","options":{"timeout":10000}},"id":"c726a51b-6a9a-44d4-abdf-d3c1336cf4c7","name":"Comentar en Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,300],"onError":"continueRegularOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"Buscar Tarea Existente","type":"main","index":0}]]},"Buscar Tarea Existente":{"main":[[{"node":"Dedup Logic","type":"main","index":0}]]},"Dedup Logic":{"main":[[{"node":"Solo si NO existe tarea","type":"main","index":0},{"node":"Solo si YA existe tarea","type":"main","index":0}]]},"Solo si NO existe tarea":{"main":[[{"node":"Crear Tarea Paperclip","type":"main","index":0}]]},"Solo si YA existe tarea":{"main":[[{"node":"Comentar en Tarea Existente","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-24T10:13:36.053Z","id":425,"workflowId":"TIrbFWxCbeex4hl3","versionId":"9c3e85a3-97eb-4029-8a8b-09b2f26258cc","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"},{"createdAt":"2026-03-24T10:49:12.774Z","id":435,"workflowId":"TIrbFWxCbeex4hl3","versionId":"9c3e85a3-97eb-4029-8a8b-09b2f26258cc","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"},{"createdAt":"2026-03-24T10:49:12.759Z","id":434,"workflowId":"TIrbFWxCbeex4hl3","versionId":"9c3e85a3-97eb-4029-8a8b-09b2f26258cc","event":"deactivated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}