n8n/workflows/Neverland-Lombok-Sync-Fathom-meeting-summaries-and-action-it.json
{"updatedAt":"2026-03-24T10:47:54.414Z","createdAt":"2026-03-24T09:52:38.944Z","id":"RNEa5lbm6YxTm9R6","name":"Neverland Lombok - Sync Fathom meeting summaries and action items with GoHighLevel contacts","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Sync Fathom meeting summaries to GoHighLevel contacts\n\n### How it works\n1. Fathom sends webhook when meeting ends with summary and action items\n2. Workflow extracts external attendees from calendar invitees\n3. Searches GoHighLevel for matching contacts by email\n4. Creates internal conversation comment with brief summary + recording link\n5. Adds detailed meeting note to contact record\n6. Converts action items into GHL tasks (due 7 days from meeting)\n\n### Setup\n- [x] Set your `ghl_location_id` in the **Config** node\n- [x] Connect GoHighLevel OAuth2 credentials to the HTTP Request nodes\n- [x] Copy the webhook URL to Fathom: Settings → API → Webhooks → \"New meeting content ready\"\n- [x] Activate the workflow\n\n### Requirements\n- Fathom account with API/webhook access\n- GoHighLevel account with Private Integration Token or OAuth app\n- Required GHL scopes: `contacts.readonly`, `contacts.write`, `conversations.readonly`, `conversations.write`, `conversations/message.write`","height":736,"width":440},"id":"1e29d607-869f-410c-acd1-cad809eaf11e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[352,240],"typeVersion":1},{"parameters":{"content":"## 1. Webhook & Data Prep\nReceive Fathom payload and extract external meeting attendees\nPoner el ID de Calendarios Secundarios dentro del Principal conectado a Fathom\n","height":352,"width":664,"color":7},"id":"3204d70f-ac2f-4f3f-94dc-e250bc7bbfd7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[928,560],"typeVersion":1},{"parameters":{"content":"## 2. Contact Matching\nLoop over attendees and search for existing GHL contacts","height":264,"width":504,"color":7},"id":"ed95e350-36e3-406b-9fcf-e4aaebd8b6f7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2464,368],"typeVersion":1},{"parameters":{"content":"## 3. Conversation & Notes\nFind or create conversation, add internal comment, create detailed note","height":448,"width":1320,"color":7},"id":"17f5c191-94fc-4ac7-a5cf-ce0fecd1e031","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2944,176],"typeVersion":1},{"parameters":{"content":"## 4. Task Creation\nConvert Fathom action items into GHL tasks","height":552,"width":904,"color":7},"id":"6c3f9f66-84c1-464f-a5a5-f724066ce533","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[4272,144],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"fathom-neverland","options":{}},"id":"81482b63-2a25-415b-a327-986cee890bbf","name":"Fathom Webhook","type":"n8n-nodes-base.webhook","position":[976,752],"webhookId":"fathom-neverland","typeVersion":2},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ghl_location_id\": \"YOUR_GHL_LOCATION_ID\",\n  \"webhookData\": {{ JSON.stringify($json.body || $json) }}\n}","options":{}},"id":"ca7fbaca-3026-44e3-a338-ad6ccf37c402","name":"Config","type":"n8n-nodes-base.set","position":[1200,752],"typeVersion":3.4},{"parameters":{"jsCode":"const configNode = $(\"Config\").first().json;\nconst webhookData = configNode.webhookData;\n\nlet finalEmail = null;\nlet finalName = null;\n\n// 1. Recoger la decisión de la IA y LIMPIAR el Markdown\ntry {\n  let aiRawText = $(\"Basic LLM Chain\").first().json.text;\n  \n  // Limpiamos las etiquetas ```json y ``` que añade la IA\n  const cleanJsonText = aiRawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  \n  const aiResult = JSON.parse(cleanJsonText);\n  \n  if (aiResult.match_encontrado || aiResult.match_exitoso) {\n    finalEmail = aiResult.email || aiResult.email_cliente;\n    finalName = aiResult.nombre_ghl || aiResult.nombre_exacto || aiResult.nombre_cliente;\n  }\n} catch (e) {\n  console.log(\"Error parseando el JSON de la IA, intentando fallback de Fathom...\");\n}\n\n// 2. FALLBACK: Si la IA falló o no dio formato correcto, usamos Fathom\nif (!finalEmail) {\n  const fGuest = (webhookData.calendar_invitees || []).find(i => i.is_external === true);\n  finalEmail = fGuest?.email;\n  finalName = fGuest?.name;\n}\n\n// Detener si después de todo no hay email (evita errores en nodos siguientes)\nif (!finalEmail) return [];\n\n// 3. Formatear el resumen para GHL\nconst cleanSummary = (webhookData.default_summary?.markdown_formatted || \"\")\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1') // Quita links de Fathom\n  .replace(/\\n/g, '<br>');\n\nconst noteBody = `<b>Reunión ${new Date(webhookData.scheduled_start_time).toLocaleDateString('en-GB')}</b><br><br><b>Resumen:</b><br>${cleanSummary}<br><br><b>Grabación:</b> ${webhookData.share_url}`;\n\n// 4. SALIDA FINAL\nreturn [{\n  json: {\n    attendee_email: finalEmail.toLowerCase().trim(),\n    attendee_name: finalName || 'Cliente',\n    note_body: noteBody,\n    action_items: webhookData.action_items || [],\n    meeting_date: webhookData.scheduled_start_time,\n    location_id: configNode.ghl_location_id\n  }\n}];"},"id":"59943672-90e4-4e73-a5d8-b3cbd171008a","name":"Parse External Attendees","type":"n8n-nodes-base.code","position":[2096,752],"typeVersion":2},{"parameters":{"options":{}},"id":"87f00808-75d8-4e7c-8047-cabf4849be66","name":"Loop Over Attendees","type":"n8n-nodes-base.splitInBatches","position":[2320,752],"typeVersion":3},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/contacts/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"locationId\": \"{{ $(\"Config\").first().json.ghl_location_id }}\",\n  \"query\": \"{{ $json.attendee_email }}\",\n  \"pageLimit\": 1\n}","options":{}},"id":"82299e3b-4c55-479d-a129-779fe8caed39","name":"Search GHL Contact","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[2544,464],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"condition-contact-found","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.contacts.length }}","rightValue":0}]},"options":{}},"id":"2bf0f245-3c05-4543-be33-1bc15c6b3640","name":"Contact Found?","type":"n8n-nodes-base.if","position":[2768,464],"typeVersion":2},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Search GHL Contact').item.json.contacts[0].id }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": {{ JSON.stringify($('Parse External Attendees').item.json.note_body) }}\n}","options":{}},"id":"f6858bba-a826-455f-a752-14bde66c6a52","name":"Create GHL Note","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[4112,368],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{},"id":"472a2407-31bc-4fc0-927a-b49774a6c748","name":"No Contact - Skip","type":"n8n-nodes-base.noOp","position":[2992,560],"typeVersion":1},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"={{ $(\"Config\").first().json.ghl_location_id }}"},{"name":"contactId","value":"={{ $('Search GHL Contact').item.json.contacts[0].id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"options":{}},"id":"bf7dcaf6-d373-419a-9ea2-64397517e50b","name":"Search Conversation","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[2992,368],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"condition-convo-exists","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.conversations?.length || 0 }}","rightValue":0}]},"options":{}},"id":"99b42161-c8de-4097-ac69-5f20d540728f","name":"Conversation Exists?","type":"n8n-nodes-base.if","position":[3216,368],"typeVersion":2},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"locationId\": \"{{ $(\"Config\").first().json.ghl_location_id }}\",\n  \"contactId\": \"{{ $('Search GHL Contact').item.json.contacts[0].id }}\"\n}","options":{}},"id":"8b102283-10ec-4465-9e9b-053ff137e868","name":"Create Conversation","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[3440,464],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"jsCode":"// Extract conversationId from search results (existing conversation)\nconst conversations = $('Search Conversation').item.json.conversations;\nif (conversations && conversations.length > 0) {\n  return [{ json: { conversationId: conversations[0].id } }];\n}\nthrow new Error('No conversation found');"},"id":"6e2a4018-5818-459a-b688-9175af090e5b","name":"Use Existing Conversation","type":"n8n-nodes-base.code","position":[3664,272],"typeVersion":2},{"parameters":{"jsCode":"// Extract conversationId from newly created conversation\nconst item = $input.first().json;\nconst conversationId = item.conversation?.id || item.id;\nif (!conversationId) {\n  throw new Error('Could not get conversationId from create response');\n}\nreturn [{ json: { conversationId } }];"},"id":"d6caea70-2240-4f6c-94be-ca540f40667a","name":"Extract New Conversation ID","type":"n8n-nodes-base.code","position":[3664,464],"typeVersion":2},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"type\": \"InternalComment\",\n  \"conversationId\": $(\"Use Existing Conversation\").first().json.conversationId,\n  \"contactId\": $(\"Search GHL Contact\").first().json.contacts[0].id,\n  \"message\": $(\"Parse External Attendees\").first().json.note_body\n}\n}}","options":{}},"id":"bdd509bb-6de1-4e98-a9c3-9c0f6d10b007","name":"Create Internal Comment","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[3888,368],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition-has-action-items","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $(\"Parse External Attendees\").first().json.action_items.length }}","rightValue":0}],"combinator":"and"},"options":{}},"id":"60620891-1ade-4114-9624-2bf01c553635","name":"Has Action Items?","type":"n8n-nodes-base.if","position":[4336,368],"typeVersion":2},{"parameters":{},"id":"bd0c5aad-6780-4bf1-b58a-adf43a936fd9","name":"No Action Items - Skip","type":"n8n-nodes-base.noOp","position":[4560,464],"typeVersion":1},{"parameters":{"jsCode":"const contactId = $('Search GHL Contact').item.json.contacts[0].id;\nconst actionItems = $('Parse External Attendees').item.json.action_items || [];\nconst meetingTitle = $('Parse External Attendees').item.json.meeting_title;\n\n// Calculate due date (7 days from now at 17:00)\nconst dueDate = new Date();\ndueDate.setDate(dueDate.getDate() + 7);\ndueDate.setHours(17, 0, 0, 0);\n\nreturn actionItems.map(item => ({\n  json: {\n    contactId: contactId,\n    title: item.description,\n    completed: item.completed || false,\n    dueDate: dueDate.toISOString(),\n    body: `<b>From meeting:</b> ${meetingTitle}`\n  }\n}));"},"id":"86e5f352-7190-437b-9826-572f7fc9d937","name":"Prepare Action Items","type":"n8n-nodes-base.code","position":[4560,272],"typeVersion":2},{"parameters":{"options":{}},"id":"d0ddd2f0-0194-40e4-8da6-9adb0b6ed2b1","name":"Loop Over Action Items","type":"n8n-nodes-base.splitInBatches","position":[4784,544],"typeVersion":3},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"dueDate\": \"{{ $json.dueDate }}\",\n  \"completed\": {{ $json.completed }},\n  \"body\": {{ JSON.stringify($json.body) }}\n}","options":{}},"id":"6d0dcc0d-9d8d-48a0-85f6-e13bad6b1e3a","name":"Create GHL Task","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[5008,544],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"={{ $json.calendarId }}","mode":"id"},"timeMin":"={{ new Date(new Date($(\"Config\").first().json.webhookData.scheduled_start_time).getTime() - 600000).toISOString() }}","timeMax":"={{ new Date(new Date($(\"Config\").first().json.webhookData.scheduled_start_time).getTime() + 600000).toISOString() }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1648,752],"id":"a3cbb534-1414-4755-82f3-f5bf46014667","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"29l8TlY4PtZazrXv","name":"Google Calendar Invest in Lombok"}}},{"parameters":{"jsCode":"// Definimos los 3 IDs de calendarios secundarios que me pasaste\nconst calendarIds = [\n  \"YOUR_CALENDAR_ID_3@group.calendar.google.com\", // Lara Olivares\n  \"YOUR_CALENDAR_ID_2@group.calendar.google.com\", // Edu\n  \"YOUR_CALENDAR_ID_1@group.calendar.google.com\"  // Paula\n];\n\n// Creamos 3 items de salida para que el siguiente nodo se ejecute 3 veces\nreturn calendarIds.map(id => {\n  return {\n    json: {\n      calendarId: id\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,752],"id":"63fe5c8a-2b14-4cd8-a814-cbcb6dee1583","name":"Calendarios Secundarios dentro del Principal conectado a Fathom"},{"parameters":{"content":"## Buscar evento en la misma hora en los calendarios\n","height":352,"width":592},"type":"n8n-nodes-base.stickyNote","position":[1520,560],"typeVersion":1,"id":"0890ebb7-69a3-4646-a41b-9c45135a1f39","name":"Sticky Note5"},{"parameters":{"jsCode":"// Aplana todos los eventos de los 3 calendarios en una sola lista\nconst allEvents = $input.all().flatMap(item => \n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\nreturn [{\n  json: {\n    lista_eventos: allEvents\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,752],"id":"c2c5160d-4827-410b-a229-ee5bf9e53c9b","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"=\"Actúa como un motor de matching de identidad.\n\nNOMBRE DEL CLIENTE (detectado por voz en la reunión):\n{{ $(\"Config\").first().json.webhookData.transcript.find(t => t.speaker.display_name !== 'Comercial Casa Caoba')?.speaker.display_name }}\n\nNombre del EVENTO en google Calendar {{ $json.lista_eventos[0].summary }} mail del evento de google calendar {{ $json.lista_eventos[0].attendees[0].email }} nombre de la persona que atendio a google calendar {{ $json.lista_eventos[0].attendees[0].displayName }}\n\nResumen de reunión de Fathom AI:\n{{ $('Fathom Webhook').first().json.body.default_summary.markdown_formatted }}\n\nEVENTOS DE LOS CALENDARIOS (con sus asistentes):\n{{ JSON.stringify($json.lista_eventos) }}\n\nINSTRUCCIONES:\n1. Cada evento tiene un array 'attendees' con 'email' y 'displayName'\n2. Compara el nombre del cliente con los 'displayName' de los attendees, también el del evento de google calendar con la información de Eventos de los Calendarios de tus Asistentes. A veces puede conectarse en un email, 2 o 3 personas por parte de los asistentes.\n3. Ignora cualquier email que contenga 'yourclient3.com'\n4. Si hay coincidencia superior al 80%, devuelve ese contacto\n\nRESPONDE SOLO CON ESTE JSON, SIN TEXTO ADICIONAL, SIN MARKDOWN:\n{\\\"match_encontrado\\\": true, \\\"email\\\": \\\"correo@cliente.com\\\", \\\"nombre_ghl\\\": \\\"Nombre del Calendar\\\"}\n\nSi no hay coincidencia clara devuelve exactamente:\n{\\\"match_encontrado\\\": false}\"","needsFallback":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1696,992],"id":"ab27333d-f0a5-43ce-9fdf-74a4e4c7267b","name":"Basic LLM Chain"},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1456,1216],"id":"f997739b-c67b-490a-84a7-dee5118bd4db","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1632,1200],"id":"114b5526-066b-4a70-bd72-53c31579e19f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Config":{"main":[[{"node":"Calendarios Secundarios dentro del Principal conectado a Fathom","type":"main","index":0}]]},"Contact Found?":{"main":[[{"node":"Search Conversation","type":"main","index":0}],[{"node":"No Contact - Skip","type":"main","index":0}]]},"Fathom Webhook":{"main":[[{"node":"Config","type":"main","index":0}]]},"Create GHL Note":{"main":[[{"node":"Has Action Items?","type":"main","index":0}]]},"Create GHL Task":{"main":[[{"node":"Loop Over Action Items","type":"main","index":0}]]},"Has Action Items?":{"main":[[{"node":"Prepare Action Items","type":"main","index":0}],[{"node":"No Action Items - Skip","type":"main","index":0}]]},"No Contact - Skip":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}]]},"Search GHL Contact":{"main":[[{"node":"Contact Found?","type":"main","index":0}]]},"Create Conversation":{"main":[[{"node":"Extract New Conversation ID","type":"main","index":0}]]},"Loop Over Attendees":{"main":[[],[{"node":"Search GHL Contact","type":"main","index":0}]]},"Search Conversation":{"main":[[{"node":"Conversation Exists?","type":"main","index":0}]]},"Conversation Exists?":{"main":[[{"node":"Use Existing Conversation","type":"main","index":0}],[{"node":"Create Conversation","type":"main","index":0}]]},"Prepare Action Items":{"main":[[{"node":"Loop Over Action Items","type":"main","index":0}]]},"Loop Over Action Items":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}],[{"node":"Create GHL Task","type":"main","index":0}]]},"No Action Items - Skip":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}]]},"Create Internal Comment":{"main":[[{"node":"Create GHL Note","type":"main","index":0}]]},"Parse External Attendees":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}]]},"Use Existing Conversation":{"main":[[{"node":"Create Internal Comment","type":"main","index":0}]]},"Extract New Conversation ID":{"main":[[{"node":"Create Internal Comment","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Calendarios Secundarios dentro del Principal conectado a Fathom":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Parse External Attendees","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Parse External Attendees","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"TIrbFWxCbeex4hl3"},"staticData":null,"meta":null,"pinData":{},"versionId":"9d92fec6-5e33-4356-adb6-174584bb5c29","activeVersionId":"9d92fec6-5e33-4356-adb6-174584bb5c29","versionCounter":30,"triggerCount":1,"shared":[{"updatedAt":"2026-03-24T09:52:38.949Z","createdAt":"2026-03-24T09:52:38.949Z","role":"workflow:owner","workflowId":"RNEa5lbm6YxTm9R6","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"YOUR_N8N_USER_ID"}}],"tags":[{"updatedAt":"2026-03-24T09:51:32.975Z","createdAt":"2026-03-24T09:51:32.975Z","id":"IusNq1o6UGqGxwAX","name":"Int Kapital"}],"activeVersion":{"updatedAt":"2026-03-24T10:48:04.000Z","createdAt":"2026-03-24T10:47:54.415Z","versionId":"9d92fec6-5e33-4356-adb6-174584bb5c29","workflowId":"RNEa5lbm6YxTm9R6","nodes":[{"parameters":{"content":"## Sync Fathom meeting summaries to GoHighLevel contacts\n\n### How it works\n1. Fathom sends webhook when meeting ends with summary and action items\n2. Workflow extracts external attendees from calendar invitees\n3. Searches GoHighLevel for matching contacts by email\n4. Creates internal conversation comment with brief summary + recording link\n5. Adds detailed meeting note to contact record\n6. Converts action items into GHL tasks (due 7 days from meeting)\n\n### Setup\n- [x] Set your `ghl_location_id` in the **Config** node\n- [x] Connect GoHighLevel OAuth2 credentials to the HTTP Request nodes\n- [x] Copy the webhook URL to Fathom: Settings → API → Webhooks → \"New meeting content ready\"\n- [x] Activate the workflow\n\n### Requirements\n- Fathom account with API/webhook access\n- GoHighLevel account with Private Integration Token or OAuth app\n- Required GHL scopes: `contacts.readonly`, `contacts.write`, `conversations.readonly`, `conversations.write`, `conversations/message.write`","height":736,"width":440},"id":"1e29d607-869f-410c-acd1-cad809eaf11e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[352,240],"typeVersion":1},{"parameters":{"content":"## 1. Webhook & Data Prep\nReceive Fathom payload and extract external meeting attendees\nPoner el ID de Calendarios Secundarios dentro del Principal conectado a Fathom\n","height":352,"width":664,"color":7},"id":"3204d70f-ac2f-4f3f-94dc-e250bc7bbfd7","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[928,560],"typeVersion":1},{"parameters":{"content":"## 2. Contact Matching\nLoop over attendees and search for existing GHL contacts","height":264,"width":504,"color":7},"id":"ed95e350-36e3-406b-9fcf-e4aaebd8b6f7","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[2464,368],"typeVersion":1},{"parameters":{"content":"## 3. Conversation & Notes\nFind or create conversation, add internal comment, create detailed note","height":448,"width":1320,"color":7},"id":"17f5c191-94fc-4ac7-a5cf-ce0fecd1e031","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[2944,176],"typeVersion":1},{"parameters":{"content":"## 4. Task Creation\nConvert Fathom action items into GHL tasks","height":552,"width":904,"color":7},"id":"6c3f9f66-84c1-464f-a5a5-f724066ce533","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[4272,144],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"fathom-neverland","options":{}},"id":"81482b63-2a25-415b-a327-986cee890bbf","name":"Fathom Webhook","type":"n8n-nodes-base.webhook","position":[976,752],"webhookId":"fathom-neverland","typeVersion":2},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"ghl_location_id\": \"YOUR_GHL_LOCATION_ID\",\n  \"webhookData\": {{ JSON.stringify($json.body || $json) }}\n}","options":{}},"id":"ca7fbaca-3026-44e3-a338-ad6ccf37c402","name":"Config","type":"n8n-nodes-base.set","position":[1200,752],"typeVersion":3.4},{"parameters":{"jsCode":"const configNode = $(\"Config\").first().json;\nconst webhookData = configNode.webhookData;\n\nlet finalEmail = null;\nlet finalName = null;\n\n// 1. Recoger la decisión de la IA y LIMPIAR el Markdown\ntry {\n  let aiRawText = $(\"Basic LLM Chain\").first().json.text;\n  \n  // Limpiamos las etiquetas ```json y ``` que añade la IA\n  const cleanJsonText = aiRawText.replace(/```json/g, \"\").replace(/```/g, \"\").trim();\n  \n  const aiResult = JSON.parse(cleanJsonText);\n  \n  if (aiResult.match_encontrado || aiResult.match_exitoso) {\n    finalEmail = aiResult.email || aiResult.email_cliente;\n    finalName = aiResult.nombre_ghl || aiResult.nombre_exacto || aiResult.nombre_cliente;\n  }\n} catch (e) {\n  console.log(\"Error parseando el JSON de la IA, intentando fallback de Fathom...\");\n}\n\n// 2. FALLBACK: Si la IA falló o no dio formato correcto, usamos Fathom\nif (!finalEmail) {\n  const fGuest = (webhookData.calendar_invitees || []).find(i => i.is_external === true);\n  finalEmail = fGuest?.email;\n  finalName = fGuest?.name;\n}\n\n// Detener si después de todo no hay email (evita errores en nodos siguientes)\nif (!finalEmail) return [];\n\n// 3. Formatear el resumen para GHL\nconst cleanSummary = (webhookData.default_summary?.markdown_formatted || \"\")\n  .replace(/\\[([^\\]]+)\\]\\([^)]+\\)/g, '$1') // Quita links de Fathom\n  .replace(/\\n/g, '<br>');\n\nconst noteBody = `<b>Reunión ${new Date(webhookData.scheduled_start_time).toLocaleDateString('en-GB')}</b><br><br><b>Resumen:</b><br>${cleanSummary}<br><br><b>Grabación:</b> ${webhookData.share_url}`;\n\n// 4. SALIDA FINAL\nreturn [{\n  json: {\n    attendee_email: finalEmail.toLowerCase().trim(),\n    attendee_name: finalName || 'Cliente',\n    note_body: noteBody,\n    action_items: webhookData.action_items || [],\n    meeting_date: webhookData.scheduled_start_time,\n    location_id: configNode.ghl_location_id\n  }\n}];"},"id":"59943672-90e4-4e73-a5d8-b3cbd171008a","name":"Parse External Attendees","type":"n8n-nodes-base.code","position":[2096,752],"typeVersion":2},{"parameters":{"options":{}},"id":"87f00808-75d8-4e7c-8047-cabf4849be66","name":"Loop Over Attendees","type":"n8n-nodes-base.splitInBatches","position":[2320,752],"typeVersion":3},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/contacts/search","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"locationId\": \"{{ $(\"Config\").first().json.ghl_location_id }}\",\n  \"query\": \"{{ $json.attendee_email }}\",\n  \"pageLimit\": 1\n}","options":{}},"id":"82299e3b-4c55-479d-a129-779fe8caed39","name":"Search GHL Contact","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[2544,464],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":5000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"condition-contact-found","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.contacts.length }}","rightValue":0}]},"options":{}},"id":"2bf0f245-3c05-4543-be33-1bc15c6b3640","name":"Contact Found?","type":"n8n-nodes-base.if","position":[2768,464],"typeVersion":2},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Search GHL Contact').item.json.contacts[0].id }}/notes","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": {{ JSON.stringify($('Parse External Attendees').item.json.note_body) }}\n}","options":{}},"id":"f6858bba-a826-455f-a752-14bde66c6a52","name":"Create GHL Note","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[4112,368],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{},"id":"472a2407-31bc-4fc0-927a-b49774a6c748","name":"No Contact - Skip","type":"n8n-nodes-base.noOp","position":[2992,560],"typeVersion":1},{"parameters":{"url":"https://services.leadconnectorhq.com/conversations/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"={{ $(\"Config\").first().json.ghl_location_id }}"},{"name":"contactId","value":"={{ $('Search GHL Contact').item.json.contacts[0].id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"options":{}},"id":"bf7dcaf6-d373-419a-9ea2-64397517e50b","name":"Search Conversation","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[2992,368],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"condition-convo-exists","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $json.conversations?.length || 0 }}","rightValue":0}]},"options":{}},"id":"99b42161-c8de-4097-ac69-5f20d540728f","name":"Conversation Exists?","type":"n8n-nodes-base.if","position":[3216,368],"typeVersion":2},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"locationId\": \"{{ $(\"Config\").first().json.ghl_location_id }}\",\n  \"contactId\": \"{{ $('Search GHL Contact').item.json.contacts[0].id }}\"\n}","options":{}},"id":"8b102283-10ec-4465-9e9b-053ff137e868","name":"Create Conversation","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[3440,464],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"jsCode":"// Extract conversationId from search results (existing conversation)\nconst conversations = $('Search Conversation').item.json.conversations;\nif (conversations && conversations.length > 0) {\n  return [{ json: { conversationId: conversations[0].id } }];\n}\nthrow new Error('No conversation found');"},"id":"6e2a4018-5818-459a-b688-9175af090e5b","name":"Use Existing Conversation","type":"n8n-nodes-base.code","position":[3664,272],"typeVersion":2},{"parameters":{"jsCode":"// Extract conversationId from newly created conversation\nconst item = $input.first().json;\nconst conversationId = item.conversation?.id || item.id;\nif (!conversationId) {\n  throw new Error('Could not get conversationId from create response');\n}\nreturn [{ json: { conversationId } }];"},"id":"d6caea70-2240-4f6c-94be-ca540f40667a","name":"Extract New Conversation ID","type":"n8n-nodes-base.code","position":[3664,464],"typeVersion":2},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{\n{\n  \"type\": \"InternalComment\",\n  \"conversationId\": $(\"Use Existing Conversation\").first().json.conversationId,\n  \"contactId\": $(\"Search GHL Contact\").first().json.contacts[0].id,\n  \"message\": $(\"Parse External Attendees\").first().json.note_body\n}\n}}","options":{}},"id":"bdd509bb-6de1-4e98-a9c3-9c0f6d10b007","name":"Create Internal Comment","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[3888,368],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"condition-has-action-items","operator":{"type":"number","operation":"gt"},"leftValue":"={{ $(\"Parse External Attendees\").first().json.action_items.length }}","rightValue":0}],"combinator":"and"},"options":{}},"id":"60620891-1ade-4114-9624-2bf01c553635","name":"Has Action Items?","type":"n8n-nodes-base.if","position":[4336,368],"typeVersion":2},{"parameters":{},"id":"bd0c5aad-6780-4bf1-b58a-adf43a936fd9","name":"No Action Items - Skip","type":"n8n-nodes-base.noOp","position":[4560,464],"typeVersion":1},{"parameters":{"jsCode":"const contactId = $('Search GHL Contact').item.json.contacts[0].id;\nconst actionItems = $('Parse External Attendees').item.json.action_items || [];\nconst meetingTitle = $('Parse External Attendees').item.json.meeting_title;\n\n// Calculate due date (7 days from now at 17:00)\nconst dueDate = new Date();\ndueDate.setDate(dueDate.getDate() + 7);\ndueDate.setHours(17, 0, 0, 0);\n\nreturn actionItems.map(item => ({\n  json: {\n    contactId: contactId,\n    title: item.description,\n    completed: item.completed || false,\n    dueDate: dueDate.toISOString(),\n    body: `<b>From meeting:</b> ${meetingTitle}`\n  }\n}));"},"id":"86e5f352-7190-437b-9826-572f7fc9d937","name":"Prepare Action Items","type":"n8n-nodes-base.code","position":[4560,272],"typeVersion":2},{"parameters":{"options":{}},"id":"d0ddd2f0-0194-40e4-8da6-9adb0b6ed2b1","name":"Loop Over Action Items","type":"n8n-nodes-base.splitInBatches","position":[4784,544],"typeVersion":3},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.contactId }}/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"},{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"dueDate\": \"{{ $json.dueDate }}\",\n  \"completed\": {{ $json.completed }},\n  \"body\": {{ JSON.stringify($json.body) }}\n}","options":{}},"id":"6d0dcc0d-9d8d-48a0-85f6-e13bad6b1e3a","name":"Create GHL Task","type":"n8n-nodes-base.httpRequest","maxTries":3,"position":[5008,544],"retryOnFail":true,"typeVersion":4.2,"waitBetweenTries":1000},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"={{ $json.calendarId }}","mode":"id"},"timeMin":"={{ new Date(new Date($(\"Config\").first().json.webhookData.scheduled_start_time).getTime() - 600000).toISOString() }}","timeMax":"={{ new Date(new Date($(\"Config\").first().json.webhookData.scheduled_start_time).getTime() + 600000).toISOString() }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1648,752],"id":"a3cbb534-1414-4755-82f3-f5bf46014667","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"29l8TlY4PtZazrXv","name":"Google Calendar Invest in Lombok"}}},{"parameters":{"jsCode":"// Definimos los 3 IDs de calendarios secundarios que me pasaste\nconst calendarIds = [\n  \"YOUR_CALENDAR_ID_3@group.calendar.google.com\", // Lara Olivares\n  \"YOUR_CALENDAR_ID_2@group.calendar.google.com\", // Edu\n  \"YOUR_CALENDAR_ID_1@group.calendar.google.com\"  // Paula\n];\n\n// Creamos 3 items de salida para que el siguiente nodo se ejecute 3 veces\nreturn calendarIds.map(id => {\n  return {\n    json: {\n      calendarId: id\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,752],"id":"63fe5c8a-2b14-4cd8-a814-cbcb6dee1583","name":"Calendarios Secundarios dentro del Principal conectado a Fathom"},{"parameters":{"content":"## Buscar evento en la misma hora en los calendarios\n","height":352,"width":592},"type":"n8n-nodes-base.stickyNote","position":[1520,560],"typeVersion":1,"id":"0890ebb7-69a3-4646-a41b-9c45135a1f39","name":"Sticky Note5"},{"parameters":{"jsCode":"// Aplana todos los eventos de los 3 calendarios en una sola lista\nconst allEvents = $input.all().flatMap(item => \n  Array.isArray(item.json) ? item.json : [item.json]\n);\n\nreturn [{\n  json: {\n    lista_eventos: allEvents\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1872,752],"id":"c2c5160d-4827-410b-a229-ee5bf9e53c9b","name":"Code in JavaScript"},{"parameters":{"promptType":"define","text":"=\"Actúa como un motor de matching de identidad.\n\nNOMBRE DEL CLIENTE (detectado por voz en la reunión):\n{{ $(\"Config\").first().json.webhookData.transcript.find(t => t.speaker.display_name !== 'Comercial Casa Caoba')?.speaker.display_name }}\n\nNombre del EVENTO en google Calendar {{ $json.lista_eventos[0].summary }} mail del evento de google calendar {{ $json.lista_eventos[0].attendees[0].email }} nombre de la persona que atendio a google calendar {{ $json.lista_eventos[0].attendees[0].displayName }}\n\nResumen de reunión de Fathom AI:\n{{ $('Fathom Webhook').first().json.body.default_summary.markdown_formatted }}\n\nEVENTOS DE LOS CALENDARIOS (con sus asistentes):\n{{ JSON.stringify($json.lista_eventos) }}\n\nINSTRUCCIONES:\n1. Cada evento tiene un array 'attendees' con 'email' y 'displayName'\n2. Compara el nombre del cliente con los 'displayName' de los attendees, también el del evento de google calendar con la información de Eventos de los Calendarios de tus Asistentes. A veces puede conectarse en un email, 2 o 3 personas por parte de los asistentes.\n3. Ignora cualquier email que contenga 'yourclient3.com'\n4. Si hay coincidencia superior al 80%, devuelve ese contacto\n\nRESPONDE SOLO CON ESTE JSON, SIN TEXTO ADICIONAL, SIN MARKDOWN:\n{\\\"match_encontrado\\\": true, \\\"email\\\": \\\"correo@cliente.com\\\", \\\"nombre_ghl\\\": \\\"Nombre del Calendar\\\"}\n\nSi no hay coincidencia clara devuelve exactamente:\n{\\\"match_encontrado\\\": false}\"","needsFallback":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[1696,992],"id":"ab27333d-f0a5-43ce-9fdf-74a4e4c7267b","name":"Basic LLM Chain"},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1456,1216],"id":"f997739b-c67b-490a-84a7-dee5118bd4db","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1632,1200],"id":"114b5526-066b-4a70-bd72-53c31579e19f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Config":{"main":[[{"node":"Calendarios Secundarios dentro del Principal conectado a Fathom","type":"main","index":0}]]},"Contact Found?":{"main":[[{"node":"Search Conversation","type":"main","index":0}],[{"node":"No Contact - Skip","type":"main","index":0}]]},"Fathom Webhook":{"main":[[{"node":"Config","type":"main","index":0}]]},"Create GHL Note":{"main":[[{"node":"Has Action Items?","type":"main","index":0}]]},"Create GHL Task":{"main":[[{"node":"Loop Over Action Items","type":"main","index":0}]]},"Has Action Items?":{"main":[[{"node":"Prepare Action Items","type":"main","index":0}],[{"node":"No Action Items - Skip","type":"main","index":0}]]},"No Contact - Skip":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}]]},"Search GHL Contact":{"main":[[{"node":"Contact Found?","type":"main","index":0}]]},"Create Conversation":{"main":[[{"node":"Extract New Conversation ID","type":"main","index":0}]]},"Loop Over Attendees":{"main":[[],[{"node":"Search GHL Contact","type":"main","index":0}]]},"Search Conversation":{"main":[[{"node":"Conversation Exists?","type":"main","index":0}]]},"Conversation Exists?":{"main":[[{"node":"Use Existing Conversation","type":"main","index":0}],[{"node":"Create Conversation","type":"main","index":0}]]},"Prepare Action Items":{"main":[[{"node":"Loop Over Action Items","type":"main","index":0}]]},"Loop Over Action Items":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}],[{"node":"Create GHL Task","type":"main","index":0}]]},"No Action Items - Skip":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}]]},"Create Internal Comment":{"main":[[{"node":"Create GHL Note","type":"main","index":0}]]},"Parse External Attendees":{"main":[[{"node":"Loop Over Attendees","type":"main","index":0}]]},"Use Existing Conversation":{"main":[[{"node":"Create Internal Comment","type":"main","index":0}]]},"Extract New Conversation ID":{"main":[[{"node":"Create Internal Comment","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Calendarios Secundarios dentro del Principal conectado a Fathom":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Parse External Attendees","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Parse External Attendees","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]}},"authors":"Stratoma  Ai","name":"Version 9d92fec6","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-24T10:48:04.795Z","id":433,"workflowId":"RNEa5lbm6YxTm9R6","versionId":"9d92fec6-5e33-4356-adb6-174584bb5c29","event":"activated","userId":"YOUR_N8N_USER_ID"}]}}
