n8n/workflows/Tripath-IA-WhatsApp-Respuesta.json
{"updatedAt":"2026-03-23T11:55:32.781Z","createdAt":"2026-02-19T22:06:39.191Z","id":"BaD4eZQSQrG9JRnHfftGZ","name":"Tripath — IA WhatsApp Respuesta","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-ia-tripath","responseMode":"responseNode","options":{}},"id":"c6aa1aa8-4d75-4d9f-b6cc-ec7b887fa150","name":"Webhook GHL1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1536,1728],"webhookId":"3f863c22-a9f6-4a96-9db3-02a8acec8aa6"},{"parameters":{"respondWith":"text","responseBody":"ok","options":{}},"id":"11700f5a-f43a-4e8b-9f47-cdd31dc9733a","name":"Responder GHL OK1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1760,1632]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.body['Chattyrental - IA_Activa'][0] }}","rightValue":"ON","operator":{"type":"string","operation":"equals"},"id":"4fa292f1-ad31-41db-bada-827f4a986d6e"},{"leftValue":"={{ $json.body['Chattyrental - IA_Bloqueada_humano'][0] }}","rightValue":"false","operator":{"type":"string","operation":"notEquals"},"id":"1a1da648-7664-45f6-badd-7929e9a8fd52"},{"id":"e4cee462-c0ac-4f10-9ecd-0a5d8c611b59","leftValue":"={{ $json.body['Chattyrental - IA_Respuestas_dadas'] }}","rightValue":"7","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"5283a3d5-d0f5-4a60-b1e2-51e7e3852e01","name":"¿IA Activa y No Bloqueada?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,1824]},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/search?contactId={{ $('Webhook GHL1').item.json.body.contact_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"}]},"options":{}},"id":"5c6dc2b4-25a6-4c9d-a34d-407618a3f1cc","name":"Buscar Conversación GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversations[0].id }}/messages?limit=10","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"}]},"options":{}},"id":"85b48bca-455f-470e-8f5f-3b662fbca186","name":"Obtener Mensajes GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"jsCode":"// 1. Acceso a datos del Webhook y Mensajes\nconst webhookData = $('Webhook GHL1').first().json.body;\nconst inputData = $input.first().json;\n\nlet rawMessages = [];\nif (inputData && inputData.messages) {\n  rawMessages = Array.isArray(inputData.messages) ? inputData.messages : (inputData.messages.messages || []);\n}\n\n// 2. Procesar historial y último mensaje\nconst historial = rawMessages\n  .filter(m => m && m.body) \n  .slice(-10)\n  .map(m => ({\n    role: m.direction === 'inbound' ? 'user' : 'assistant',\n    content: String(m.body).trim()\n  }));\n\nconst ultimoMensaje = webhookData.message?.body || [...rawMessages].reverse().find(m => m.direction === 'inbound')?.body || \"\";\n\n// --- Función auxiliar para campos GHL ---\nconst cleanGHL = (val) => Array.isArray(val) ? val[0] : (val || \"\");\n\n// 3. MIX COMERCIAL - PRIORIDAD INQUILINO POTENCIAL\nreturn [{\n  json: {\n    contactId: webhookData.contact_id || \"\",\n    nombre: webhookData.full_name || webhookData.first_name || \"Lead\",\n    \n    // Identificación\n    sku: cleanGHL(webhookData['Inquilino Potencial - SKU (Código de Habitación)']) || cleanGHL(webhookData['Inquilino Contrato - Código Habitación (SKU)']) || cleanGHL(webhookData['Inquilino Potencial - Ref. Habitacion']),\n    \n    // Datos Económicos\n    precio: cleanGHL(webhookData['Inquilino Potencial - Precio habitacion Preguntada']),\n    adminFee: cleanGHL(webhookData['Inquilino Potencial - Precio admin fee habitacion preguntada']),\n    totalFianzaHonorarios: cleanGHL(webhookData['Inquilino Potencial - Suma Fianza + Honorarios']),\n    \n    // Ubicación y Multimedia\n    direccion: cleanGHL(webhookData['Inquilino Contrato - Dirección de la propiedad alquilada']) || \"Madrid/Alicante\",\n    linkIdealista: cleanGHL(webhookData['Inquilino Potencial - ¿Enlace habitación? ']),\n    linkYoutube: cleanGHL(webhookData['Inquilino Potencial - Vídeo de Youtube']),\n    \n    // Conversación\n    ultimoMensaje: String(ultimoMensaje).trim(),\n    historial,\n    \n    // Estados IA\n    nuevosIntentos: (parseInt(cleanGHL(webhookData['Chattyrental - IA_Respuestas_dadas'])) || 0) + 1,\n    iaActiva: String(cleanGHL(webhookData['Chattyrental - IA_Activa'])).toUpperCase() === 'ON',\n    iaBloqueada: String(cleanGHL(webhookData['Chattyrental - IA_Bloqueada_humano'])).toLowerCase() === 'true'\n  }\n}];"},"id":"c398ae49-1e42-4807-bcc8-0469426ed3a5","name":"Preparar Datos para IA1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,1824]},{"parameters":{"promptType":"define","text":"=Eres Lucas, una persona real del equipo de Tripath en Madrid y Alicante. Tu comunicación debe ser humana, directa y fluida, como si estuvieras escribiendo por WhatsApp a un amigo o cliente conocido. Contesta en el idioma que te hable el cliente.\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nDATOS DE LA PROPIEDAD (Solo para tu referencia)\n━━━━━━━━━━━━━━━━━━━━━━━━\n- Fecha de Solicitud: {{ $('Webhook GHL1').item.json.body.date_created }}\n- Cuando sepas la fecha que quiere entrar el inquilino, si te pregunta por una habitación que ya está alquilada, que diga la fecha en la que sale el inquilino actual, y a partir de ahí es cuando puede reservar.\n- SKU: {{ $json.sku }}\n- Dirección: {{ $json.direccion }}\n- Precio: {{ $json.precio }} | Admin Fee: {{ $json.adminFee }}\n- Compañeros: (Consulta la ROOMS API campo property_info.flatmates_description)\n- Links: Idealista ({{ $json.linkIdealista }}) | Youtube ({{ $json.linkYoutube }})\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nREGLAS DE HUMANIZACIÓN (PARA NO PARECER IA)\n━━━━━━━━━━━━━━━━━━━━━━━━\n1. NO USES PLANTILLAS: Prohibido empezar siempre con \"¡Hola [Nombre]!\" o repetir el SKU y la dirección en cada mensaje. Si el usuario ya sabe de qué habitación hablamos, ve directo al grano.\n2. RESPONDE PRIMERO: Si te preguntan por los compañeros, lo primero que escribas debe ser sobre los compañeros. No des rodeos con precios o enlaces a menos que te los pidan.\n3. EL CIERRE: NO termines siempre con una pregunta. Si la respuesta es autoconclusiva, despídete de forma natural o simplemente deja la frase terminada. Solo pregunta si realmente necesitas una respuesta del usuario para avanzar.\n4. NADA DE RELLENO: Evita frases tipo \"¿En qué puedo asistirte?\" o \"¿Necesitas ayuda con algo más?\". Son marcas de agua de una IA.\n5. SOBRE LOS COMPAÑEROS: Es la pregunta más común. Usa la herramienta de SPREADSHEET. Si el Excel dice \"2 chicos y 1 chica\", di eso. Si no hay datos, di: \"Pues mira, ahora mismo no tengo el perfil exacto delante, pero suele ser gente joven, trabajadores o estudiantes. Si quieres, le pregunto a los chicos del piso y te confirmo\".\n5. No confirmes visitas de ningún tipo, porque depende de que haya un compañero de piso que te pueda enseñar la habitación o alguien del equipo.\n6. De momento no menciones que existe un descuento para verano. Omitelo si las fechas incluyen verano.\n7. Si te preguntan para entrar en una fecha lejana en la habitación, consulta en el spreadsheet cual coicnide con la salida de un inquilino, no se pueden dejar huecos de más de 12 días entre un check out y un check in. Es decir si te piden una habitación para el 1 de Mayo, no puedes dar una que su checkout es el 1 de abril, si no solo desde el 18 de abril en adelante para no dejar huecos.\n8. Si te preguntan sobre si es posible empadronamiento, consulta en la ROOMS API el campo empadronamiento (true/false) de esa habitación\n9. No se permiten niños.\n10. (Room_Sharing Entire_Flat)Si te piden un piso que en la campo rental_type sea Entire_Flat, entonces dile que solo se puede alquilar como piso completo de las habitaciones que tenga, y dile el precio completo. Si es room_sharing entonces de la habitacion. \n\n━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA CRÍTICA: HABITACIONES ALTERNATIVAS\n━━━━━━━━━━━━━━━━━━━━━━━━\nCuando la habitación que pregunta el cliente NO esté disponible:\n1. PRIMERO busca alternativas en el MISMO edificio/dirección (filtra por piso_id o dirección en la ROOMS API).\n2. Prioriza habitaciones de precio SIMILAR (±20%). Ejemplo: pregunta por 425€ → buscar entre 340€ y 510€.\n3. Si no hay opciones similares en precio en el mismo edificio, amplía a la misma ciudad.\n4. NUNCA recomiendes una habitación que cueste un 50% más sin mencionarlo explícitamente. Ejemplo: NO recomendar una de 630€ cuando pregunta por 425€.\n5. Lista TODAS las opciones disponibles en el mismo edificio con precios y links (https://yourclient.com/room/{SKU}).\n6. Si solo hay opciones mucho más caras, sé transparente: \"En el mismo edificio las opciones que hay son un poco más caras: [lista]. ¿Te interesa que mire algo más parecido en precio en otra zona?\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nFLUJO DE CONVERSACIÓN\n━━━━━━━━━━━━━━━━━━━━━━━━\nHistorial:\n{{ $json.historial.map(m => (m.role === 'user' ? '👤 Usuario: ' : '🤖 Lucas: ') + m.content).join('\\n') }}\n\nMensaje actual del usuario: {{ $json.ultimoMensaje }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nINSTRUCCIONES DE HERRAMIENTAS\n━━━━━━━━━━━━━━━━━━━━━━━━\n- Si te piden la dirección, disponibilidad, precio, compañeros o detalles técnicos: Usa la ROOMS API.\n- Si te piden normas (visitas, mascotas, fianzas): Usa el GOOGLE DOCS.\n- Si te piden reservar: Explica que el proceso es online y usa el campo listing_url de la ROOMS API.","needsFallback":true,"options":{"systemMessage":"Eres Lucas, el asistente comercial de Tripath y atención a inquilinos. Tienes acceso a un documento interno de Tripath con información sobre las propiedades, normas y procedimientos. Úsalo cuando necesites datos específicos de la propiedad o del proceso de la empresa. Ejemplo cualquier cosa sobre caracterisiticas de la habitacion estará en la ROOMS API (tripath_rooms_api). De ahí puedes sacar: precios, tamaño, disponibilidad, compañeros, empadronamiento, enlaces de idealista, marketplace y reserva.","maxIterations":5}},"id":"a1862c50-c817-459b-a7bd-847cf3330986","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3448,1824],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1536,2448],"id":"8dfd8b3b-fdc4-40fb-a19f-1cef5f9c9565","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"operation":"get","documentURL":"1jfLtYyKkOxlQblSqsnRvN97BDh_JR9KsWvjVljTZask"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[3584,2048],"id":"2fe69bb5-851c-47a0-b29e-1b515833f1f4","name":"Get a document in Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"Yoaqm7fvojNGNQsi","name":"Google Docs account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.contactId }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1536,2240],"id":"40e9fd73-b268-4dc8-8498-bcd9d79fe834","name":"Simple Memory1"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Preparar Datos para IA1').item.json.contactId }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"key\": \"chattyrental__ia_respuestas_dadas\",\n      \"field_value\": \"{{ $('Preparar Datos para IA1').item.json.nuevosIntentos }}\"\n    }\n  ]\n}","options":{}},"id":"fa842ba7-dcaa-477d-abb8-d91a01a3fd33","name":"Actualizar IA_Intentos GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4368,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Preparar Datos para IA1').item.json.bloquear }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"2e01f425-bae3-4c30-b113-a220244b97a9"}],"combinator":"and"},"options":{}},"id":"06702892-45cd-4629-a29a-f0330dd840bf","name":"¿3 Intentos?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4592,1728]},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Preparar Datos para IA1').item.json.contactId }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"key\": \"chattyrental__ia_bloqueada_humano\",\n      \"field_value\": \"true\"\n    }\n  ]\n}","options":{}},"id":"fe0e0bfc-052f-48d3-a2bc-53005664e8f5","name":"Bloquear IA en GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4816,1632],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"sendTo":"bookings@yourclient.com","subject":"=⚠️ Handover: {{ $('Preparar Datos para IA1').item.json.nombre }} necesita atención humana","emailType":"text","message":"=El inquilino {{ $('Preparar Datos para IA1').item.json.nombre }} ha llegado al límite de {{ $('Preparar Datos para IA1').item.json.nuevosIntentos }} respuestas de IA sin resolver su consulta.\n\nTeléfono: {{ $('Preparar Datos para IA1').item.json.telefono }}\nHabitación (SKU): {{ $('Preparar Datos para IA1').item.json.skuHabitacion }}\nDirección: {{ $('Preparar Datos para IA1').item.json.direccion }}\n\nTipo de incidencia: {{ $('Preparar Datos para IA1').item.json.tipoIncidencia }}\nDescripción: {{ $('Preparar Datos para IA1').item.json.descripcionIncidencia }}\nFoto: {{ $('Preparar Datos para IA1').item.json.fotoIncidencia }}\n\nÚltimo mensaje: {{ $('Preparar Datos para IA1').item.json.ultimoMensaje }}\n\nPor favor, retoma la conversación manualmente en GHL.","options":{"appendAttribution":false}},"id":"5bcb6469-5897-411e-8e5d-ba7bd511b276","name":"Email Handover al Equipo1","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[5040,1632],"webhookId":"504ca3d2-be5b-41fc-8bd4-8b2d8e4c5ddd","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Preparar Datos para IA1').item.json.contactId }}\",\n  \"message\": {{ JSON.stringify($('AI Agent1').item.json.output) }}\n}","options":{}},"id":"1179547e-84c0-4aa9-bb4c-f2e5291c64f4","name":"Enviar Respuesta IA por WhatsApp1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4816,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"name":"Tripath Rooms API","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3712,2048],"id":"tripath-rooms-api-001","parameters":{"url":"https://yourclient.com/api/internal/rooms-full","name":"tripath_rooms_api","toolDescription":"Obtiene datos en tiempo real de TODAS las habitaciones de Tripath. Devuelve JSON con campo rooms[]. Cada habitacion tiene: sku (ej: 12H2), available (bool), available_from (fecha libre), current_tenant con name/gender/nationality/move_out_date (inquilino actual), price, deposit, admin_fee, address, city, private_bathroom, couples_allowed, empadronamiento (bool), property_info.flatmates_description (companeros actuales), listing_url (enlace reserva yourclient.com), marketplace_links.idealista/spotahome, video_url. USAR para: disponibilidad, precio, companeros, empadronamiento, caracteristicas, enlaces reserva o marketplace.","options":{}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3328,2048],"id":"146b4c38-0e2b-4cfa-9181-5272d3b51db6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,1824],"id":"e9a97e49-935d-413a-a8ab-737f539c76f8","name":"Wait","webhookId":"29f25184-4b5a-4fc1-985d-489da5772ddb"},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3456,2048],"id":"d4485273-a4bf-4de9-9480-f4e5c56138ed","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"url":"=https://db.yourclient.com/rest/v1/ai_memory?ghl_contact_id=eq.{{ $('Preparar Datos para IA1').item.json.contactId }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]},"options":{"alwaysOutputData":true}},"name":"Leer Memoria Supabase","type":"n8n-nodes-base.httpRequest","id":"1f7a581f-6c4e-4de7-b7ed-d225bb764e2e","position":[2880,1824],"typeVersion":4.2,"alwaysOutputData":true},{"parameters":{"jsCode":"\nconst preparaData = $('Preparar Datos para IA1').first().json;\nconst memRaw = $input.first().json;\nconst memArr = Array.isArray(memRaw) ? memRaw : [];\nlet historial = preparaData.historial || [];\nlet supabaseMessages = [];\nlet supabaseMemoryId = null;\nif (memArr.length > 0) {\n  supabaseMemoryId = memArr[0].id;\n  supabaseMessages = memArr[0].messages || [];\n  if (supabaseMessages.length > 0) historial = supabaseMessages;\n}\nreturn [{ json: { ...preparaData, historial, supabaseMemoryId, supabaseMessages } }];\n"},"name":"Merge Historial con Supabase","type":"n8n-nodes-base.code","id":"3507b0e2-e08f-4c69-ac5e-9963e3c93d38","position":[3104,1824],"typeVersion":2},{"parameters":{"jsCode":"\nconst mergeData = $('Merge Historial con Supabase').first().json;\nconst aiResponse = $input.first().json.output || '';\nconst existingMsgs = mergeData.supabaseMessages || [];\nconst newMsgs = [\n  ...existingMsgs,\n  { role: 'user', content: mergeData.ultimoMensaje, ts: new Date().toISOString() },\n  { role: 'assistant', content: aiResponse, ts: new Date().toISOString() }\n].slice(-20);\nreturn [{ json: {\n  contactId: mergeData.contactId,\n  nombre: mergeData.nombre,\n  ultimoMensaje: mergeData.ultimoMensaje,\n  nuevosIntentos: mergeData.nuevosIntentos,\n  supabaseMemoryId: mergeData.supabaseMemoryId,\n  updatedMessages: newMsgs,\n  aiResponse,\n  esHandover: mergeData.nuevosIntentos >= 7\n} }];\n"},"name":"Construir Memoria Actualizada","type":"n8n-nodes-base.code","id":"6c66c0a8-ae82-4f90-9089-263097bc817c","position":[3920,1824],"typeVersion":2},{"parameters":{"method":"POST","url":"https://db.yourclient.com/rest/v1/ai_memory?on_conflict=ghl_contact_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ghl_contact_id\": \"{{ $('Construir Memoria Actualizada').item.json.contactId }}\",\n  \"messages\": {{ JSON.stringify($('Construir Memoria Actualizada').item.json.updatedMessages) }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}","options":{}},"name":"Guardar Memoria en Supabase","type":"n8n-nodes-base.httpRequest","id":"65ab3627-ada0-43ac-a510-bc707b0817b5","position":[4144,1824],"typeVersion":4.2},{"parameters":{"jsCode":"\nconst data = $('Construir Memoria Actualizada').first().json;\nconst response = data.aiResponse || '';\nconst ultimoMensaje = data.ultimoMensaje || '';\nconst frases = ['no tengo esa informacion','no se exactamente','no puedo confirmar',\n  'habria que verificar','no tengo claro','te diria que preguntes','no tengo acceso','desconozco'];\nconst incertidumbre = frases.some(f => response.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').includes(f));\nconst esHandover = data.esHandover;\nconst msgs = data.updatedMessages || [];\nconst prevUser = msgs.slice(0, -2).filter(m => m.role === 'user').map(m => m.content);\nconst slice = ultimoMensaje.toLowerCase().slice(0, 25);\nconst preguntaRepetida = prevUser.some(p => p.toLowerCase().slice(0, 25) === slice);\nreturn [{ json: {\n  ...data,\n  esLaguna: incertidumbre || esHandover || preguntaRepetida,\n  tipoLaguna: esHandover ? 'handover' : preguntaRepetida ? 'repetida' : 'incertidumbre',\n  pregunta: ultimoMensaje,\n  respuestaIA: response\n} }];\n"},"name":"Detectar Laguna de Conocimiento","type":"n8n-nodes-base.code","id":"41e96031-ea39-4c84-9556-ac4f471f1d5a","position":[4592,2016],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"31d4eed0-96e7-48f6-bf29-750a85000788","leftValue":"={{ $json.esLaguna }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"¿Es Laguna de Conocimiento?","type":"n8n-nodes-base.if","id":"da13ef7c-fdf8-4e87-9831-6da78a16e96b","position":[4816,2016],"typeVersion":2},{"parameters":{"method":"POST","url":"https://db.yourclient.com/rest/v1/knowledge_gaps","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"question\": {{ JSON.stringify($json.pregunta) }},\n  \"ai_response\": {{ JSON.stringify($json.respuestaIA) }},\n  \"gap_type\": \"{{ $json.tipoLaguna }}\",\n  \"contact_id\": \"{{ $json.contactId }}\"\n}","options":{}},"name":"Guardar Laguna en Supabase","type":"n8n-nodes-base.httpRequest","id":"21cd3b9d-7bf7-4335-afc3-aefe849768c8","position":[5040,2016],"typeVersion":4.2},{"id":"send-tg-proposal","name":"Enviar Propuesta a Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4816,1728],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": YOUR_TELEGRAM_CHAT_ID, \"text\": \"📋 *{{ $(\\\"Construir Memoria Actualizada\\\").item.json.nombre }}* pregunta:\\n_{{ $(\\\"Construir Memoria Actualizada\\\").item.json.ultimoMensaje }}_\\n\\n💬 *Propuesta:*\\n{{ $(\\\"Construir Memoria Actualizada\\\").item.json.aiResponse }}\\n\\n↩️ Arrastra izquierda + responde para corregir\\n✅ Responde /ok para enviar\", \"parse_mode\": \"Markdown\"}"}},{"id":"save-tg-pending","name":"Guardar Propuesta Pendiente","type":"n8n-nodes-base.code","typeVersion":2,"position":[5040,1728],"parameters":{"jsCode":"const tgResp = $input.item.json;\nconst ctx = $(\"Construir Memoria Actualizada\").item.json;\nconst msgId = tgResp.result?.message_id;\nif (!msgId) return [{ json: { error: \"No Telegram message_id\", ctx } }];\nconst $vars = { msgId, contactId: ctx.contactId, convId: \"\", leadName: ctx.nombre, historial: ctx.updatedMessages || [], proposedResponse: ctx.aiResponse };\nreturn [{ json: $vars }];"}},{"id":"upsert-pending-supa","name":"Guardar en Supabase Pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5264,1728],"parameters":{"method":"POST","url":"https://db.yourclient.com/rest/v1/telegram_pending","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"resolution=merge-duplicates"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"telegram_msg_id\": {{ $json.msgId }}, \"contact_id\": \"{{ $json.contactId }}\", \"conv_id\": \"{{ $json.convId }}\", \"lead_name\": {{ JSON.stringify($json.leadName) }}, \"historial\": {{ JSON.stringify($json.historial) }}, \"proposed_response\": {{ JSON.stringify($json.proposedResponse) }}}"}}],"connections":{"Webhook GHL1":{"main":[[{"node":"Responder GHL OK1","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"¿IA Activa y No Bloqueada?1":{"main":[[{"node":"Buscar Conversación GHL1","type":"main","index":0}]]},"Buscar Conversación GHL1":{"main":[[{"node":"Obtener Mensajes GHL1","type":"main","index":0}]]},"Obtener Mensajes GHL1":{"main":[[{"node":"Preparar Datos para IA1","type":"main","index":0}]]},"Preparar Datos para IA1":{"main":[[{"node":"Leer Memoria Supabase","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Construir Memoria Actualizada","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[]]},"Get a document in Google Docs1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Actualizar IA_Intentos GHL1":{"main":[[{"node":"¿3 Intentos?1","type":"main","index":0},{"node":"Detectar Laguna de Conocimiento","type":"main","index":0}]]},"¿3 Intentos?1":{"main":[[{"node":"Bloquear IA en GHL1","type":"main","index":0}],[{"node":"Enviar Propuesta a Telegram","type":"main","index":0}]]},"Bloquear IA en GHL1":{"main":[[{"node":"Email Handover al Equipo1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[{"node":"¿IA Activa y No Bloqueada?1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":1}]]},"Leer Memoria Supabase":{"main":[[{"node":"Merge Historial con Supabase","type":"main","index":0}]]},"Merge Historial con Supabase":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Construir Memoria Actualizada":{"main":[[{"node":"Guardar Memoria en Supabase","type":"main","index":0}]]},"Guardar Memoria en Supabase":{"main":[[{"node":"Actualizar IA_Intentos GHL1","type":"main","index":0}]]},"Detectar Laguna de Conocimiento":{"main":[[{"node":"¿Es Laguna de Conocimiento?","type":"main","index":0}]]},"¿Es Laguna de Conocimiento?":{"main":[[{"node":"Guardar Laguna en Supabase","type":"main","index":0}],[]]},"Enviar Propuesta a Telegram":{"main":[[{"node":"Guardar Propuesta Pendiente","type":"main","index":0}]]},"Guardar Propuesta Pendiente":{"main":[[{"node":"Guardar en Supabase Pending","type":"main","index":0}]]},"Tripath Rooms API":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","callerPolicy":"workflowsFromSameOwner","timeSavedPerExecution":15},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook GHL1":[{"json":{"headers":{"host":"n8n.yourdomain.com","user-agent":"axios/1.13.2","content-length":"5743","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","traceparent":"00-1ae580083dad05f935150424c1f32d92-430a9dd359d0d6ab-00","x-forwarded-for":"35.184.74.13","x-forwarded-host":"n8n.yourdomain.com","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"aafa5d0c8842","x-real-ip":"35.184.74.13"},"params":{},"query":{},"body":{"Inquilino Potencial - Link Idealista":"https://www.idealista.com/inmueble/110492219","Inquilino Contrato - Precio Habitación":"","Inquilino Contrato - Pago Mensual Google Forms Único":"","Inquilino Contrato - Número Habitación (1,2,3)":"","Inquilino Contrato - Dia salida habitación (check out)":"","Inquilino Contrato - Método Pago Admin Fee":"","Chattyrental - IA_Handover_motivo":"","Inquilino Contrato - Precio Admin Fee":"","¿Como gerente de un negocio, ¿Cuáles son tus KPIs favoritos? - RRHH GERENTE":"","Inquilino Potencial - SKU (Código de Habitación)":"46H3","¿Tienes experiencia en el sector coliving o en la gestión de habitaciones? - RRHH GERENTE":"","Propietario - ¿Cuántos baños tiene?":"","Inquilino Contrato - Cuenta a Ingresar inquilino Devolución Fianza":"","¿Qué modalidad de retribución prefieres? - RRHH GERENTE":"","Enlace de video - RRHH":"","Propietario - ¿Cuántas habitaciones tiene tu Propiedad?":"","Inquilino Contrato - Fecha nacimiento inquilino formateado":"","Inquilino Potencial - Vídeo de Youtube":"https://youtu.be/_HoOuTJIevo?si=WquD7s-V9REOXrOb","Inquilino Contrato - Nacionalidad":"","Propietario - URL Idealista Maps para Comprobar el Valor de Mercado":"","Propietario - m2 - Metros Cuadrados":"","¿Cuál sería tu ROI anual esperado? - RRHH GERENTE":"","Inquilino Contrato - Superficie dividida en:":"","¿Estás trabajando actualmente? - RRHH GERENTE":"","Inquilino Contrato - Metros cuadrados habitación":"","¿Por qué te planteas un cambio ahora? - RRHH GERENTE":"","¿Estás dentro de la M-40 o resides fuera? - RRHH GERENTE":"","Chattyrental - IA_Bloqueada_humano":["No"],"Propietario - Número de Habitaciones":"","Adjunta Vídeo":"","DNI":"","Inquilino Contrato - Foto actual fecha entrada habitación":"","Inquilino Contrato - Fotocopia DNI/ID (Pareja)":"","Inquilino Contrato - Fecha inicio formateado Check In":"","Inquilino Contrato - Temporalidad Contrato (Quincenal/Mensual)":"","Inquilino Contrato - Total Value Contract":"","Inquilino Contrato - Fotos salida habitación":"","Inquilino Contrato - Propietario del piso":"","Inquilino Potencial - Ref. Habitacion":"","Inquilino Contrato - Código Habitación (SKU)":"","Inquilino Contrato - Grupo Whatsapp Piso con Compañeros de Piso":"","¿Qué indicadores clave vigilarías para asegurar el éxito del inmueble? - RRHH GERENTE":"","Propietario - Fecha en la que se queda libre la vivienda - Check out Inquilinos Actuales":"","Sube tu CV - RRHH":"","¿Cuáles son tus expectativas salariales?":"","Inquilino Contrato - Fecha Salida Formateado Check Out":"","Inquilino Contrato - DNI del propietario":"","Inquilino Potencial - Precio habitacion Preguntada":545,"Inquilino Potencial - ¿Enlace habitación? ":"https://yourclient.com/room/46H3","Propietario - Referencia Catastral":"","Inquilino Contrato - Género (Sexo)":"","Inquilino Contrato - NIF/CIF Gestor":"","Propietario - Comentarios, Razones de Venta/Alquiler, Herencia, Divorcio etc":"","Inquilino Contrato - Gestor del piso":"","Inquilino Contrato - Fotocopia DNI/ID":"","¿En cuántos meses recuperarías la inversión? - RRHH GERENTE":"","Inquilino Potencial - Precio admin fee habitacion preguntada":"272,50€","Inquilino Contrato - Dirección permanente habitual":"","Inquilino Contrato - DNI Inquilino":"","Chattyrental - IA_Respuestas_dadas":"","Inquilino Contrato - Motivo de la estancia":"","Propietario - ¿Cuál es la dirección de tu de propiedad?":"","Chattyrental - Comercial, Incidencia, Propietario":"Comercial","¿Resides en Madrid? - RRHH GERENTE":"","¿Que tipo de incidencia tienes?":"","Propietario - Precio de Venta que Quiere":"","Inquilino Potencial - Suma Fianza + Honorarios":"817,50€","Chattyrental - IA_Ultimo_estado":"Activa","Chattyrental - IA_Activa":["ON"],"Fecha de Creación del Contacto":"","Inquilino Contrato - Inventario Habitación":"","¿Cuánto tiempo llevas desempleado y por qué? - RRHH GERENTE":"","Propietario - ¿Actualmente tienes el piso anunciado en internet o con alguna agencia?":"","¿Cual es el problema de convivencia que tienes?":"","¿Bajo qué KPI te gustaría que se determinara tu variable?":"","Foto de la incidencia":"","Chattyrental - Mensaje Enviado":"Hola","Cuéntanos sobre tu incidencia":"","Propietario - Localidad de la vivienda:":"","Inquilino Contrato - Metros cuadrados vivienda":"","Inquilino Contrato - Plano habitacion":"","Propietario - Precio de Alquiler que quiere":"","Inquilino Contrato - Dirección de la propiedad alquilada":"Puerto Del Suebe 17 3ºB","contact_id":"E7Iv9VlA4ISoJeUaqTT0","first_name":"Johannelly","last_name":" 46H3 545€ Puerto Del Suebe 17 3ºB Madrid","full_name":"Johannelly  46H3 545€ Puerto Del Suebe 17 3ºB Madrid","email":"user@contacts.example.com","phone":"+34600000000","tags":"inquilino idealista,inquilino potencial,idealista,puerto del suebe 17 3ºb madrid,madrid madrid,[device] - default","address1":"Puerto Del Suebe 17 3ºB Madrid","city":"Madrid","state":"Madrid","country":"ES","date_created":"2026-03-05T17:17:11.870Z","website":"https://www.idealista.com/inmueble/110492219","contact_source":"idealista","full_address":"Puerto Del Suebe 17 3ºB Madrid, Madrid Madrid ","contact_type":"lead","location":{"name":"yourclient.com","address":"YOUR_STREET_ADDRESS","city":"Madrid","state":"Madrid","country":"ES","postalCode":"POSTAL_CODE","fullAddress":"YOUR_STREET_ADDRESS, Madrid Madrid POSTAL_CODE","id":"YOUR_GHL_LOCATION_ID"},"user":{"firstName":"AGENT_FIRSTNAME AGENT_LASTNAME","lastName":"Tripath Bookings","email":"bookings@yourclient.com"},"message":{"type":20,"body":"Hola"},"workflow":{"id":"a6bdf086-091b-4600-b6cf-f582a74d3891","name":"Enviar Mensaje a N8N de leads de Idealista"},"triggerData":{},"customData":{}},"webhookUrl":"https://n8n.yourdomain.com/webhook/whatsapp-ia-tripath","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"5e387aec-ed76-4161-87ee-10d6ebb7b13b","activeVersionId":"5e387aec-ed76-4161-87ee-10d6ebb7b13b","versionCounter":527,"triggerCount":1,"shared":[{"updatedAt":"2026-02-19T22:06:39.202Z","createdAt":"2026-02-19T22:06:39.202Z","role":"workflow:owner","workflowId":"BaD4eZQSQrG9JRnHfftGZ","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[{"updatedAt":"2026-03-02T13:11:32.728Z","createdAt":"2026-03-02T13:11:32.728Z","id":"GMZixt9kaUw8UYZ7","name":"GohighLevel"},{"updatedAt":"2026-02-10T13:36:59.936Z","createdAt":"2026-02-10T13:36:59.936Z","id":"Jq3C9KCKKUPw7MkP","name":"Tripath"}],"activeVersion":{"updatedAt":"2026-03-23T11:55:32.783Z","createdAt":"2026-03-23T11:55:32.783Z","versionId":"5e387aec-ed76-4161-87ee-10d6ebb7b13b","workflowId":"BaD4eZQSQrG9JRnHfftGZ","nodes":[{"parameters":{"httpMethod":"POST","path":"whatsapp-ia-tripath","responseMode":"responseNode","options":{}},"id":"c6aa1aa8-4d75-4d9f-b6cc-ec7b887fa150","name":"Webhook GHL1","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1536,1728],"webhookId":"3f863c22-a9f6-4a96-9db3-02a8acec8aa6"},{"parameters":{"respondWith":"text","responseBody":"ok","options":{}},"id":"11700f5a-f43a-4e8b-9f47-cdd31dc9733a","name":"Responder GHL OK1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1760,1632]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json.body['Chattyrental - IA_Activa'][0] }}","rightValue":"ON","operator":{"type":"string","operation":"equals"},"id":"4fa292f1-ad31-41db-bada-827f4a986d6e"},{"leftValue":"={{ $json.body['Chattyrental - IA_Bloqueada_humano'][0] }}","rightValue":"false","operator":{"type":"string","operation":"notEquals"},"id":"1a1da648-7664-45f6-badd-7929e9a8fd52"},{"id":"e4cee462-c0ac-4f10-9ecd-0a5d8c611b59","leftValue":"={{ $json.body['Chattyrental - IA_Respuestas_dadas'] }}","rightValue":"7","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"id":"5283a3d5-d0f5-4a60-b1e2-51e7e3852e01","name":"¿IA Activa y No Bloqueada?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1984,1824]},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/search?contactId={{ $('Webhook GHL1').item.json.body.contact_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"}]},"options":{}},"id":"5c6dc2b4-25a6-4c9d-a34d-407618a3f1cc","name":"Buscar Conversación GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2208,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/conversations/{{ $json.conversations[0].id }}/messages?limit=10","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"}]},"options":{}},"id":"85b48bca-455f-470e-8f5f-3b662fbca186","name":"Obtener Mensajes GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2432,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"jsCode":"// 1. Acceso a datos del Webhook y Mensajes\nconst webhookData = $('Webhook GHL1').first().json.body;\nconst inputData = $input.first().json;\n\nlet rawMessages = [];\nif (inputData && inputData.messages) {\n  rawMessages = Array.isArray(inputData.messages) ? inputData.messages : (inputData.messages.messages || []);\n}\n\n// 2. Procesar historial y último mensaje\nconst historial = rawMessages\n  .filter(m => m && m.body) \n  .slice(-10)\n  .map(m => ({\n    role: m.direction === 'inbound' ? 'user' : 'assistant',\n    content: String(m.body).trim()\n  }));\n\nconst ultimoMensaje = webhookData.message?.body || [...rawMessages].reverse().find(m => m.direction === 'inbound')?.body || \"\";\n\n// --- Función auxiliar para campos GHL ---\nconst cleanGHL = (val) => Array.isArray(val) ? val[0] : (val || \"\");\n\n// 3. MIX COMERCIAL - PRIORIDAD INQUILINO POTENCIAL\nreturn [{\n  json: {\n    contactId: webhookData.contact_id || \"\",\n    nombre: webhookData.full_name || webhookData.first_name || \"Lead\",\n    \n    // Identificación\n    sku: cleanGHL(webhookData['Inquilino Potencial - SKU (Código de Habitación)']) || cleanGHL(webhookData['Inquilino Contrato - Código Habitación (SKU)']) || cleanGHL(webhookData['Inquilino Potencial - Ref. Habitacion']),\n    \n    // Datos Económicos\n    precio: cleanGHL(webhookData['Inquilino Potencial - Precio habitacion Preguntada']),\n    adminFee: cleanGHL(webhookData['Inquilino Potencial - Precio admin fee habitacion preguntada']),\n    totalFianzaHonorarios: cleanGHL(webhookData['Inquilino Potencial - Suma Fianza + Honorarios']),\n    \n    // Ubicación y Multimedia\n    direccion: cleanGHL(webhookData['Inquilino Contrato - Dirección de la propiedad alquilada']) || \"Madrid/Alicante\",\n    linkIdealista: cleanGHL(webhookData['Inquilino Potencial - ¿Enlace habitación? ']),\n    linkYoutube: cleanGHL(webhookData['Inquilino Potencial - Vídeo de Youtube']),\n    \n    // Conversación\n    ultimoMensaje: String(ultimoMensaje).trim(),\n    historial,\n    \n    // Estados IA\n    nuevosIntentos: (parseInt(cleanGHL(webhookData['Chattyrental - IA_Respuestas_dadas'])) || 0) + 1,\n    iaActiva: String(cleanGHL(webhookData['Chattyrental - IA_Activa'])).toUpperCase() === 'ON',\n    iaBloqueada: String(cleanGHL(webhookData['Chattyrental - IA_Bloqueada_humano'])).toLowerCase() === 'true'\n  }\n}];"},"id":"c398ae49-1e42-4807-bcc8-0469426ed3a5","name":"Preparar Datos para IA1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2656,1824]},{"parameters":{"promptType":"define","text":"=Eres Lucas, una persona real del equipo de Tripath en Madrid y Alicante. Tu comunicación debe ser humana, directa y fluida, como si estuvieras escribiendo por WhatsApp a un amigo o cliente conocido. Contesta en el idioma que te hable el cliente.\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nDATOS DE LA PROPIEDAD (Solo para tu referencia)\n━━━━━━━━━━━━━━━━━━━━━━━━\n- Fecha de Solicitud: {{ $('Webhook GHL1').item.json.body.date_created }}\n- Cuando sepas la fecha que quiere entrar el inquilino, si te pregunta por una habitación que ya está alquilada, que diga la fecha en la que sale el inquilino actual, y a partir de ahí es cuando puede reservar.\n- SKU: {{ $json.sku }}\n- Dirección: {{ $json.direccion }}\n- Precio: {{ $json.precio }} | Admin Fee: {{ $json.adminFee }}\n- Compañeros: (Consulta la ROOMS API campo property_info.flatmates_description)\n- Links: Idealista ({{ $json.linkIdealista }}) | Youtube ({{ $json.linkYoutube }})\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nREGLAS DE HUMANIZACIÓN (PARA NO PARECER IA)\n━━━━━━━━━━━━━━━━━━━━━━━━\n1. NO USES PLANTILLAS: Prohibido empezar siempre con \"¡Hola [Nombre]!\" o repetir el SKU y la dirección en cada mensaje. Si el usuario ya sabe de qué habitación hablamos, ve directo al grano.\n2. RESPONDE PRIMERO: Si te preguntan por los compañeros, lo primero que escribas debe ser sobre los compañeros. No des rodeos con precios o enlaces a menos que te los pidan.\n3. EL CIERRE: NO termines siempre con una pregunta. Si la respuesta es autoconclusiva, despídete de forma natural o simplemente deja la frase terminada. Solo pregunta si realmente necesitas una respuesta del usuario para avanzar.\n4. NADA DE RELLENO: Evita frases tipo \"¿En qué puedo asistirte?\" o \"¿Necesitas ayuda con algo más?\". Son marcas de agua de una IA.\n5. SOBRE LOS COMPAÑEROS: Es la pregunta más común. Usa la herramienta de SPREADSHEET. Si el Excel dice \"2 chicos y 1 chica\", di eso. Si no hay datos, di: \"Pues mira, ahora mismo no tengo el perfil exacto delante, pero suele ser gente joven, trabajadores o estudiantes. Si quieres, le pregunto a los chicos del piso y te confirmo\".\n5. No confirmes visitas de ningún tipo, porque depende de que haya un compañero de piso que te pueda enseñar la habitación o alguien del equipo.\n6. De momento no menciones que existe un descuento para verano. Omitelo si las fechas incluyen verano.\n7. Si te preguntan para entrar en una fecha lejana en la habitación, consulta en el spreadsheet cual coicnide con la salida de un inquilino, no se pueden dejar huecos de más de 12 días entre un check out y un check in. Es decir si te piden una habitación para el 1 de Mayo, no puedes dar una que su checkout es el 1 de abril, si no solo desde el 18 de abril en adelante para no dejar huecos.\n8. Si te preguntan sobre si es posible empadronamiento, consulta en la ROOMS API el campo empadronamiento (true/false) de esa habitación\n9. No se permiten niños.\n10. (Room_Sharing Entire_Flat)Si te piden un piso que en la campo rental_type sea Entire_Flat, entonces dile que solo se puede alquilar como piso completo de las habitaciones que tenga, y dile el precio completo. Si es room_sharing entonces de la habitacion. \n\n━━━━━━━━━━━━━━━━━━━━━━━━\nREGLA CRÍTICA: HABITACIONES ALTERNATIVAS\n━━━━━━━━━━━━━━━━━━━━━━━━\nCuando la habitación que pregunta el cliente NO esté disponible:\n1. PRIMERO busca alternativas en el MISMO edificio/dirección (filtra por piso_id o dirección en la ROOMS API).\n2. Prioriza habitaciones de precio SIMILAR (±20%). Ejemplo: pregunta por 425€ → buscar entre 340€ y 510€.\n3. Si no hay opciones similares en precio en el mismo edificio, amplía a la misma ciudad.\n4. NUNCA recomiendes una habitación que cueste un 50% más sin mencionarlo explícitamente. Ejemplo: NO recomendar una de 630€ cuando pregunta por 425€.\n5. Lista TODAS las opciones disponibles en el mismo edificio con precios y links (https://yourclient.com/room/{SKU}).\n6. Si solo hay opciones mucho más caras, sé transparente: \"En el mismo edificio las opciones que hay son un poco más caras: [lista]. ¿Te interesa que mire algo más parecido en precio en otra zona?\"\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nFLUJO DE CONVERSACIÓN\n━━━━━━━━━━━━━━━━━━━━━━━━\nHistorial:\n{{ $json.historial.map(m => (m.role === 'user' ? '👤 Usuario: ' : '🤖 Lucas: ') + m.content).join('\\n') }}\n\nMensaje actual del usuario: {{ $json.ultimoMensaje }}\n\n━━━━━━━━━━━━━━━━━━━━━━━━\nINSTRUCCIONES DE HERRAMIENTAS\n━━━━━━━━━━━━━━━━━━━━━━━━\n- Si te piden la dirección, disponibilidad, precio, compañeros o detalles técnicos: Usa la ROOMS API.\n- Si te piden normas (visitas, mascotas, fianzas): Usa el GOOGLE DOCS.\n- Si te piden reservar: Explica que el proceso es online y usa el campo listing_url de la ROOMS API.","needsFallback":true,"options":{"systemMessage":"Eres Lucas, el asistente comercial de Tripath y atención a inquilinos. Tienes acceso a un documento interno de Tripath con información sobre las propiedades, normas y procedimientos. Úsalo cuando necesites datos específicos de la propiedad o del proceso de la empresa. Ejemplo cualquier cosa sobre caracterisiticas de la habitacion estará en la ROOMS API (tripath_rooms_api). De ahí puedes sacar: precios, tamaño, disponibilidad, compañeros, empadronamiento, enlaces de idealista, marketplace y reserva.","maxIterations":5}},"id":"a1862c50-c817-459b-a7bd-847cf3330986","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[3448,1824],"executeOnce":false,"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"model":"openai/gpt-oss-120b:free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1536,2448],"id":"8dfd8b3b-fdc4-40fb-a19f-1cef5f9c9565","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"operation":"get","documentURL":"1jfLtYyKkOxlQblSqsnRvN97BDh_JR9KsWvjVljTZask"},"type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[3584,2048],"id":"2fe69bb5-851c-47a0-b29e-1b515833f1f4","name":"Get a document in Google Docs1","credentials":{"googleDocsOAuth2Api":{"id":"Yoaqm7fvojNGNQsi","name":"Google Docs account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.contactId }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1536,2240],"id":"40e9fd73-b268-4dc8-8498-bcd9d79fe834","name":"Simple Memory1"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Preparar Datos para IA1').item.json.contactId }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"key\": \"chattyrental__ia_respuestas_dadas\",\n      \"field_value\": \"{{ $('Preparar Datos para IA1').item.json.nuevosIntentos }}\"\n    }\n  ]\n}","options":{}},"id":"fa842ba7-dcaa-477d-abb8-d91a01a3fd33","name":"Actualizar IA_Intentos GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4368,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Preparar Datos para IA1').item.json.bloquear }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"},"id":"2e01f425-bae3-4c30-b113-a220244b97a9"}],"combinator":"and"},"options":{}},"id":"06702892-45cd-4629-a29a-f0330dd840bf","name":"¿3 Intentos?1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4592,1728]},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $('Preparar Datos para IA1').item.json.contactId }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"key\": \"chattyrental__ia_bloqueada_humano\",\n      \"field_value\": \"true\"\n    }\n  ]\n}","options":{}},"id":"fe0e0bfc-052f-48d3-a2bc-53005664e8f5","name":"Bloquear IA en GHL1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4816,1632],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"sendTo":"bookings@yourclient.com","subject":"=⚠️ Handover: {{ $('Preparar Datos para IA1').item.json.nombre }} necesita atención humana","emailType":"text","message":"=El inquilino {{ $('Preparar Datos para IA1').item.json.nombre }} ha llegado al límite de {{ $('Preparar Datos para IA1').item.json.nuevosIntentos }} respuestas de IA sin resolver su consulta.\n\nTeléfono: {{ $('Preparar Datos para IA1').item.json.telefono }}\nHabitación (SKU): {{ $('Preparar Datos para IA1').item.json.skuHabitacion }}\nDirección: {{ $('Preparar Datos para IA1').item.json.direccion }}\n\nTipo de incidencia: {{ $('Preparar Datos para IA1').item.json.tipoIncidencia }}\nDescripción: {{ $('Preparar Datos para IA1').item.json.descripcionIncidencia }}\nFoto: {{ $('Preparar Datos para IA1').item.json.fotoIncidencia }}\n\nÚltimo mensaje: {{ $('Preparar Datos para IA1').item.json.ultimoMensaje }}\n\nPor favor, retoma la conversación manualmente en GHL.","options":{"appendAttribution":false}},"id":"5bcb6469-5897-411e-8e5d-ba7bd511b276","name":"Email Handover al Equipo1","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[5040,1632],"webhookId":"504ca3d2-be5b-41fc-8bd4-8b2d8e4c5ddd","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-04-15"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $('Preparar Datos para IA1').item.json.contactId }}\",\n  \"message\": {{ JSON.stringify($('AI Agent1').item.json.output) }}\n}","options":{}},"id":"1179547e-84c0-4aa9-bb4c-f2e5291c64f4","name":"Enviar Respuesta IA por WhatsApp1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4816,1824],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"name":"Tripath Rooms API","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[3712,2048],"id":"tripath-rooms-api-001","parameters":{"url":"https://yourclient.com/api/internal/rooms-full","name":"tripath_rooms_api","toolDescription":"Obtiene datos en tiempo real de TODAS las habitaciones de Tripath. Devuelve JSON con campo rooms[]. Cada habitacion tiene: sku (ej: 12H2), available (bool), available_from (fecha libre), current_tenant con name/gender/nationality/move_out_date (inquilino actual), price, deposit, admin_fee, address, city, private_bathroom, couples_allowed, empadronamiento (bool), property_info.flatmates_description (companeros actuales), listing_url (enlace reserva yourclient.com), marketplace_links.idealista/spotahome, video_url. USAR para: disponibilidad, precio, companeros, empadronamiento, caracteristicas, enlaces reserva o marketplace.","options":{}}},{"parameters":{"modelName":"models/gemini-3-flash-preview","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[3328,2048],"id":"146b4c38-0e2b-4cfa-9181-5272d3b51db6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1760,1824],"id":"e9a97e49-935d-413a-a8ab-737f539c76f8","name":"Wait","webhookId":"29f25184-4b5a-4fc1-985d-489da5772ddb"},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[3456,2048],"id":"d4485273-a4bf-4de9-9480-f4e5c56138ed","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"url":"=https://db.yourclient.com/rest/v1/ai_memory?ghl_contact_id=eq.{{ $('Preparar Datos para IA1').item.json.contactId }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]},"options":{"alwaysOutputData":true}},"name":"Leer Memoria Supabase","type":"n8n-nodes-base.httpRequest","id":"1f7a581f-6c4e-4de7-b7ed-d225bb764e2e","position":[2880,1824],"typeVersion":4.2,"alwaysOutputData":true},{"parameters":{"jsCode":"\nconst preparaData = $('Preparar Datos para IA1').first().json;\nconst memRaw = $input.first().json;\nconst memArr = Array.isArray(memRaw) ? memRaw : [];\nlet historial = preparaData.historial || [];\nlet supabaseMessages = [];\nlet supabaseMemoryId = null;\nif (memArr.length > 0) {\n  supabaseMemoryId = memArr[0].id;\n  supabaseMessages = memArr[0].messages || [];\n  if (supabaseMessages.length > 0) historial = supabaseMessages;\n}\nreturn [{ json: { ...preparaData, historial, supabaseMemoryId, supabaseMessages } }];\n"},"name":"Merge Historial con Supabase","type":"n8n-nodes-base.code","id":"3507b0e2-e08f-4c69-ac5e-9963e3c93d38","position":[3104,1824],"typeVersion":2},{"parameters":{"jsCode":"\nconst mergeData = $('Merge Historial con Supabase').first().json;\nconst aiResponse = $input.first().json.output || '';\nconst existingMsgs = mergeData.supabaseMessages || [];\nconst newMsgs = [\n  ...existingMsgs,\n  { role: 'user', content: mergeData.ultimoMensaje, ts: new Date().toISOString() },\n  { role: 'assistant', content: aiResponse, ts: new Date().toISOString() }\n].slice(-20);\nreturn [{ json: {\n  contactId: mergeData.contactId,\n  nombre: mergeData.nombre,\n  ultimoMensaje: mergeData.ultimoMensaje,\n  nuevosIntentos: mergeData.nuevosIntentos,\n  supabaseMemoryId: mergeData.supabaseMemoryId,\n  updatedMessages: newMsgs,\n  aiResponse,\n  esHandover: mergeData.nuevosIntentos >= 7\n} }];\n"},"name":"Construir Memoria Actualizada","type":"n8n-nodes-base.code","id":"6c66c0a8-ae82-4f90-9089-263097bc817c","position":[3920,1824],"typeVersion":2},{"parameters":{"method":"POST","url":"https://db.yourclient.com/rest/v1/ai_memory?on_conflict=ghl_contact_id","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"resolution=merge-duplicates,return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ghl_contact_id\": \"{{ $('Construir Memoria Actualizada').item.json.contactId }}\",\n  \"messages\": {{ JSON.stringify($('Construir Memoria Actualizada').item.json.updatedMessages) }},\n  \"updated_at\": \"{{ new Date().toISOString() }}\"\n}","options":{}},"name":"Guardar Memoria en Supabase","type":"n8n-nodes-base.httpRequest","id":"65ab3627-ada0-43ac-a510-bc707b0817b5","position":[4144,1824],"typeVersion":4.2},{"parameters":{"jsCode":"\nconst data = $('Construir Memoria Actualizada').first().json;\nconst response = data.aiResponse || '';\nconst ultimoMensaje = data.ultimoMensaje || '';\nconst frases = ['no tengo esa informacion','no se exactamente','no puedo confirmar',\n  'habria que verificar','no tengo claro','te diria que preguntes','no tengo acceso','desconozco'];\nconst incertidumbre = frases.some(f => response.toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g,'').includes(f));\nconst esHandover = data.esHandover;\nconst msgs = data.updatedMessages || [];\nconst prevUser = msgs.slice(0, -2).filter(m => m.role === 'user').map(m => m.content);\nconst slice = ultimoMensaje.toLowerCase().slice(0, 25);\nconst preguntaRepetida = prevUser.some(p => p.toLowerCase().slice(0, 25) === slice);\nreturn [{ json: {\n  ...data,\n  esLaguna: incertidumbre || esHandover || preguntaRepetida,\n  tipoLaguna: esHandover ? 'handover' : preguntaRepetida ? 'repetida' : 'incertidumbre',\n  pregunta: ultimoMensaje,\n  respuestaIA: response\n} }];\n"},"name":"Detectar Laguna de Conocimiento","type":"n8n-nodes-base.code","id":"41e96031-ea39-4c84-9556-ac4f471f1d5a","position":[4592,2016],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"31d4eed0-96e7-48f6-bf29-750a85000788","leftValue":"={{ $json.esLaguna }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"¿Es Laguna de Conocimiento?","type":"n8n-nodes-base.if","id":"da13ef7c-fdf8-4e87-9831-6da78a16e96b","position":[4816,2016],"typeVersion":2},{"parameters":{"method":"POST","url":"https://db.yourclient.com/rest/v1/knowledge_gaps","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"question\": {{ JSON.stringify($json.pregunta) }},\n  \"ai_response\": {{ JSON.stringify($json.respuestaIA) }},\n  \"gap_type\": \"{{ $json.tipoLaguna }}\",\n  \"contact_id\": \"{{ $json.contactId }}\"\n}","options":{}},"name":"Guardar Laguna en Supabase","type":"n8n-nodes-base.httpRequest","id":"21cd3b9d-7bf7-4335-afc3-aefe849768c8","position":[5040,2016],"typeVersion":4.2},{"id":"send-tg-proposal","name":"Enviar Propuesta a Telegram","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4816,1728],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": YOUR_TELEGRAM_CHAT_ID, \"text\": \"📋 *{{ $(\\\"Construir Memoria Actualizada\\\").item.json.nombre }}* pregunta:\\n_{{ $(\\\"Construir Memoria Actualizada\\\").item.json.ultimoMensaje }}_\\n\\n💬 *Propuesta:*\\n{{ $(\\\"Construir Memoria Actualizada\\\").item.json.aiResponse }}\\n\\n↩️ Arrastra izquierda + responde para corregir\\n✅ Responde /ok para enviar\", \"parse_mode\": \"Markdown\"}"}},{"id":"save-tg-pending","name":"Guardar Propuesta Pendiente","type":"n8n-nodes-base.code","typeVersion":2,"position":[5040,1728],"parameters":{"jsCode":"const tgResp = $input.item.json;\nconst ctx = $(\"Construir Memoria Actualizada\").item.json;\nconst msgId = tgResp.result?.message_id;\nif (!msgId) return [{ json: { error: \"No Telegram message_id\", ctx } }];\nconst $vars = { msgId, contactId: ctx.contactId, convId: \"\", leadName: ctx.nombre, historial: ctx.updatedMessages || [], proposedResponse: ctx.aiResponse };\nreturn [{ json: $vars }];"}},{"id":"upsert-pending-supa","name":"Guardar en Supabase Pending","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5264,1728],"parameters":{"method":"POST","url":"https://db.yourclient.com/rest/v1/telegram_pending","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"resolution=merge-duplicates"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"telegram_msg_id\": {{ $json.msgId }}, \"contact_id\": \"{{ $json.contactId }}\", \"conv_id\": \"{{ $json.convId }}\", \"lead_name\": {{ JSON.stringify($json.leadName) }}, \"historial\": {{ JSON.stringify($json.historial) }}, \"proposed_response\": {{ JSON.stringify($json.proposedResponse) }}}"}}],"connections":{"Webhook GHL1":{"main":[[{"node":"Responder GHL OK1","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"¿IA Activa y No Bloqueada?1":{"main":[[{"node":"Buscar Conversación GHL1","type":"main","index":0}]]},"Buscar Conversación GHL1":{"main":[[{"node":"Obtener Mensajes GHL1","type":"main","index":0}]]},"Obtener Mensajes GHL1":{"main":[[{"node":"Preparar Datos para IA1","type":"main","index":0}]]},"Preparar Datos para IA1":{"main":[[{"node":"Leer Memoria Supabase","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Construir Memoria Actualizada","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[]]},"Get a document in Google Docs1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Actualizar IA_Intentos GHL1":{"main":[[{"node":"¿3 Intentos?1","type":"main","index":0},{"node":"Detectar Laguna de Conocimiento","type":"main","index":0}]]},"¿3 Intentos?1":{"main":[[{"node":"Bloquear IA en GHL1","type":"main","index":0}],[{"node":"Enviar Propuesta a Telegram","type":"main","index":0}]]},"Bloquear IA en GHL1":{"main":[[{"node":"Email Handover al Equipo1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Wait":{"main":[[{"node":"¿IA Activa y No Bloqueada?1","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":1}]]},"Leer Memoria Supabase":{"main":[[{"node":"Merge Historial con Supabase","type":"main","index":0}]]},"Merge Historial con Supabase":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Construir Memoria Actualizada":{"main":[[{"node":"Guardar Memoria en Supabase","type":"main","index":0}]]},"Guardar Memoria en Supabase":{"main":[[{"node":"Actualizar IA_Intentos GHL1","type":"main","index":0}]]},"Detectar Laguna de Conocimiento":{"main":[[{"node":"¿Es Laguna de Conocimiento?","type":"main","index":0}]]},"¿Es Laguna de Conocimiento?":{"main":[[{"node":"Guardar Laguna en Supabase","type":"main","index":0}],[]]},"Enviar Propuesta a Telegram":{"main":[[{"node":"Guardar Propuesta Pendiente","type":"main","index":0}]]},"Guardar Propuesta Pendiente":{"main":[[{"node":"Guardar en Supabase Pending","type":"main","index":0}]]},"Tripath Rooms API":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"authors":"Stratoma  Ai","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-23T11:55:32.862Z","id":412,"workflowId":"BaD4eZQSQrG9JRnHfftGZ","versionId":"5e387aec-ed76-4161-87ee-10d6ebb7b13b","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"},{"createdAt":"2026-03-23T11:55:32.843Z","id":411,"workflowId":"BaD4eZQSQrG9JRnHfftGZ","versionId":"5e387aec-ed76-4161-87ee-10d6ebb7b13b","event":"deactivated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}