n8n/workflows/Tripath-Monitor-Email-IA-Telegram-Approval.json
{"updatedAt":"2026-03-22T23:55:16.000Z","createdAt":"2026-03-22T12:18:15.869Z","id":"p7OS35XGT8XhDP2d","name":"Tripath — Monitor Email + IA + Telegram Approval","description":null,"active":false,"isArchived":true,"nodes":[{"id":"gm-trigger-info","name":"Gmail Trigger Info","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[100,300],"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"id":"code-extract","name":"Extraer Datos Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,300],"parameters":{"jsCode":"const email = $input.first().json;\n\n// Parse From field - handle string, object, and array formats from Gmail trigger\nlet fromRaw = '';\nconst rawFrom = email.from;\nif (typeof rawFrom === 'string') {\n  fromRaw = rawFrom;\n} else if (Array.isArray(rawFrom) && rawFrom.length > 0) {\n  const f = rawFrom[0];\n  fromRaw = f.name ? '\"' + f.name + '\" <' + (f.email || '') + '>' : (f.email || String(f));\n} else if (rawFrom && typeof rawFrom === 'object') {\n  fromRaw = rawFrom.name ? '\"' + rawFrom.name + '\" <' + (rawFrom.email || '') + '>' : (rawFrom.email || String(rawFrom));\n}\n\nconst fromMatch = fromRaw.match(/^\"?([^\"<]+)\"?\\s*<(.+)>$/);\nconst fromName = fromMatch ? fromMatch[1].trim() : fromRaw.split('@')[0];\nconst fromEmail = fromMatch ? fromMatch[2].trim() : fromRaw;\n\nconst subject = email.subject || 'Sin asunto';\nconst body = email.text || email.snippet || '';\nconst messageId = email.id || '';\nconst threadId = email.threadId || '';\n\n// Extract To field to detect developer@yourclient.com\nlet toField = '';\nconst rawTo = email.to;\nif (typeof rawTo === 'string') {\n  toField = rawTo;\n} else if (Array.isArray(rawTo) && rawTo.length > 0) {\n  toField = rawTo.map(t => typeof t === 'string' ? t : (t.email || t.address || String(t))).join(', ');\n} else if (rawTo && typeof rawTo === 'object') {\n  toField = rawTo.email || rawTo.address || String(rawTo);\n}\n// Also check headers for delivered-to or to\nif (!toField) {\n  const headers = Array.isArray(email.headers) ? email.headers : [];\n  const toHeader = headers.find(h => h.name && h.name.toLowerCase() === 'to');\n  const deliveredTo = headers.find(h => h.name && h.name.toLowerCase() === 'delivered-to');\n  toField = (toHeader ? toHeader.value : '') || (deliveredTo ? deliveredTo.value : '') || '';\n}\n// Check flat headers object too\nif (!toField && email.headers && typeof email.headers === 'object' && !Array.isArray(email.headers)) {\n  toField = email.headers.to || email.headers.To || email.headers['delivered-to'] || '';\n}\nconst isDeveloperEmail = String(toField).toLowerCase().includes('developer@yourclient.com');\n\n// Skip automated emails\nconst skipPatterns = ['noreply', 'no-reply', 'mailer-daemon', 'donotreply', 'notification', 'auto-', 'bounce', '@google.com', '@facebook.com', '@linkedin.com', 'newsletter', 'unsubscribe'];\nconst headers2 = Array.isArray(email.headers) ? email.headers : [];\nconst isAutomated = skipPatterns.some(p => fromEmail.toLowerCase().includes(p) || headers2.some(h => h.name === 'X-Mailer' && h.value && h.value.includes('automated')));\n\nreturn [{\n  json: {\n    fromEmail,\n    fromName: fromName || fromEmail,\n    subject,\n    body: body.substring(0, 4000),\n    bodySnippet: body.substring(0, 600),\n    messageId,\n    threadId,\n    isAutomated,\n    isDeveloperEmail,\n    toField: String(toField),\n    toAccount: isDeveloperEmail ? 'developer' : 'info'\n  }\n}];"}},{"id":"if-automated","name":"No es automatico","type":"n8n-nodes-base.if","typeVersion":2,"position":[540,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c1","leftValue":"={{ $json.isAutomated }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"http-rooms","name":"Obtener Habitaciones","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,400],"parameters":{"method":"GET","url":"https://yourclient.com/api/internal/rooms-full","options":{"timeout":10000}}},{"id":"http-openrouter","name":"IA Genera Respuesta Email","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1320,400],"parameters":{"method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_OPENROUTER_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.requestBody) }}"}},{"id":"code-extract-ai","name":"Extraer Respuesta IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1540,400],"parameters":{"jsCode":"const response = $input.first().json;\nconst aiText = response.choices?.[0]?.message?.content || 'Error generando respuesta';\nconst emailData = $('Extraer Datos Email').item.json;\n\nreturn [{\n  json: {\n    ...emailData,\n    aiResponse: aiText\n  }\n}];"}},{"id":"http-supabase-insert","name":"Guardar en Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1980,400],"parameters":{"method":"POST","url":"https://db.yourclient.com/rest/v1/email_pending_approvals","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.supabaseBody) }}"}},{"id":"code-prepare-tg","name":"Preparar Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,400],"parameters":{"jsCode":"const supaResult = $input.first().json;\nconst approvalId = Array.isArray(supaResult) ? supaResult[0].id : supaResult.id;\nconst emailData = $('Extraer Respuesta IA').item.json;\n\nconst approveUrl = `https://n8n.yourdomain.com/webhook/tripath-approve-email?id=${approvalId}`;\nconst rejectUrl = `https://n8n.yourdomain.com/webhook/tripath-reject-email?id=${approvalId}`;\n\nconst fromLine = emailData.fromName !== emailData.fromEmail\n  ? `${emailData.fromName} <${emailData.fromEmail}>`\n  : emailData.fromEmail;\n\nconst text = `✉️ *Nuevo email [${emailData.toAccount}@yourclient.com]*\\n\\n*De:* ${fromLine}\\n*Asunto:* ${emailData.subject}\\n\\n*Extracto:*\\n${emailData.bodySnippet}\\n\\n---\\n💬 *Respuesta propuesta:*\\n${emailData.aiResponse}`;\n\nconst telegramBody = {\n  chat_id: YOUR_TELEGRAM_CHAT_ID,\n  text: text.substring(0, 4096),\n  parse_mode: 'Markdown',\n  reply_markup: {\n    inline_keyboard: [[\n      {text: '✅ Aprobar y enviar', url: approveUrl},\n      {text: '❌ Rechazar', url: rejectUrl}\n    ]]\n  }\n};\n\nreturn [{json: {telegramBody, approvalId}}];"}},{"id":"http-telegram","name":"Enviar Telegram Approval","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2420,400],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.telegramBody) }}"}},{"id":"gmail-mark-read","name":"Marcar como leído","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2640,400],"parameters":{"operation":"markAsRead","messageId":"={{ $('Extraer Datos Email').item.json.messageId }}"},"credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"id":"code-prepare-ai-body","name":"Preparar Body IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,400],"parameters":{"jsCode":"const roomsData = $('Obtener Habitaciones').item.json;\nconst emailData = $('Extraer Datos Email').item.json;\n\n// Handle both array and object with rooms property\nlet allRooms = [];\nif (Array.isArray(roomsData)) {\n  allRooms = roomsData;\n} else if (roomsData && Array.isArray(roomsData.rooms)) {\n  allRooms = roomsData.rooms;\n}\nconst availableRooms = allRooms.filter(r => r.available).slice(0, 5);\n\nconst systemPrompt = 'Eres Agente del equipo Coliving en Madrid y Alicante. Tripath alquila habitaciones en pisos compartidos. Tu tarea es generar una respuesta de email profesional, cercana y en el idioma del remitente.' +\n  '\\n\\nHABITACIONES DISPONIBLES:\\n' + JSON.stringify(availableRooms) +\n  '\\n\\nREGLAS:\\n1. Responde en el idioma del email recibido (español/inglés/etc)\\n2. Sé humano y directo, no robótico\\n3. Si preguntan por disponibilidad, menciona habitaciones disponibles con precio\\n4. Si es una queja o consulta de inquilino, sé empático y ofrece solución\\n5. Máximo 150 palabras\\n6. Firma como: Agente | yourclient Coliving | bookings@yourclient.com';\n\nconst userMessage = 'Email recibido de ' + emailData.fromName + ' <' + emailData.fromEmail + '>\\nAsunto: ' + emailData.subject + '\\n\\nContenido:\\n' + emailData.body;\n\nreturn [{\n  json: {\n    requestBody: {\n      model: 'google/gemini-flash-1.5',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userMessage }\n      ]\n    }\n  }\n}];"}},{"id":"code-prepare-supabase","name":"Preparar Body Supabase","type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,400],"parameters":{"jsCode":"const data = $input.first().json;\n\nreturn [{\n  json: {\n    ...data,\n    supabaseBody: {\n      email_id: data.messageId || '',\n      thread_id: data.threadId || '',\n      from_email: data.fromEmail || '',\n      from_name: data.fromName || '',\n      subject: data.subject || '',\n      body_snippet: data.bodySnippet || '',\n      to_account: data.toAccount || 'info',\n      gmail_credential: 'eh9Byisg0sc9krul',\n      proposed_response: data.aiResponse || '',\n      status: 'pending'\n    }\n  }\n}];"}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"dev-check","leftValue":"={{ $json.isDeveloperEmail }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"dev-email-check-node","name":"Es email developer?","type":"n8n-nodes-base.if","typeVersion":2,"position":[650,240]},{"parameters":{"method":"POST","url":"https://paperclip.yourdomain.com/api/companies/YOUR_COMPANY_ID_1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify('[Developer Email] ' + $('Extraer Datos Email').item.json.subject) }},\n  \"description\": {{ JSON.stringify('## Email recibido en developer@yourclient.com\\n\\n**De:** ' + $('Extraer Datos Email').item.json.fromName + ' <' + $('Extraer Datos Email').item.json.fromEmail + '>\\n**Asunto:** ' + $('Extraer Datos Email').item.json.subject + '\\n**Para:** ' + $('Extraer Datos Email').item.json.toField + '\\n\\n---\\n\\n' + $('Extraer Datos Email').item.json.body) }},\n  \"status\": \"todo\",\n  \"priority\": \"high\",\n  \"assigneeAgentId\": \"YOUR_AGENT_ID\"\n}","options":{"timeout":10000}},"id":"paperclip-alex-developer","name":"Crear Tarea Paperclip Alex","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[880,120],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": \"YOUR_TELEGRAM_CHAT_ID\",\n  \"text\": {{ JSON.stringify('📧 Email a developer@yourclient.com\\n\\nDe: ' + $('Extraer Datos Email').item.json.fromName + ' <' + $('Extraer Datos Email').item.json.fromEmail + '>\\nAsunto: ' + $('Extraer Datos Email').item.json.subject + '\\n\\n' + $('Extraer Datos Email').item.json.bodySnippet.substring(0, 300) + '\\n\\n✅ Tarea creada para Alex en Paperclip') }},\n  \"parse_mode\": \"HTML\"\n}","options":{"timeout":5000}},"id":"telegram-dev-notify","name":"Notificar Telegram Dev","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1100,120],"onError":"continueRegularOutput"},{"parameters":{"operation":"markAsRead","messageId":"={{ $('Extraer Datos Email').item.json.messageId }}"},"id":"mark-read-developer","name":"Marcar como leído Dev","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1320,120],"credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}}],"connections":{"Gmail Trigger Info":{"main":[[{"node":"Extraer Datos Email","type":"main","index":0}]]},"Extraer Datos Email":{"main":[[{"node":"No es automatico","type":"main","index":0}]]},"No es automatico":{"main":[[{"node":"Es email developer?","type":"main","index":0}],[]]},"Obtener Habitaciones":{"main":[[{"node":"Preparar Body IA","type":"main","index":0}]]},"IA Genera Respuesta Email":{"main":[[{"node":"Extraer Respuesta IA","type":"main","index":0}]]},"Extraer Respuesta IA":{"main":[[{"node":"Preparar Body Supabase","type":"main","index":0}]]},"Guardar en Supabase":{"main":[[{"node":"Preparar Telegram","type":"main","index":0}]]},"Preparar Telegram":{"main":[[{"node":"Enviar Telegram Approval","type":"main","index":0}]]},"Enviar Telegram Approval":{"main":[[{"node":"Marcar como leído","type":"main","index":0}]]},"Preparar Body IA":{"main":[[{"node":"IA Genera Respuesta Email","type":"main","index":0}]]},"Preparar Body Supabase":{"main":[[{"node":"Guardar en Supabase","type":"main","index":0}]]},"Es email developer?":{"main":[[{"node":"Crear Tarea Paperclip Alex","type":"main","index":0}],[{"node":"Obtener Habitaciones","type":"main","index":0}]]},"Crear Tarea Paperclip Alex":{"main":[[{"node":"Notificar Telegram Dev","type":"main","index":0}]]},"Notificar Telegram Dev":{"main":[[{"node":"Marcar como leído Dev","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","availableInMCP":false},"staticData":{"node:Gmail Trigger Info":{"lastTimeChecked":1774221786,"possibleDuplicates":["19d17dbfe09d2e82"]}},"meta":null,"pinData":null,"versionId":"b09d1d64-54be-48db-9d3d-cccfd1bca890","activeVersionId":null,"versionCounter":38,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T12:18:15.875Z","createdAt":"2026-03-22T12:18:15.875Z","role":"workflow:owner","workflowId":"p7OS35XGT8XhDP2d","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[],"activeVersion":null}