n8n/workflows/Tripath-IA-Auto-Mejora-Conocimiento.json
{"updatedAt":"2026-03-26T16:55:39.867Z","createdAt":"2026-03-20T19:49:46.253Z","id":"k8Lj3yjHgQwiE9fW","name":"Tripath — IA Auto-Mejora Conocimiento","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"name":"Trigger Semanal","type":"n8n-nodes-base.scheduleTrigger","id":"aa1","position":[240,304],"typeVersion":1.2},{"parameters":{"url":"https://db.yourclient.com/rest/v1/knowledge_gaps?resolved=eq.false&order=created_at.desc&limit=50","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]},"options":{}},"name":"Leer Lagunas","type":"n8n-nodes-base.httpRequest","id":"aa2","position":[480,304],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c1","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Hay Lagunas","type":"n8n-nodes-base.if","id":"aa3","position":[720,304],"typeVersion":2},{"parameters":{"jsCode":"const gaps=$input.all().map(i=>i.json);\nconst lista=gaps.map((g,i)=>`${i+1}. [${g.gap_type}] ${g.question}`).join('\\n');\nreturn [{json:{totalGaps:gaps.length,gapIds:gaps.map(g=>g.id),prompt:`Tripath IA coliving. ${gaps.length} preguntas sin respuesta:\\n${lista}\\nAgrupa por tema y da respuesta oficial. SOLO JSON: [{\"tema\":\"X\",\"preguntas_tipo\":[\"ej\"],\"respuesta_oficial\":\"resp\"}]`}}];"},"name":"Preparar Analisis","type":"n8n-nodes-base.code","id":"aa4","position":[960,224],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $('Preparar Analisis').item.json.prompt }}","options":{"maxIterations":3}},"name":"Analizar con IA","type":"@n8n/n8n-nodes-langchain.agent","id":"aa5","position":[1200,224],"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"name":"Gemini Flash","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","id":"aa6","position":[1200,432],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const out=$input.first().json.output||'';\nconst total=$('Preparar Analisis').first().json.totalGaps;\nconst ids=$('Preparar Analisis').first().json.gapIds;\nlet temas=[];\ntry{const m=out.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);if(m)temas=JSON.parse(m[0]);}catch(e){temas=[{tema:'General',preguntas_tipo:[],respuesta_oficial:out}];}\nconst fecha=new Date().toLocaleDateString('es-ES',{day:'2-digit',month:'long',year:'numeric'});\nlet txt=`\\n\\n---\\n## Actualizacion IA - ${fecha}\\n${total} preguntas procesadas\\n`;\ntemas.forEach(t=>{txt+=`\\n### ${t.tema}\\nPreguntas: ${(t.preguntas_tipo||[]).join(' / ')}\\n\\n${t.respuesta_oficial}\\n`;});\nreturn [{json:{temas,ids,txt,total,resumen:temas.map(t=>t.tema).join(', '),fecha}}];"},"name":"Parsear IA","type":"n8n-nodes-base.code","id":"aa7","position":[1488,224],"typeVersion":2},{"parameters":{"operation":"update","documentURL":"1jfLtYyKkOxlQblSqsnRvN97BDh_JR9KsWvjVljTZask","actionsUi":{"actionFields":[{"action":"insert"}]}},"name":"Update Google Doc","type":"n8n-nodes-base.googleDocs","id":"aa8","position":[1920,224],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"Yoaqm7fvojNGNQsi","name":"Google Docs account"}}},{"parameters":{"method":"PATCH","url":"https://db.yourclient.com/rest/v1/knowledge_gaps?resolved=eq.false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"resolved\":true,\"resolved_at\":\"={{ new Date().toISOString() }}\"}","options":{}},"name":"Marcar Resueltas","type":"n8n-nodes-base.httpRequest","id":"aa9","position":[2160,224],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": YOUR_TELEGRAM_CHAT_ID,\n  \"text\": {{ JSON.stringify('📚 *Auto-Mejora Tripath — ' + new Date().toLocaleDateString('es-ES', {weekday:'long', year:'numeric', month:'long', day:'numeric'}) + '*\\n\\n' + $json.resumen + '\\n\\n_Base de conocimiento actualizada. Lucas ya sabe responder estas preguntas.') }},\n  \"parse_mode\": \"Markdown\"\n}","options":{}},"id":"tg1","name":"Notificar Telegram User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,224],"continueOnFail":true}],"connections":{"Trigger Semanal":{"main":[[{"node":"Leer Lagunas","type":"main","index":0}]]},"Leer Lagunas":{"main":[[{"node":"Hay Lagunas","type":"main","index":0}]]},"Hay Lagunas":{"main":[[{"node":"Preparar Analisis","type":"main","index":0}],[]]},"Preparar Analisis":{"main":[[{"node":"Analizar con IA","type":"main","index":0}]]},"Analizar con IA":{"main":[[{"node":"Parsear IA","type":"main","index":0}]]},"Gemini Flash":{"ai_languageModel":[[{"node":"Analizar con IA","type":"ai_languageModel","index":0}]]},"Parsear IA":{"main":[[{"node":"Notificar Telegram User","type":"main","index":0}]]},"Update Google Doc":{"main":[[{"node":"Marcar Resueltas","type":"main","index":0}]]},"Notificar Telegram User":{"main":[[{"node":"Update Google Doc","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","binaryMode":"separate"},"staticData":{"node:Trigger Semanal":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3b489f15-9d65-41ab-a028-26ff385e676c","activeVersionId":"1d77c6c6-4ec7-4ec1-b00d-32038103cb42","versionCounter":25,"triggerCount":1,"shared":[{"updatedAt":"2026-03-20T19:49:46.256Z","createdAt":"2026-03-20T19:49:46.256Z","role":"workflow:owner","workflowId":"k8Lj3yjHgQwiE9fW","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"YOUR_N8N_USER_ID"}}],"tags":[{"updatedAt":"2026-02-10T13:36:59.936Z","createdAt":"2026-02-10T13:36:59.936Z","id":"Jq3C9KCKKUPw7MkP","name":"Tripath"}],"activeVersion":{"updatedAt":"2026-03-21T15:53:13.343Z","createdAt":"2026-03-21T15:53:13.343Z","versionId":"1d77c6c6-4ec7-4ec1-b00d-32038103cb42","workflowId":"k8Lj3yjHgQwiE9fW","nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":9}]}},"name":"Trigger Semanal","type":"n8n-nodes-base.scheduleTrigger","id":"aa1","position":[240,304],"typeVersion":1.2},{"parameters":{"url":"https://db.yourclient.com/rest/v1/knowledge_gaps?resolved=eq.false&order=created_at.desc&limit=50","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]},"options":{}},"name":"Leer Lagunas","type":"n8n-nodes-base.httpRequest","id":"aa2","position":[480,304],"typeVersion":4.2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"name":"Hay Lagunas","type":"n8n-nodes-base.if","id":"aa3","position":[720,304],"typeVersion":2},{"parameters":{"jsCode":"const gaps=$input.all().map(i=>i.json);\nconst lista=gaps.map((g,i)=>`${i+1}. [${g.gap_type}] ${g.question}`).join('\\n');\nreturn [{json:{totalGaps:gaps.length,gapIds:gaps.map(g=>g.id),prompt:`Tripath IA coliving. ${gaps.length} preguntas sin respuesta:\\n${lista}\\nAgrupa por tema y da respuesta oficial. SOLO JSON: [{\"tema\":\"X\",\"preguntas_tipo\":[\"ej\"],\"respuesta_oficial\":\"resp\"}]`}}];"},"name":"Preparar Analisis","type":"n8n-nodes-base.code","id":"aa4","position":[960,224],"typeVersion":2},{"parameters":{"promptType":"define","text":"={{ $('Preparar Analisis').item.json.prompt }}","options":{"maxIterations":3}},"name":"Analizar con IA","type":"@n8n/n8n-nodes-langchain.agent","id":"aa5","position":[1200,224],"typeVersion":1.7},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"name":"Gemini Flash","type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","id":"aa6","position":[1200,432],"typeVersion":1,"credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsCode":"const out=$input.first().json.output||'';\nconst total=$('Preparar Analisis').first().json.totalGaps;\nconst ids=$('Preparar Analisis').first().json.gapIds;\nlet temas=[];\ntry{const m=out.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);if(m)temas=JSON.parse(m[0]);}catch(e){temas=[{tema:'General',preguntas_tipo:[],respuesta_oficial:out}];}\nconst fecha=new Date().toLocaleDateString('es-ES',{day:'2-digit',month:'long',year:'numeric'});\nlet txt=`\\n\\n---\\n## Actualizacion IA - ${fecha}\\n${total} preguntas procesadas\\n`;\ntemas.forEach(t=>{txt+=`\\n### ${t.tema}\\nPreguntas: ${(t.preguntas_tipo||[]).join(' / ')}\\n\\n${t.respuesta_oficial}\\n`;});\nreturn [{json:{temas,ids,txt,total,resumen:temas.map(t=>t.tema).join(', '),fecha}}];"},"name":"Parsear IA","type":"n8n-nodes-base.code","id":"aa7","position":[1488,224],"typeVersion":2},{"parameters":{"operation":"update","documentURL":"1jfLtYyKkOxlQblSqsnRvN97BDh_JR9KsWvjVljTZask","actionsUi":{"actionFields":[{"action":"insert"}]}},"name":"Update Google Doc","type":"n8n-nodes-base.googleDocs","id":"aa8","position":[1920,224],"typeVersion":2,"credentials":{"googleDocsOAuth2Api":{"id":"Yoaqm7fvojNGNQsi","name":"Google Docs account"}}},{"parameters":{"method":"PATCH","url":"https://db.yourclient.com/rest/v1/knowledge_gaps?resolved=eq.false","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"resolved\":true,\"resolved_at\":\"={{ new Date().toISOString() }}\"}","options":{}},"name":"Marcar Resueltas","type":"n8n-nodes-base.httpRequest","id":"aa9","position":[2160,224],"typeVersion":4.2},{"parameters":{"method":"POST","url":"=https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": YOUR_TELEGRAM_CHAT_ID,\n  \"text\": {{ JSON.stringify('📚 *Auto-Mejora Tripath — ' + new Date().toLocaleDateString('es-ES', {weekday:'long', year:'numeric', month:'long', day:'numeric'}) + '*\\n\\n' + $json.resumen + '\\n\\n_Base de conocimiento actualizada. Lucas ya sabe responder estas preguntas.') }},\n  \"parse_mode\": \"Markdown\"\n}","options":{}},"id":"tg1","name":"Notificar Telegram User","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1680,224],"continueOnFail":true}],"connections":{"Trigger Semanal":{"main":[[{"node":"Leer Lagunas","type":"main","index":0}]]},"Leer Lagunas":{"main":[[{"node":"Hay Lagunas","type":"main","index":0}]]},"Hay Lagunas":{"main":[[{"node":"Preparar Analisis","type":"main","index":0}],[]]},"Preparar Analisis":{"main":[[{"node":"Analizar con IA","type":"main","index":0}]]},"Analizar con IA":{"main":[[{"node":"Parsear IA","type":"main","index":0}]]},"Gemini Flash":{"ai_languageModel":[[{"node":"Analizar con IA","type":"ai_languageModel","index":0}]]},"Parsear IA":{"main":[[{"node":"Notificar Telegram User","type":"main","index":0}]]},"Update Google Doc":{"main":[[{"node":"Marcar Resueltas","type":"main","index":0}]]},"Notificar Telegram User":{"main":[[{"node":"Update Google Doc","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T15:53:13.403Z","id":265,"workflowId":"k8Lj3yjHgQwiE9fW","versionId":"1d77c6c6-4ec7-4ec1-b00d-32038103cb42","event":"activated","userId":"YOUR_N8N_USER_ID"},{"createdAt":"2026-03-21T15:53:13.388Z","id":264,"workflowId":"k8Lj3yjHgQwiE9fW","versionId":"1d77c6c6-4ec7-4ec1-b00d-32038103cb42","event":"deactivated","userId":"YOUR_N8N_USER_ID"}]}}