n8n/workflows/Tripath-Email-Aprobar-Rechazar-Telegram.json
{"updatedAt":"2026-03-23T11:08:49.230Z","createdAt":"2026-03-22T12:18:58.651Z","id":"X1D6UCi5Sff4CC3f","name":"Tripath — Email Aprobar Rechazar Telegram","description":null,"active":true,"isArchived":false,"nodes":[{"id":"wh-approve","name":"Webhook Aprobar Email","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,200],"parameters":{"path":"tripath-approve-email","httpMethod":"GET","responseMode":"responseNode","options":{}},"webhookId":"tripath-approve-email-wh"},{"id":"http-get-approve","name":"Obtener Email Pendiente Aprobar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[320,200],"parameters":{"method":"GET","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $json.query.id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]}}},{"id":"code-extract-pending-approve","name":"Extraer Datos Pendiente Aprobar","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,200],"parameters":{"jsCode":"const result = $input.first().json;\nconst record = Array.isArray(result) ? result[0] : result;\nif (!record || !record.id) {\n  throw new Error('Email pendiente no encontrado');\n}\nif (record.status !== 'pending') {\n  throw new Error(`Email ya procesado con status: ${record.status}`);\n}\nreturn [{json: record}];"}},{"id":"gmail-send-reply","name":"Enviar Email Respuesta","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[760,200],"parameters":{"operation":"reply","messageId":"={{ $json.email_id }}","message":"={{ $json.proposed_response }}","options":{}},"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"id":"gmail-add-label-ia","name":"Añadir Label Respondido por IA","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[980,200],"parameters":{"operation":"addLabels","messageId":"={{ $('Extraer Datos Pendiente Aprobar').item.json.email_id }}","labelIds":["Label_YOUR_WHATSAPP_PHONE_ID9099"]},"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}},"onError":"continueRegularOutput"},{"id":"http-update-approved","name":"Marcar Aprobado Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,200],"parameters":{"method":"PATCH","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $('Extraer Datos Pendiente Aprobar').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"status\": \"approved\"}"}},{"id":"http-tg-approved","name":"Telegram Enviado OK","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1420,200],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": YOUR_TELEGRAM_CHAT_ID, \"text\": \"✅ Email enviado a {{ $('Extraer Datos Pendiente Aprobar').item.json.from_name }} <{{ $('Extraer Datos Pendiente Aprobar').item.json.from_email }}>\\n\\nAsunto: {{ $('Extraer Datos Pendiente Aprobar').item.json.subject }}\"}"}},{"id":"respond-ok-approve","name":"Respond OK Aprobar","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1640,200],"parameters":{"respondWith":"text","responseBody":"✅ Email enviado correctamente"}},{"id":"wh-reject","name":"Webhook Rechazar Email","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,500],"parameters":{"path":"tripath-reject-email","httpMethod":"GET","responseMode":"responseNode","options":{}},"webhookId":"tripath-reject-email-wh"},{"id":"http-get-reject","name":"Obtener Email Pendiente Rechazar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[320,500],"parameters":{"method":"GET","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $json.query.id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]}}},{"id":"http-update-rejected","name":"Marcar Rechazado Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[540,500],"parameters":{"method":"PATCH","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $json[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"status\": \"rejected\"}"}},{"id":"http-tg-rejected","name":"Telegram Rechazado OK","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[760,500],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": YOUR_TELEGRAM_CHAT_ID, \"text\": \"❌ Email rechazado. No se enviará respuesta a {{ $('Obtener Email Pendiente Rechazar').item.json[0].from_email }}\"}"}},{"id":"respond-ok-reject","name":"Respond OK Rechazar","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[980,500],"parameters":{"respondWith":"text","responseBody":"❌ Email descartado"}}],"connections":{"Webhook Aprobar Email":{"main":[[{"node":"Obtener Email Pendiente Aprobar","type":"main","index":0}]]},"Obtener Email Pendiente Aprobar":{"main":[[{"node":"Extraer Datos Pendiente Aprobar","type":"main","index":0}]]},"Extraer Datos Pendiente Aprobar":{"main":[[{"node":"Enviar Email Respuesta","type":"main","index":0}]]},"Enviar Email Respuesta":{"main":[[{"node":"Añadir Label Respondido por IA","type":"main","index":0}]]},"Añadir Label Respondido por IA":{"main":[[{"node":"Marcar Aprobado Supabase","type":"main","index":0}]]},"Marcar Aprobado Supabase":{"main":[[{"node":"Telegram Enviado OK","type":"main","index":0}]]},"Telegram Enviado OK":{"main":[[{"node":"Respond OK Aprobar","type":"main","index":0}]]},"Webhook Rechazar Email":{"main":[[{"node":"Obtener Email Pendiente Rechazar","type":"main","index":0}]]},"Obtener Email Pendiente Rechazar":{"main":[[{"node":"Marcar Rechazado Supabase","type":"main","index":0}]]},"Marcar Rechazado Supabase":{"main":[[{"node":"Telegram Rechazado OK","type":"main","index":0}]]},"Telegram Rechazado OK":{"main":[[{"node":"Respond OK Rechazar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7682667e-1127-4592-a999-e9b0186e9b45","activeVersionId":"7682667e-1127-4592-a999-e9b0186e9b45","versionCounter":24,"triggerCount":2,"shared":[{"updatedAt":"2026-03-22T12:18:58.654Z","createdAt":"2026-03-22T12:18:58.654Z","role":"workflow:owner","workflowId":"X1D6UCi5Sff4CC3f","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"YOUR_N8N_USER_ID"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-23T11:08:49.231Z","createdAt":"2026-03-23T11:08:49.231Z","versionId":"7682667e-1127-4592-a999-e9b0186e9b45","workflowId":"X1D6UCi5Sff4CC3f","nodes":[{"id":"wh-approve","name":"Webhook Aprobar Email","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,200],"parameters":{"path":"tripath-approve-email","httpMethod":"GET","responseMode":"responseNode","options":{}},"webhookId":"tripath-approve-email-wh"},{"id":"http-get-approve","name":"Obtener Email Pendiente Aprobar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[320,200],"parameters":{"method":"GET","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $json.query.id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]}}},{"id":"code-extract-pending-approve","name":"Extraer Datos Pendiente Aprobar","type":"n8n-nodes-base.code","typeVersion":2,"position":[540,200],"parameters":{"jsCode":"const result = $input.first().json;\nconst record = Array.isArray(result) ? result[0] : result;\nif (!record || !record.id) {\n  throw new Error('Email pendiente no encontrado');\n}\nif (record.status !== 'pending') {\n  throw new Error(`Email ya procesado con status: ${record.status}`);\n}\nreturn [{json: record}];"}},{"id":"gmail-send-reply","name":"Enviar Email Respuesta","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[760,200],"parameters":{"operation":"reply","messageId":"={{ $json.email_id }}","message":"={{ $json.proposed_response }}","options":{}},"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"id":"gmail-add-label-ia","name":"Añadir Label Respondido por IA","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[980,200],"parameters":{"operation":"addLabels","messageId":"={{ $('Extraer Datos Pendiente Aprobar').item.json.email_id }}","labelIds":["Label_YOUR_WHATSAPP_PHONE_ID9099"]},"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}},"onError":"continueRegularOutput"},{"id":"http-update-approved","name":"Marcar Aprobado Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1200,200],"parameters":{"method":"PATCH","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $('Extraer Datos Pendiente Aprobar').item.json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"status\": \"approved\"}"}},{"id":"http-tg-approved","name":"Telegram Enviado OK","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1420,200],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": YOUR_TELEGRAM_CHAT_ID, \"text\": \"✅ Email enviado a {{ $('Extraer Datos Pendiente Aprobar').item.json.from_name }} <{{ $('Extraer Datos Pendiente Aprobar').item.json.from_email }}>\\n\\nAsunto: {{ $('Extraer Datos Pendiente Aprobar').item.json.subject }}\"}"}},{"id":"respond-ok-approve","name":"Respond OK Aprobar","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1640,200],"parameters":{"respondWith":"text","responseBody":"✅ Email enviado correctamente"}},{"id":"wh-reject","name":"Webhook Rechazar Email","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[100,500],"parameters":{"path":"tripath-reject-email","httpMethod":"GET","responseMode":"responseNode","options":{}},"webhookId":"tripath-reject-email-wh"},{"id":"http-get-reject","name":"Obtener Email Pendiente Rechazar","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[320,500],"parameters":{"method":"GET","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $json.query.id }}&limit=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"}]}}},{"id":"http-update-rejected","name":"Marcar Rechazado Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[540,500],"parameters":{"method":"PATCH","url":"=https://db.yourclient.com/rest/v1/email_pending_approvals?id=eq.{{ $json[0].id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.YOUR_SUPABASE_JWT_TOKEN.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"status\": \"rejected\"}"}},{"id":"http-tg-rejected","name":"Telegram Rechazado OK","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[760,500],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"chat_id\": YOUR_TELEGRAM_CHAT_ID, \"text\": \"❌ Email rechazado. No se enviará respuesta a {{ $('Obtener Email Pendiente Rechazar').item.json[0].from_email }}\"}"}},{"id":"respond-ok-reject","name":"Respond OK Rechazar","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[980,500],"parameters":{"respondWith":"text","responseBody":"❌ Email descartado"}}],"connections":{"Webhook Aprobar Email":{"main":[[{"node":"Obtener Email Pendiente Aprobar","type":"main","index":0}]]},"Obtener Email Pendiente Aprobar":{"main":[[{"node":"Extraer Datos Pendiente Aprobar","type":"main","index":0}]]},"Extraer Datos Pendiente Aprobar":{"main":[[{"node":"Enviar Email Respuesta","type":"main","index":0}]]},"Enviar Email Respuesta":{"main":[[{"node":"Añadir Label Respondido por IA","type":"main","index":0}]]},"Añadir Label Respondido por IA":{"main":[[{"node":"Marcar Aprobado Supabase","type":"main","index":0}]]},"Marcar Aprobado Supabase":{"main":[[{"node":"Telegram Enviado OK","type":"main","index":0}]]},"Telegram Enviado OK":{"main":[[{"node":"Respond OK Aprobar","type":"main","index":0}]]},"Webhook Rechazar Email":{"main":[[{"node":"Obtener Email Pendiente Rechazar","type":"main","index":0}]]},"Obtener Email Pendiente Rechazar":{"main":[[{"node":"Marcar Rechazado Supabase","type":"main","index":0}]]},"Marcar Rechazado Supabase":{"main":[[{"node":"Telegram Rechazado OK","type":"main","index":0}]]},"Telegram Rechazado OK":{"main":[[{"node":"Respond OK Rechazar","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-23T11:08:49.302Z","id":402,"workflowId":"X1D6UCi5Sff4CC3f","versionId":"7682667e-1127-4592-a999-e9b0186e9b45","event":"activated","userId":"YOUR_N8N_USER_ID"},{"createdAt":"2026-03-23T11:08:49.280Z","id":401,"workflowId":"X1D6UCi5Sff4CC3f","versionId":"7682667e-1127-4592-a999-e9b0186e9b45","event":"deactivated","userId":"YOUR_N8N_USER_ID"}]}}