n8n/workflows/Tripath-Extraer-Llamadas-Idealista-Teléfono-Habitación.json
{"updatedAt":"2026-03-26T17:04:56.172Z","createdAt":"2026-03-22T00:29:18.931Z","id":"mL5P6QmsZgNBgWeX","name":"Tripath — Extraer Llamadas Idealista (Teléfono + Habitación)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":["Label_YOUR_META_AD_ACCOUNT_ID9200"]},"options":{}},"id":"node-gmail","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[208,320],"credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"jsCode":"const emailItem = $('Gmail Trigger').first();\n\nconst subject = emailItem.json.Subject || emailItem.json.subject || '';\nconst body = emailItem.json.snippet || emailItem.json.textPlain || emailItem.json.textHtml || '';\nconst fullText = subject + ' ' + body;\n\nconst phoneMatch = fullText.match(/llamado[\\s\\S]{0,10}?34\\s*(\\d[\\s\\d]{7,11})/i);\nlet phone = null;\nif (phoneMatch) {\n  const digits = phoneMatch[1].replace(/\\s/g, '');\n  phone = '+34' + digits.slice(0, 9);\n}\n\nlet status = 'desconocido';\nconst statusMatch = fullText.match(/Estado[\\s\\S]{0,5}?(atendida|no contestada)/i);\nif (statusMatch) status = statusMatch[1].toLowerCase();\n\nconst durationMatch = fullText.match(/segundos[\\s\\S]{0,5}?(\\d+)/i);\nconst duration = durationMatch ? parseInt(durationMatch[1]) : null;\n\nconst adCodeMatch = fullText.match(/anuncio[\\s\\S]{0,10}?(\\d{6,})/i);\nconst adCode = adCodeMatch ? adCodeMatch[1] : null;\n\nconst roomMatch = fullText.match(/Ref\\.?\\s*(\\d{1,2}H\\d*)/i);\nconst room = roomMatch ? roomMatch[1].toUpperCase() : null;\n\nconst receivedAt = emailItem.json.internalDate\n  ? new Date(parseInt(emailItem.json.internalDate)).toISOString()\n  : new Date().toISOString();\n\nreturn [{ json: { phone, status, room, adCode, subject, duration, emailId: emailItem.json.id, receivedAt, hasPhone: !!phone } }];"},"id":"node-extract","name":"Extraer Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,320]},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"id":"node-mark-read","name":"Marcar como Leído","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[656,320],"webhookId":"7fb9fb37-69bb-4561-9caa-cacd5a9e5737","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $('Extraer Datos').item.json.hasPhone }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"node-if-phone","name":"¿Tiene Teléfono?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,320]},{"parameters":{"url":"https://yourclient.com/api/internal/rooms-full","options":{}},"id":"node-rooms-api","name":"Rooms API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,224]},{"parameters":{"jsCode":"const roomsData = $input.first().json;\nconst extractData = $('Extraer Datos').first().json;\nconst rooms = roomsData.rooms || [];\nconst room = extractData.room;\nconst adCode = extractData.adCode;\n\n// Find room: first by SKU (Ref. in email), then by Idealista ad code in URL\nlet roomInfo = null;\nif (room) {\n  roomInfo = rooms.find(r => r.sku && r.sku.toUpperCase() === room.toUpperCase());\n}\nif (!roomInfo && adCode) {\n  roomInfo = rooms.find(r => {\n    const idealistaUrl = r.marketplace_links?.idealista || '';\n    return idealistaUrl.includes(adCode);\n  });\n}\n\nconst resolvedRoom = roomInfo?.sku || room || null;\n\nlet primerMensaje;\nif (roomInfo) {\n  const precio = roomInfo.price ? `${roomInfo.price}€/mes` : '';\n  const city = roomInfo.city || '';\n  const addressPart = roomInfo.address ? roomInfo.address.split(',')[0] : '';\n  primerMensaje = `Hola! Vi que llamaste por la habitación *${resolvedRoom}* en Idealista\\n\\nEstá en ${addressPart}, ${city}${precio ? ` — ${precio}` : ''}.\\n\\n¿Te puedo dar más información? Dime qué buscas y te ayudo`;\n} else {\n  primerMensaje = `Hola! Vi que llamaste por una de nuestras habitaciones en Idealista\\n\\n¿Cuál te había llamado la atención? Puedes pasarme la URL del anuncio o el código de referencia y te cuento todo`;\n}\n\nconst customFields = [\n  { id: 'nlwW6ZwJyz2r9uu38dhK', field_value: 'ON' },\n  { id: 'Im3eq9FwmOYF3uOQMBD1', field_value: 'No' }\n];\nif (resolvedRoom) customFields.push({ id: '5A0P645BNNFYi7HSSOow', field_value: resolvedRoom });\nif (roomInfo?.price) customFields.push({ id: 'ZOc55lLvxodtdqLE2nGV', field_value: String(roomInfo.price) });\nif (roomInfo?.listing_url) customFields.push({ id: 'aJ0p8495oKcMJbgSiKTL', field_value: roomInfo.listing_url });\n\nreturn [{\n  json: {\n    phone: extractData.phone,\n    room: resolvedRoom,\n    adCode, status: extractData.status,\n    emailId: extractData.emailId, receivedAt: extractData.receivedAt,\n    primerMensaje, customFields,\n    roomInfo: roomInfo ? { precio: roomInfo.price, ciudad: roomInfo.city, direccion: roomInfo.address, listingUrl: roomInfo.listing_url } : null\n  }\n}];"},"id":"node-prepare","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,224]},{"parameters":{"phone":"={{ $json.phone }}","additionalFields":{"customFields":{"values":[{"fieldId":{"__rl":true,"value":"5A0P645BNNFYi7HSSOow","mode":"list","cachedResultName":"SKU (Código de Habitación)"},"fieldValue":"={{ $json.room || '' }}"},{"fieldId":{"__rl":true,"value":"aJ0p8495oKcMJbgSiKTL","mode":"list","cachedResultName":"Inquilino Potencial - ¿Enlace habitación?"},"fieldValue":"={{ $json.roomInfo?.listingUrl || '' }}"},{"fieldId":{"__rl":true,"value":"nlwW6ZwJyz2r9uu38dhK","mode":"list","cachedResultName":"Chattyrental - IA_Activa"},"fieldValue":"ON"},{"fieldId":{"__rl":true,"value":"Im3eq9FwmOYF3uOQMBD1","mode":"list","cachedResultName":"Chattyrental - IA_Bloqueada_humano"},"fieldValue":"No"},{"fieldId":{"__rl":true,"value":"ZOc55lLvxodtdqLE2nGV","mode":"list","cachedResultName":"Precio habitacion Preguntada"},"fieldValue":"={{ $json.roomInfo?.precio ? String($json.roomInfo.precio) : '' }}"},{"fieldId":{"__rl":true,"value":"09wQLcv1MnMLYXuf2Lu6","mode":"list","cachedResultName":"Inquilino Potencial - Link Idealista"},"fieldValue":"={{ $json.roomInfo?.listingUrl || '' }}"}]},"firstName":"={{ $json.firstName }}","lastName":"={{ $json.lastName }}","source":"=Idealista Llamada","tags":"INQUILINO IDEALISTA, INQUILINO POTENCIAL, LLAMADA IDEALISTA"},"requestOptions":{}},"type":"n8n-nodes-base.highLevel","typeVersion":2,"position":[2224,384],"id":"node-ghl-contact","name":"Crear Contacto GHL","alwaysOutputData":true,"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $json.contact?.id || $json.id || $(\"Preparar Nombre\").item.json.existingContactId }}\",\n  \"message\": {{ JSON.stringify($(\"Preparar Datos\").item.json.primerMensaje) }}\n}","options":{}},"id":"node-send-wa","name":"Enviar Primer WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,224],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1UuH73Bkk1boP0PGc2KKj8qI2LuzpwaHqBFahY1U1FaE","mode":"id"},"sheetName":{"__rl":true,"value":"=Llamadas Idealista","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $('Extraer Datos').item.json.receivedAt }}","Teléfono":"={{ $('Extraer Datos').item.json.phone }}","Estado Llamada":"={{ $('Extraer Datos').item.json.status }}","Ref Habitación":"={{ $('Extraer Datos').item.json.room }}","Código Anuncio":"={{ $('Extraer Datos').item.json.adCode }}","ID Contacto GHL":"={{ $if($(\"Crear Contacto GHL\").isExecuted, $(\"Crear Contacto GHL\").item.json.contact?.id || $(\"Crear Contacto GHL\").item.json.id, $(\"Preparar Nombre\").item.json.existingContactId) }}","ID Email":"={{ $('Gmail Trigger').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"traceId","displayName":"traceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"node-sheets","name":"Guardar en Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2672,224],"credentials":{"googleSheetsOAuth2Api":{"id":"Us7ATOmuIQSPhPmA","name":"Google Sheets Iuser@gmail.com"}}},{"parameters":{"sendTo":"developer@yourclient.com","subject":"⚠️ Llamada Idealista sin teléfono detectado","emailType":"text","message":"No se pudo extraer el teléfono del email de Idealista.\n\nAsunto: {{ $('Extraer Datos').item.json.subject }}\nEmail ID: {{ $('Extraer Datos').item.json.emailId }}\nFecha: {{ $('Extraer Datos').item.json.receivedAt }}\n\nRevisa el email manualmente en user@gmail.com","options":{}},"id":"node-alert","name":"Alerta Fallo","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1104,416],"webhookId":"bf335fb9-5faa-4261-b633-fd19e9911f75","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/?locationId=YOUR_GHL_LOCATION_ID&query={{ encodeURIComponent($json.phone) }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"id":"node-search-contact","name":"Buscar Contacto GHL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,224],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"jsCode":"const searchResult = $input.first().json;\nconst preparar = $('Preparar Datos').first().json;\n\nconst contacts = searchResult.contacts || [];\nconst existing = contacts.length > 0 ? contacts[0] : null;\n\n// Use existing name or fallback to Llamada Idealista + date/time\nlet firstName, lastName;\nif (existing && (existing.firstName || existing.lastName)) {\n  firstName = existing.firstName || 'Llamada Idealista';\n  lastName = existing.lastName || '';\n} else {\n  const dt = new Date(preparar.receivedAt);\n  const fecha = dt.toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' });\n  const hora = dt.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid' });\n  firstName = 'Llamada Idealista';\n  lastName = `${fecha} ${hora}${preparar.room ? ' — ' + preparar.room : ''}${preparar.roomInfo?.precio ? ' ' + preparar.roomInfo.precio + '€' : ''}${preparar.roomInfo?.direccion ? ' ' + preparar.roomInfo.direccion.split(',')[0] : ''}`;\n}\n\nreturn [{\n  json: {\n    ...preparar,\n    firstName,\n    lastName,\n    existingContactId: existing?.id || null\n  }\n}];"},"id":"node-preparar-nombre","name":"Preparar Nombre","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c-exists","leftValue":"={{ $json.existingContactId }}","rightValue":"","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"options":{}},"id":"node-if-contact-exists","name":"¿Contacto Existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,224]},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.existingContactId }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"Idealista Llamada\",\n  \"tags\": [\"INQUILINO IDEALISTA\", \"INQUILINO POTENCIAL\", \"LLAMADA IDEALISTA\"],\n  \"customFields\": {{ JSON.stringify($json.customFields) }}\n}","options":{}},"id":"node-update-contact","name":"Actualizar Contacto GHL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2112,-48],"alwaysOutputData":true,"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Dedup: skip if same phone was messaged in last 5 minutes\nconst phone = $('Preparar Datos').first().json.phone;\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.sentPhones) staticData.sentPhones = {};\n\nconst now = Date.now();\nconst lastSent = staticData.sentPhones[phone];\nconst FIVE_MIN = 5 * 60 * 1000;\n\n// Clean old entries (>10 min) to avoid memory buildup\nfor (const [p, ts] of Object.entries(staticData.sentPhones)) {\n  if (now - ts > FIVE_MIN * 2) delete staticData.sentPhones[p];\n}\n\nif (lastSent && (now - lastSent) < FIVE_MIN) {\n  // Already sent to this phone recently — skip\n  return [];\n}\n\n// Record this send\nstaticData.sentPhones[phone] = now;\n\n// Pass through\nreturn $input.all();\n"},"id":"node-dedup","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,224]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Marcar como Leído","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"¿Tiene Teléfono?","type":"main","index":0}]]},"Marcar como Leído":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"¿Tiene Teléfono?":{"main":[[{"node":"Rooms API","type":"main","index":0}],[{"node":"Alerta Fallo","type":"main","index":0}]]},"Rooms API":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Buscar Contacto GHL","type":"main","index":0}]]},"Enviar Primer WhatsApp":{"main":[[{"node":"Guardar en Sheets","type":"main","index":0}]]},"Crear Contacto GHL":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Buscar Contacto GHL":{"main":[[{"node":"Preparar Nombre","type":"main","index":0}]]},"Preparar Nombre":{"main":[[{"node":"¿Contacto Existe?","type":"main","index":0}]]},"¿Contacto Existe?":{"main":[[{"node":"Actualizar Contacto GHL","type":"main","index":0}],[{"node":"Crear Contacto GHL","type":"main","index":0}]]},"Actualizar Contacto GHL":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Enviar Primer WhatsApp","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","binaryMode":"separate"},"staticData":{"node:Gmail Trigger":{"lastTimeChecked":1774381863,"possibleDuplicates":["19d216693e49d0f8"]},"global":{"sentPhones":{"+34600000003":1774381884150}}},"meta":null,"pinData":{},"versionId":"87b57dbf-28db-4a5a-9bc4-f95dc72d580b","activeVersionId":"87b57dbf-28db-4a5a-9bc4-f95dc72d580b","versionCounter":124,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T00:29:18.933Z","createdAt":"2026-03-22T00:29:18.933Z","role":"workflow:owner","workflowId":"mL5P6QmsZgNBgWeX","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[{"updatedAt":"2026-02-10T13:36:59.936Z","createdAt":"2026-02-10T13:36:59.936Z","id":"Jq3C9KCKKUPw7MkP","name":"Tripath"}],"activeVersion":{"updatedAt":"2026-03-26T17:05:39.000Z","createdAt":"2026-03-26T17:04:56.174Z","versionId":"87b57dbf-28db-4a5a-9bc4-f95dc72d580b","workflowId":"mL5P6QmsZgNBgWeX","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":["Label_YOUR_META_AD_ACCOUNT_ID9200"]},"options":{}},"id":"node-gmail","name":"Gmail Trigger","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[208,320],"credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"jsCode":"const emailItem = $('Gmail Trigger').first();\n\nconst subject = emailItem.json.Subject || emailItem.json.subject || '';\nconst body = emailItem.json.snippet || emailItem.json.textPlain || emailItem.json.textHtml || '';\nconst fullText = subject + ' ' + body;\n\nconst phoneMatch = fullText.match(/llamado[\\s\\S]{0,10}?34\\s*(\\d[\\s\\d]{7,11})/i);\nlet phone = null;\nif (phoneMatch) {\n  const digits = phoneMatch[1].replace(/\\s/g, '');\n  phone = '+34' + digits.slice(0, 9);\n}\n\nlet status = 'desconocido';\nconst statusMatch = fullText.match(/Estado[\\s\\S]{0,5}?(atendida|no contestada)/i);\nif (statusMatch) status = statusMatch[1].toLowerCase();\n\nconst durationMatch = fullText.match(/segundos[\\s\\S]{0,5}?(\\d+)/i);\nconst duration = durationMatch ? parseInt(durationMatch[1]) : null;\n\nconst adCodeMatch = fullText.match(/anuncio[\\s\\S]{0,10}?(\\d{6,})/i);\nconst adCode = adCodeMatch ? adCodeMatch[1] : null;\n\nconst roomMatch = fullText.match(/Ref\\.?\\s*(\\d{1,2}H\\d*)/i);\nconst room = roomMatch ? roomMatch[1].toUpperCase() : null;\n\nconst receivedAt = emailItem.json.internalDate\n  ? new Date(parseInt(emailItem.json.internalDate)).toISOString()\n  : new Date().toISOString();\n\nreturn [{ json: { phone, status, room, adCode, subject, duration, emailId: emailItem.json.id, receivedAt, hasPhone: !!phone } }];"},"id":"node-extract","name":"Extraer Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,320]},{"parameters":{"operation":"markAsRead","messageId":"={{ $json.id }}"},"id":"node-mark-read","name":"Marcar como Leído","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[656,320],"webhookId":"7fb9fb37-69bb-4561-9caa-cacd5a9e5737","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ $('Extraer Datos').item.json.hasPhone }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"node-if-phone","name":"¿Tiene Teléfono?","type":"n8n-nodes-base.if","typeVersion":2,"position":[880,320]},{"parameters":{"url":"https://yourclient.com/api/internal/rooms-full","options":{}},"id":"node-rooms-api","name":"Rooms API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,224]},{"parameters":{"jsCode":"const roomsData = $input.first().json;\nconst extractData = $('Extraer Datos').first().json;\nconst rooms = roomsData.rooms || [];\nconst room = extractData.room;\nconst adCode = extractData.adCode;\n\n// Find room: first by SKU (Ref. in email), then by Idealista ad code in URL\nlet roomInfo = null;\nif (room) {\n  roomInfo = rooms.find(r => r.sku && r.sku.toUpperCase() === room.toUpperCase());\n}\nif (!roomInfo && adCode) {\n  roomInfo = rooms.find(r => {\n    const idealistaUrl = r.marketplace_links?.idealista || '';\n    return idealistaUrl.includes(adCode);\n  });\n}\n\nconst resolvedRoom = roomInfo?.sku || room || null;\n\nlet primerMensaje;\nif (roomInfo) {\n  const precio = roomInfo.price ? `${roomInfo.price}€/mes` : '';\n  const city = roomInfo.city || '';\n  const addressPart = roomInfo.address ? roomInfo.address.split(',')[0] : '';\n  primerMensaje = `Hola! Vi que llamaste por la habitación *${resolvedRoom}* en Idealista\\n\\nEstá en ${addressPart}, ${city}${precio ? ` — ${precio}` : ''}.\\n\\n¿Te puedo dar más información? Dime qué buscas y te ayudo`;\n} else {\n  primerMensaje = `Hola! Vi que llamaste por una de nuestras habitaciones en Idealista\\n\\n¿Cuál te había llamado la atención? Puedes pasarme la URL del anuncio o el código de referencia y te cuento todo`;\n}\n\nconst customFields = [\n  { id: 'nlwW6ZwJyz2r9uu38dhK', field_value: 'ON' },\n  { id: 'Im3eq9FwmOYF3uOQMBD1', field_value: 'No' }\n];\nif (resolvedRoom) customFields.push({ id: '5A0P645BNNFYi7HSSOow', field_value: resolvedRoom });\nif (roomInfo?.price) customFields.push({ id: 'ZOc55lLvxodtdqLE2nGV', field_value: String(roomInfo.price) });\nif (roomInfo?.listing_url) customFields.push({ id: 'aJ0p8495oKcMJbgSiKTL', field_value: roomInfo.listing_url });\n\nreturn [{\n  json: {\n    phone: extractData.phone,\n    room: resolvedRoom,\n    adCode, status: extractData.status,\n    emailId: extractData.emailId, receivedAt: extractData.receivedAt,\n    primerMensaje, customFields,\n    roomInfo: roomInfo ? { precio: roomInfo.price, ciudad: roomInfo.city, direccion: roomInfo.address, listingUrl: roomInfo.listing_url } : null\n  }\n}];"},"id":"node-prepare","name":"Preparar Datos","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,224]},{"parameters":{"phone":"={{ $json.phone }}","additionalFields":{"customFields":{"values":[{"fieldId":{"__rl":true,"value":"5A0P645BNNFYi7HSSOow","mode":"list","cachedResultName":"SKU (Código de Habitación)"},"fieldValue":"={{ $json.room || '' }}"},{"fieldId":{"__rl":true,"value":"aJ0p8495oKcMJbgSiKTL","mode":"list","cachedResultName":"Inquilino Potencial - ¿Enlace habitación?"},"fieldValue":"={{ $json.roomInfo?.listingUrl || '' }}"},{"fieldId":{"__rl":true,"value":"nlwW6ZwJyz2r9uu38dhK","mode":"list","cachedResultName":"Chattyrental - IA_Activa"},"fieldValue":"ON"},{"fieldId":{"__rl":true,"value":"Im3eq9FwmOYF3uOQMBD1","mode":"list","cachedResultName":"Chattyrental - IA_Bloqueada_humano"},"fieldValue":"No"},{"fieldId":{"__rl":true,"value":"ZOc55lLvxodtdqLE2nGV","mode":"list","cachedResultName":"Precio habitacion Preguntada"},"fieldValue":"={{ $json.roomInfo?.precio ? String($json.roomInfo.precio) : '' }}"},{"fieldId":{"__rl":true,"value":"09wQLcv1MnMLYXuf2Lu6","mode":"list","cachedResultName":"Inquilino Potencial - Link Idealista"},"fieldValue":"={{ $json.roomInfo?.listingUrl || '' }}"}]},"firstName":"={{ $json.firstName }}","lastName":"={{ $json.lastName }}","source":"=Idealista Llamada","tags":"INQUILINO IDEALISTA, INQUILINO POTENCIAL, LLAMADA IDEALISTA"},"requestOptions":{}},"type":"n8n-nodes-base.highLevel","typeVersion":2,"position":[2224,384],"id":"node-ghl-contact","name":"Crear Contacto GHL","alwaysOutputData":true,"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"type\": \"SMS\",\n  \"contactId\": \"{{ $json.contact?.id || $json.id || $(\"Preparar Nombre\").item.json.existingContactId }}\",\n  \"message\": {{ JSON.stringify($(\"Preparar Datos\").item.json.primerMensaje) }}\n}","options":{}},"id":"node-send-wa","name":"Enviar Primer WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2448,224],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1UuH73Bkk1boP0PGc2KKj8qI2LuzpwaHqBFahY1U1FaE","mode":"id"},"sheetName":{"__rl":true,"value":"=Llamadas Idealista","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"Fecha":"={{ $('Extraer Datos').item.json.receivedAt }}","Teléfono":"={{ $('Extraer Datos').item.json.phone }}","Estado Llamada":"={{ $('Extraer Datos').item.json.status }}","Ref Habitación":"={{ $('Extraer Datos').item.json.room }}","Código Anuncio":"={{ $('Extraer Datos').item.json.adCode }}","ID Contacto GHL":"={{ $if($(\"Crear Contacto GHL\").isExecuted, $(\"Crear Contacto GHL\").item.json.contact?.id || $(\"Crear Contacto GHL\").item.json.id, $(\"Preparar Nombre\").item.json.existingContactId) }}","ID Email":"={{ $('Gmail Trigger').item.json.id }}"},"matchingColumns":[],"schema":[{"id":"conversationId","displayName":"conversationId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"messageId","displayName":"messageId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"traceId","displayName":"traceId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"node-sheets","name":"Guardar en Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[2672,224],"credentials":{"googleSheetsOAuth2Api":{"id":"Us7ATOmuIQSPhPmA","name":"Google Sheets Iuser@gmail.com"}}},{"parameters":{"sendTo":"developer@yourclient.com","subject":"⚠️ Llamada Idealista sin teléfono detectado","emailType":"text","message":"No se pudo extraer el teléfono del email de Idealista.\n\nAsunto: {{ $('Extraer Datos').item.json.subject }}\nEmail ID: {{ $('Extraer Datos').item.json.emailId }}\nFecha: {{ $('Extraer Datos').item.json.receivedAt }}\n\nRevisa el email manualmente en user@gmail.com","options":{}},"id":"node-alert","name":"Alerta Fallo","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1104,416],"webhookId":"bf335fb9-5faa-4261-b633-fd19e9911f75","credentials":{"gmailOAuth2":{"id":"eh9Byisg0sc9krul","name":"Gmail account user"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/?locationId=YOUR_GHL_LOCATION_ID&query={{ encodeURIComponent($json.phone) }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"id":"node-search-contact","name":"Buscar Contacto GHL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1552,224],"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}}},{"parameters":{"jsCode":"const searchResult = $input.first().json;\nconst preparar = $('Preparar Datos').first().json;\n\nconst contacts = searchResult.contacts || [];\nconst existing = contacts.length > 0 ? contacts[0] : null;\n\n// Use existing name or fallback to Llamada Idealista + date/time\nlet firstName, lastName;\nif (existing && (existing.firstName || existing.lastName)) {\n  firstName = existing.firstName || 'Llamada Idealista';\n  lastName = existing.lastName || '';\n} else {\n  const dt = new Date(preparar.receivedAt);\n  const fecha = dt.toLocaleDateString('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' });\n  const hora = dt.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid' });\n  firstName = 'Llamada Idealista';\n  lastName = `${fecha} ${hora}${preparar.room ? ' — ' + preparar.room : ''}${preparar.roomInfo?.precio ? ' ' + preparar.roomInfo.precio + '€' : ''}${preparar.roomInfo?.direccion ? ' ' + preparar.roomInfo.direccion.split(',')[0] : ''}`;\n}\n\nreturn [{\n  json: {\n    ...preparar,\n    firstName,\n    lastName,\n    existingContactId: existing?.id || null\n  }\n}];"},"id":"node-preparar-nombre","name":"Preparar Nombre","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,224]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c-exists","leftValue":"={{ $json.existingContactId }}","rightValue":"","operator":{"type":"string","operation":"exists"}}],"combinator":"and"},"options":{}},"id":"node-if-contact-exists","name":"¿Contacto Existe?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2000,224]},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $json.existingContactId }}","authentication":"predefinedCredentialType","nodeCredentialType":"highLevelOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"source\": \"Idealista Llamada\",\n  \"tags\": [\"INQUILINO IDEALISTA\", \"INQUILINO POTENCIAL\", \"LLAMADA IDEALISTA\"],\n  \"customFields\": {{ JSON.stringify($json.customFields) }}\n}","options":{}},"id":"node-update-contact","name":"Actualizar Contacto GHL","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2112,-48],"alwaysOutputData":true,"credentials":{"highLevelOAuth2Api":{"id":"dI53mjRecfXqcY5h","name":"HighLevel Tripath"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Dedup: skip if same phone was messaged in last 5 minutes\nconst phone = $('Preparar Datos').first().json.phone;\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.sentPhones) staticData.sentPhones = {};\n\nconst now = Date.now();\nconst lastSent = staticData.sentPhones[phone];\nconst FIVE_MIN = 5 * 60 * 1000;\n\n// Clean old entries (>10 min) to avoid memory buildup\nfor (const [p, ts] of Object.entries(staticData.sentPhones)) {\n  if (now - ts > FIVE_MIN * 2) delete staticData.sentPhones[p];\n}\n\nif (lastSent && (now - lastSent) < FIVE_MIN) {\n  // Already sent to this phone recently — skip\n  return [];\n}\n\n// Record this send\nstaticData.sentPhones[phone] = now;\n\n// Pass through\nreturn $input.all();\n"},"id":"node-dedup","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,224]}],"connections":{"Gmail Trigger":{"main":[[{"node":"Marcar como Leído","type":"main","index":0}]]},"Extraer Datos":{"main":[[{"node":"¿Tiene Teléfono?","type":"main","index":0}]]},"Marcar como Leído":{"main":[[{"node":"Extraer Datos","type":"main","index":0}]]},"¿Tiene Teléfono?":{"main":[[{"node":"Rooms API","type":"main","index":0}],[{"node":"Alerta Fallo","type":"main","index":0}]]},"Rooms API":{"main":[[{"node":"Preparar Datos","type":"main","index":0}]]},"Preparar Datos":{"main":[[{"node":"Buscar Contacto GHL","type":"main","index":0}]]},"Enviar Primer WhatsApp":{"main":[[{"node":"Guardar en Sheets","type":"main","index":0}]]},"Crear Contacto GHL":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Buscar Contacto GHL":{"main":[[{"node":"Preparar Nombre","type":"main","index":0}]]},"Preparar Nombre":{"main":[[{"node":"¿Contacto Existe?","type":"main","index":0}]]},"¿Contacto Existe?":{"main":[[{"node":"Actualizar Contacto GHL","type":"main","index":0}],[{"node":"Crear Contacto GHL","type":"main","index":0}]]},"Actualizar Contacto GHL":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"Enviar Primer WhatsApp","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":"Version 87b57dbf","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-26T17:05:39.388Z","id":441,"workflowId":"mL5P6QmsZgNBgWeX","versionId":"87b57dbf-28db-4a5a-9bc4-f95dc72d580b","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}
