n8n/workflows/Tripath-GHL-Paperclip-Bridge-Tiempo-Real.json
{"updatedAt":"2026-03-26T17:06:26.540Z","createdAt":"2026-03-22T02:10:40.883Z","id":"5KWY1YdLD4SpH8Yp","name":"Tripath — GHL → Paperclip Bridge (Tiempo Real)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"ghl-paperclip-bridge","options":{}},"id":"webhook-ghl","name":"Webhook GHL Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"ghl-paperclip-bridge-tripath"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nconst contactId = body.contact_id || body.contactId || '';\nconst phone = body.phone || body.phoneNumber || '';\nconst nombre = body.full_name || body.first_name || body.name || 'Lead';\nconst mensaje = body.message?.body || body.messageBody || '';\nconst conversationId = body.conversation_id || body.conversationId || '';\nconst locationId = body.location_id || 'YOUR_GHL_LOCATION_ID';\nconst direction = body.message?.direction || body.direction || 'inbound';\nconst messageType = body.message?.type || body.type || 'TYPE_TEXT';\n\n// Solo mensajes entrantes de leads con contenido\nif (direction !== 'inbound' || !contactId || !mensaje) {\n  return [{ json: { skip: true, reason: `direction=${direction} contactId=${contactId} msg=${!!mensaje}` } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    contactId,\n    phone,\n    nombre,\n    mensaje,\n    conversationId,\n    locationId,\n    ghlLink: `https://app.gohighlevel.com/v2/location/${locationId}/conversations/${conversationId}`\n  }\n}];"},"id":"extraer-datos","name":"Extraer Datos GHL","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,304]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"check-skip","name":"¿Mensaje válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,304]},{"parameters":{"method":"POST","url":"http://localhost:3100/api/auth/sign-in/email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Origin","value":"http://localhost:3100"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"email\":\"iuser@gmail.com\",\"password\":\"Alfombra1+\"}","options":{}},"id":"login-paperclip","name":"Login Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,224]},{"parameters":{"url":"http://localhost:3100/api/companies/YOUR_COMPANY_ID_1/issues","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Extraer Datos GHL').item.json.contactId }}"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Login Paperclip').item.json.token }}"},{"name":"Origin","value":"http://localhost:3100"}]},"options":{}},"id":"buscar-issue","name":"Buscar Issue Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,224]},{"parameters":{"jsCode":"const searchResult = $input.first().json;\nconst issues = Array.isArray(searchResult) ? searchResult : (searchResult.issues || searchResult.data || []);\nconst ghlData = $('Extraer Datos GHL').first().json;\nconst token = $('Login Paperclip').first().json.token;\n\n// Buscar issue activa para este contactId (en el título)\nconst existing = issues.find(i =>\n  i.title && i.title.includes(ghlData.contactId) &&\n  !['done', 'cancelled'].includes(i.status)\n);\n\nreturn [{\n  json: {\n    ...ghlData,\n    token,\n    existingIssueId: existing?.id || null,\n    isNew: !existing\n  }\n}];"},"id":"decidir-accion","name":"Decidir Acción","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,224]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose","version":2},"conditions":[{"id":"is-new","leftValue":"={{ $json.isNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"route-new-existing","name":"¿Nueva o Existente?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1520,224]},{"parameters":{"method":"POST","url":"http://localhost:3100/api/companies/YOUR_COMPANY_ID_1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Origin","value":"http://localhost:3100"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Lead GHL: {{ $json.nombre }} [{{ $json.contactId }}]\",\n  \"assigneeAgentId\": \"67af2652-cbeb-479e-82a0-dda311d4c18d\",\n  \"status\": \"todo\",\n  \"description\": \"## Lead de GHL/Idealista\\n\\n- **Nombre:** {{ $json.nombre }}\\n- **Teléfono:** {{ $json.phone }}\\n- **GHL Contact ID:** `{{ $json.contactId }}`\\n- **Conversación GHL:** [Ver en GHL]({{ $json.ghlLink }})\\n\\n---\\n\\n## Primer mensaje\\n\\n> {{ $json.mensaje }}\\n\\n---\\n\\n## Tu tarea (Lead Qualifier)\\n1. Lee el historial completo en GHL via API\\n2. Califica: intención, ciudad, presupuesto, fechas de entrada\\n3. Si está cualificado → reasigna esta issue a Sales Rep (271773b2-aecd-4cdf-a865-e81dc82030ca) y cambia status a in_progress\\n4. Si no encaja → marca como cancelled con motivo\\n\\n**GHL API** para leer historial:\\n`GET https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages`\\nHeader: `Authorization: Bearer <GHL_TOKEN>` + `Version: 2021-04-15`\"\n}","options":{}},"id":"crear-issue","name":"Crear Issue → Lead Qualifier","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,144]},{"parameters":{"method":"POST","url":"=http://localhost:3100/api/issues/{{ $json.existingIssueId }}/comments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Origin","value":"http://localhost:3100"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": \"📩 **Nuevo mensaje de {{ $json.nombre }}:**\\n\\n> {{ $json.mensaje }}\\n\\n[Ver conversación en GHL]({{ $json.ghlLink }})\"\n}","options":{}},"id":"comentar-issue","name":"Nuevo Mensaje → Comentario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,352]}],"connections":{"Webhook GHL Inbound":{"main":[[{"node":"Extraer Datos GHL","type":"main","index":0}]]},"Extraer Datos GHL":{"main":[[{"node":"¿Mensaje válido?","type":"main","index":0}]]},"¿Mensaje válido?":{"main":[[{"node":"Login Paperclip","type":"main","index":0}],[]]},"Login Paperclip":{"main":[[{"node":"Buscar Issue Existente","type":"main","index":0}]]},"Buscar Issue Existente":{"main":[[{"node":"Decidir Acción","type":"main","index":0}]]},"Decidir Acción":{"main":[[{"node":"¿Nueva o Existente?","type":"main","index":0}]]},"¿Nueva o Existente?":{"main":[[{"node":"Crear Issue → Lead Qualifier","type":"main","index":0}],[{"node":"Nuevo Mensaje → Comentario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"fe3141fc-fcb3-4bb3-b870-5ff5a56288fd","activeVersionId":"fe3141fc-fcb3-4bb3-b870-5ff5a56288fd","versionCounter":11,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T02:10:40.888Z","createdAt":"2026-03-22T02:10:40.888Z","role":"workflow:owner","workflowId":"5KWY1YdLD4SpH8Yp","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-26T17:06:29.000Z","createdAt":"2026-03-26T17:06:26.541Z","versionId":"fe3141fc-fcb3-4bb3-b870-5ff5a56288fd","workflowId":"5KWY1YdLD4SpH8Yp","nodes":[{"parameters":{"httpMethod":"POST","path":"ghl-paperclip-bridge","options":{}},"id":"webhook-ghl","name":"Webhook GHL Inbound","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[208,304],"webhookId":"ghl-paperclip-bridge-tripath"},{"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\n\nconst contactId = body.contact_id || body.contactId || '';\nconst phone = body.phone || body.phoneNumber || '';\nconst nombre = body.full_name || body.first_name || body.name || 'Lead';\nconst mensaje = body.message?.body || body.messageBody || '';\nconst conversationId = body.conversation_id || body.conversationId || '';\nconst locationId = body.location_id || 'YOUR_GHL_LOCATION_ID';\nconst direction = body.message?.direction || body.direction || 'inbound';\nconst messageType = body.message?.type || body.type || 'TYPE_TEXT';\n\n// Solo mensajes entrantes de leads con contenido\nif (direction !== 'inbound' || !contactId || !mensaje) {\n  return [{ json: { skip: true, reason: `direction=${direction} contactId=${contactId} msg=${!!mensaje}` } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    contactId,\n    phone,\n    nombre,\n    mensaje,\n    conversationId,\n    locationId,\n    ghlLink: `https://app.gohighlevel.com/v2/location/${locationId}/conversations/${conversationId}`\n  }\n}];"},"id":"extraer-datos","name":"Extraer Datos GHL","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,304]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose","version":2},"conditions":[{"id":"skip-check","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"check-skip","name":"¿Mensaje válido?","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,304]},{"parameters":{"method":"POST","url":"http://localhost:3100/api/auth/sign-in/email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Origin","value":"http://localhost:3100"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\"email\":\"iuser@gmail.com\",\"password\":\"Alfombra1+\"}","options":{}},"id":"login-paperclip","name":"Login Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[864,224]},{"parameters":{"url":"http://localhost:3100/api/companies/YOUR_COMPANY_ID_1/issues","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ $('Extraer Datos GHL').item.json.contactId }}"},{"name":"limit","value":"10"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Login Paperclip').item.json.token }}"},{"name":"Origin","value":"http://localhost:3100"}]},"options":{}},"id":"buscar-issue","name":"Buscar Issue Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1088,224]},{"parameters":{"jsCode":"const searchResult = $input.first().json;\nconst issues = Array.isArray(searchResult) ? searchResult : (searchResult.issues || searchResult.data || []);\nconst ghlData = $('Extraer Datos GHL').first().json;\nconst token = $('Login Paperclip').first().json.token;\n\n// Buscar issue activa para este contactId (en el título)\nconst existing = issues.find(i =>\n  i.title && i.title.includes(ghlData.contactId) &&\n  !['done', 'cancelled'].includes(i.status)\n);\n\nreturn [{\n  json: {\n    ...ghlData,\n    token,\n    existingIssueId: existing?.id || null,\n    isNew: !existing\n  }\n}];"},"id":"decidir-accion","name":"Decidir Acción","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,224]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose","version":2},"conditions":[{"id":"is-new","leftValue":"={{ $json.isNew }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"route-new-existing","name":"¿Nueva o Existente?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1520,224]},{"parameters":{"method":"POST","url":"http://localhost:3100/api/companies/YOUR_COMPANY_ID_1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Origin","value":"http://localhost:3100"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Lead GHL: {{ $json.nombre }} [{{ $json.contactId }}]\",\n  \"assigneeAgentId\": \"67af2652-cbeb-479e-82a0-dda311d4c18d\",\n  \"status\": \"todo\",\n  \"description\": \"## Lead de GHL/Idealista\\n\\n- **Nombre:** {{ $json.nombre }}\\n- **Teléfono:** {{ $json.phone }}\\n- **GHL Contact ID:** `{{ $json.contactId }}`\\n- **Conversación GHL:** [Ver en GHL]({{ $json.ghlLink }})\\n\\n---\\n\\n## Primer mensaje\\n\\n> {{ $json.mensaje }}\\n\\n---\\n\\n## Tu tarea (Lead Qualifier)\\n1. Lee el historial completo en GHL via API\\n2. Califica: intención, ciudad, presupuesto, fechas de entrada\\n3. Si está cualificado → reasigna esta issue a Sales Rep (271773b2-aecd-4cdf-a865-e81dc82030ca) y cambia status a in_progress\\n4. Si no encaja → marca como cancelled con motivo\\n\\n**GHL API** para leer historial:\\n`GET https://services.leadconnectorhq.com/conversations/{{ $json.conversationId }}/messages`\\nHeader: `Authorization: Bearer <GHL_TOKEN>` + `Version: 2021-04-15`\"\n}","options":{}},"id":"crear-issue","name":"Crear Issue → Lead Qualifier","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,144]},{"parameters":{"method":"POST","url":"=http://localhost:3100/api/issues/{{ $json.existingIssueId }}/comments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.token }}"},{"name":"Origin","value":"http://localhost:3100"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": \"📩 **Nuevo mensaje de {{ $json.nombre }}:**\\n\\n> {{ $json.mensaje }}\\n\\n[Ver conversación en GHL]({{ $json.ghlLink }})\"\n}","options":{}},"id":"comentar-issue","name":"Nuevo Mensaje → Comentario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1744,352]}],"connections":{"Webhook GHL Inbound":{"main":[[{"node":"Extraer Datos GHL","type":"main","index":0}]]},"Extraer Datos GHL":{"main":[[{"node":"¿Mensaje válido?","type":"main","index":0}]]},"¿Mensaje válido?":{"main":[[{"node":"Login Paperclip","type":"main","index":0}],[]]},"Login Paperclip":{"main":[[{"node":"Buscar Issue Existente","type":"main","index":0}]]},"Buscar Issue Existente":{"main":[[{"node":"Decidir Acción","type":"main","index":0}]]},"Decidir Acción":{"main":[[{"node":"¿Nueva o Existente?","type":"main","index":0}]]},"¿Nueva o Existente?":{"main":[[{"node":"Crear Issue → Lead Qualifier","type":"main","index":0}],[{"node":"Nuevo Mensaje → Comentario","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":"Version fe3141fc","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-26T17:06:28.997Z","id":445,"workflowId":"5KWY1YdLD4SpH8Yp","versionId":"fe3141fc-fcb3-4bb3-b870-5ff5a56288fd","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}