n8n/workflows/Tripath-Monitor-Email-Comercial-Telegram-Approval.json
{"updatedAt":"2026-03-27T10:34:03.862Z","createdAt":"2026-03-22T12:19:27.875Z","id":"ZpIv7rbspapcVFlT","name":"Tripath — Monitor Email Comercial + Telegram Approval","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"id":"gm-trigger-info","name":"Gmail Trigger Comercial","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[112,224],"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Comercial@tripath.es"}}},{"parameters":{"jsCode":"const email = $input.first().json;\n\n// Parse From field - handle string, object, array formats\nlet fromName = '';\nlet fromEmail = '';\nconst fromRaw = email.from;\n\nif (typeof fromRaw === 'string') {\n  const fromMatch = fromRaw.match(/^\"?([^\"<]+)\"?\\s*<(.+)>$/);\n  fromName = fromMatch ? fromMatch[1].trim() : fromRaw.split('@')[0];\n  fromEmail = fromMatch ? fromMatch[2].trim() : fromRaw;\n} else if (Array.isArray(fromRaw)) {\n  const first = fromRaw[0] || {};\n  fromName = first.name || first.address || '';\n  fromEmail = first.email || first.address || '';\n} else if (fromRaw && typeof fromRaw === 'object') {\n  fromName = fromRaw.name || fromRaw.address || '';\n  fromEmail = fromRaw.email || fromRaw.address || '';\n}\n\n// Fallback: check headers for From\nif (!fromEmail) {\n  let headerFrom = '';\n\n  if (typeof email.headers === 'object' && !Array.isArray(email.headers)) {\n    // n8n Gmail Trigger: headers is a flat object { from: \"From: Name <email>\", ... }\n    headerFrom = email.headers?.from || email.headers?.From || '';\n    headerFrom = String(headerFrom).replace(/^From:\\s*/i, '').trim();\n  } else {\n    // Fallback for array-style headers (Gmail API raw)\n    const headers = Array.isArray(email.headers) ? email.headers : (email.payload?.headers || []);\n    const fromHeader = headers.find(h => h.name?.toLowerCase() === 'from');\n    headerFrom = fromHeader ? String(fromHeader.value) : '';\n  }\n\n  if (headerFrom) {\n    const hMatch = headerFrom.match(/^\"?([^\"<]+)\"?\\s*<([^>]+)>$/);\n    fromName = hMatch ? hMatch[1].trim() : headerFrom.split('@')[0];\n    fromEmail = hMatch ? hMatch[2].trim() : headerFrom;\n  }\n}\n\nif (!fromName) fromName = fromEmail.split('@')[0] || 'Desconocido';\nif (!fromEmail) fromEmail = 'unknown@unknown.com';\n\n// Parse subject - also check flat headers object\nconst subject = email.subject\n  || (typeof email.headers === 'object' && !Array.isArray(email.headers)\n      ? (email.headers?.subject || email.headers?.Subject || '').replace(/^Subject:\\s*/i, '').trim()\n      : '')\n  || (email.payload?.headers || []).find(h => h.name?.toLowerCase() === 'subject')?.value\n  || 'Sin asunto';\n\nconst body = email.text || email.textPlain || email.snippet || '';\nconst messageId = email.id || '';\nconst threadId = email.threadId || '';\n\n// Skip automated emails\nconst skipPatterns = ['noreply', 'no-reply', 'mailer-daemon', 'donotreply', 'notification', 'auto-', 'bounce', '@google.com', '@facebook.com', '@linkedin.com', 'newsletter', 'unsubscribe'];\nconst isAutomated = skipPatterns.some(p => String(fromEmail).toLowerCase().includes(p));\n\nreturn [{\n  json: {\n    fromEmail: String(fromEmail),\n    fromName: String(fromName),\n    subject: String(subject),\n    body: String(body).substring(0, 4000),\n    bodySnippet: String(body).substring(0, 600),\n    messageId: String(messageId),\n    threadId: String(threadId),\n    isAutomated,\n    toAccount: 'comercial'\n  }\n}];"},"id":"code-extract","name":"Extraer Datos Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,224]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c1","leftValue":"={{ $json.isAutomated }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-automated","name":"No es automatico","type":"n8n-nodes-base.if","typeVersion":2,"position":[1136,224]},{"parameters":{"method":"POST","url":"https://db.tripath.es/rest/v1/email_pending_approvals","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxaGtlcWR6eWN1Z2xid2htb25qIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTkwNDUxMSwiZXhwIjoyMDY1NDgwNTExfQ.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxaGtlcWR6eWN1Z2xid2htb25qIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTkwNDUxMSwiZXhwIjoyMDY1NDgwNTExfQ.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email_id\": \"{{ $json.messageId }}\",\n  \"thread_id\": \"{{ $json.threadId }}\",\n  \"from_email\": \"{{ $json.fromEmail }}\",\n  \"from_name\": \"{{ $json.fromName }}\",\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"body_snippet\": {{ JSON.stringify($json.bodySnippet) }},\n  \"to_account\": \"{{ $json.toAccount }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"gmail_credential\": \"z40lc3H9IN6QLrIK\",\n  \"proposed_response\": null,\n  \"status\": \"pending_agent\"\n}","options":{}},"id":"http-supabase-insert","name":"Guardar en Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1360,224]},{"parameters":{"jsCode":"const supaResult = $input.first().json;\nconst approvalId = Array.isArray(supaResult) ? supaResult[0].id : supaResult.id;\nconst emailData = $('Extraer Categoría').item.json;\n\nconst approveUrl = `https://n8n.stratomai.com/webhook/tripath-approve-email?id=${approvalId}`;\nconst rejectUrl = `https://n8n.stratomai.com/webhook/tripath-reject-email?id=${approvalId}`;\n\nconst fromLine = emailData.fromName !== emailData.fromEmail\n  ? `${emailData.fromName} <${emailData.fromEmail}>`\n  : emailData.fromEmail;\n\nconst categoryEmoji = emailData.category === 'operativa' ? '⚙️ OPERATIVA' : '🤝 COMERCIAL';\n\nconst text = `✉️ *Nuevo email [${emailData.toAccount}@tripath.es]* ${categoryEmoji}\\n\\n*De:* ${fromLine}\\n*Asunto:* ${emailData.subject}\\n\\n*Extracto:*\\n${emailData.bodySnippet}\\n\\n---\\n⏳ *Sales Manager preparará la respuesta.*\\nPulsa Aprobar cuando esté lista.`;\n\nreturn [{\n  json: {\n    text: text.substring(0, 4096),\n    approveUrl,\n    rejectUrl,\n    approvalId\n  }\n}];"},"id":"code-prepare-tg","name":"Preparar Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,224]},{"parameters":{"chatId":"263475761","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{}]},"additionalFields":{"parse_mode":"Markdown"}},"id":"tg-send-approval","name":"Enviar Telegram Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1808,224],"webhookId":"594dc15c-93d7-4169-bea6-1cb2053a7e15","credentials":{"telegramApi":{"id":"TnWgIvgNz6rNkenP","name":"Telegram Bot Tripath"}}},{"parameters":{"method":"POST","url":"https://paperclip.stratomai.com/api/companies/6ba403f8-72cd-41b1-b37b-81ab6df2e0e1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pcp_abe2a38c11c886b39c83c3c783c53a6cebd3940923a95738"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify('[' + $('Extraer Categoría').item.json.categoryLabel + '] Responder email de ' + $('Extraer Categoría').item.json.fromName + ': ' + $('Extraer Categoría').item.json.subject) }},\n  \"description\": {{ JSON.stringify('**De:** ' + $('Extraer Categoría').item.json.fromName + ' <' + $('Extraer Categoría').item.json.fromEmail + '>\\n**Asunto:** ' + $('Extraer Categoría').item.json.subject + '\\n**Categoría:** ' + $('Extraer Categoría').item.json.categoryLabel + '\\n**Cuenta:** ' + $('Extraer Categoría').item.json.toAccount + '@tripath.es\\n\\n---\\n\\n' + $('Extraer Categoría').item.json.body) }},\n  \"status\": \"todo\",\n  \"priority\": \"high\",\n  \"assigneeAgentId\": \"fb8215ad-2dc7-4c42-8d3a-a626a20b9447\"\n}","options":{"timeout":10000}},"id":"http-paperclip-task","name":"Crear Tarea Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2032,224],"onError":"continueRegularOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Extraer Categoría').item.json.messageId }}","labelIds":["Label_6900348999411199099"]},"id":"gmail-mark-read","name":"Marcar como leido","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2256,224],"webhookId":"bcd545ec-a22a-4f99-b94a-3b12995558e9","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Comercial@tripath.es"}}},{"parameters":{"jsCode":"const llmResult = $input.first().json;\nconst rawText = llmResult?.choices?.[0]?.message?.content || '';\nconst category = rawText.toLowerCase().includes('operativa') ? 'operativa' : 'comercial';\n\n// Pasar todos los datos del email original + category\nconst emailData = $('Extraer Datos Email').item.json;\n\nreturn [{\n  json: {\n    ...emailData,\n    category,\n    categoryLabel: category === 'comercial' ? '🤝 COMERCIAL' : '⚙️ OPERATIVA'\n  }\n}];"},"id":"cat-extract-node","name":"Extraer Categoría","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,224]},{"parameters":{"promptType":"define","text":"=\n      \"role\": \"user\",\n      \"content\": \"Eres un clasificador de emails para Tripath Coliving (empresa de coliving en Bali). Clasifica el siguiente email EXACTAMENTE como una de estas dos categorías:\\n- comercial: consultas de clientes, interés en habitaciones, precios, visitas, reservas, contratos\\n- operativa: facturas, incidencias técnicas, proveedores, mantenimiento, gestión interna, notificaciones\\n\\nResponde ÚNICAMENTE con una sola palabra: comercial o operativa\\n\\nEmail:\\nDe: {{ $json.fromName }} <{{ $json.fromEmail }}>\\nAsunto: {{ $json.subject }}\\nCuerpo: {{ $json.bodySnippet }}\"\n","needsFallback":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[560,224],"id":"a5ff4897-6941-49a6-89a6-586c2c715e73","name":"Basic LLM Chain"},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[568,448],"id":"c929416d-8922-4269-affd-b6feea3b12fb","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[696,448],"id":"80ba358c-b7f5-411c-ae8f-0db680dc46fb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Gmail Trigger Comercial":{"main":[[{"node":"Extraer Datos Email","type":"main","index":0}]]},"Extraer Datos Email":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"No es automatico":{"main":[[{"node":"Guardar en Supabase","type":"main","index":0}],[]]},"Guardar en Supabase":{"main":[[{"node":"Preparar Telegram","type":"main","index":0}]]},"Preparar Telegram":{"main":[[{"node":"Enviar Telegram Approval","type":"main","index":0}]]},"Enviar Telegram Approval":{"main":[[{"node":"Crear Tarea Paperclip","type":"main","index":0}]]},"Crear Tarea Paperclip":{"main":[[{"node":"Marcar como leido","type":"main","index":0}]]},"Extraer Categoría":{"main":[[{"node":"No es automatico","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Extraer Categoría","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","availableInMCP":false},"staticData":{"node:Gmail Trigger Comercial":{"lastTimeChecked":1774609713,"possibleDuplicates":["19d2efb49c2268b2","19d2ee9430e20f8b"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c1dcf69b-6296-4a7a-ab0e-f8b1ed537839","activeVersionId":"c1dcf69b-6296-4a7a-ab0e-f8b1ed537839","versionCounter":194,"triggerCount":1,"shared":[{"updatedAt":"2026-03-22T12:19:27.876Z","createdAt":"2026-03-22T12:19:27.876Z","role":"workflow:owner","workflowId":"ZpIv7rbspapcVFlT","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <stratoma.ai@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-27T10:34:37.000Z","createdAt":"2026-03-27T10:34:03.864Z","versionId":"c1dcf69b-6296-4a7a-ab0e-f8b1ed537839","workflowId":"ZpIv7rbspapcVFlT","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"readStatus":"unread"},"options":{}},"id":"gm-trigger-info","name":"Gmail Trigger Comercial","type":"n8n-nodes-base.gmailTrigger","typeVersion":1,"position":[112,224],"credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Comercial@tripath.es"}}},{"parameters":{"jsCode":"const email = $input.first().json;\n\n// Parse From field - handle string, object, array formats\nlet fromName = '';\nlet fromEmail = '';\nconst fromRaw = email.from;\n\nif (typeof fromRaw === 'string') {\n  const fromMatch = fromRaw.match(/^\"?([^\"<]+)\"?\\s*<(.+)>$/);\n  fromName = fromMatch ? fromMatch[1].trim() : fromRaw.split('@')[0];\n  fromEmail = fromMatch ? fromMatch[2].trim() : fromRaw;\n} else if (Array.isArray(fromRaw)) {\n  const first = fromRaw[0] || {};\n  fromName = first.name || first.address || '';\n  fromEmail = first.email || first.address || '';\n} else if (fromRaw && typeof fromRaw === 'object') {\n  fromName = fromRaw.name || fromRaw.address || '';\n  fromEmail = fromRaw.email || fromRaw.address || '';\n}\n\n// Fallback: check headers for From\nif (!fromEmail) {\n  let headerFrom = '';\n\n  if (typeof email.headers === 'object' && !Array.isArray(email.headers)) {\n    // n8n Gmail Trigger: headers is a flat object { from: \"From: Name <email>\", ... }\n    headerFrom = email.headers?.from || email.headers?.From || '';\n    headerFrom = String(headerFrom).replace(/^From:\\s*/i, '').trim();\n  } else {\n    // Fallback for array-style headers (Gmail API raw)\n    const headers = Array.isArray(email.headers) ? email.headers : (email.payload?.headers || []);\n    const fromHeader = headers.find(h => h.name?.toLowerCase() === 'from');\n    headerFrom = fromHeader ? String(fromHeader.value) : '';\n  }\n\n  if (headerFrom) {\n    const hMatch = headerFrom.match(/^\"?([^\"<]+)\"?\\s*<([^>]+)>$/);\n    fromName = hMatch ? hMatch[1].trim() : headerFrom.split('@')[0];\n    fromEmail = hMatch ? hMatch[2].trim() : headerFrom;\n  }\n}\n\nif (!fromName) fromName = fromEmail.split('@')[0] || 'Desconocido';\nif (!fromEmail) fromEmail = 'unknown@unknown.com';\n\n// Parse subject - also check flat headers object\nconst subject = email.subject\n  || (typeof email.headers === 'object' && !Array.isArray(email.headers)\n      ? (email.headers?.subject || email.headers?.Subject || '').replace(/^Subject:\\s*/i, '').trim()\n      : '')\n  || (email.payload?.headers || []).find(h => h.name?.toLowerCase() === 'subject')?.value\n  || 'Sin asunto';\n\nconst body = email.text || email.textPlain || email.snippet || '';\nconst messageId = email.id || '';\nconst threadId = email.threadId || '';\n\n// Skip automated emails\nconst skipPatterns = ['noreply', 'no-reply', 'mailer-daemon', 'donotreply', 'notification', 'auto-', 'bounce', '@google.com', '@facebook.com', '@linkedin.com', 'newsletter', 'unsubscribe'];\nconst isAutomated = skipPatterns.some(p => String(fromEmail).toLowerCase().includes(p));\n\nreturn [{\n  json: {\n    fromEmail: String(fromEmail),\n    fromName: String(fromName),\n    subject: String(subject),\n    body: String(body).substring(0, 4000),\n    bodySnippet: String(body).substring(0, 600),\n    messageId: String(messageId),\n    threadId: String(threadId),\n    isAutomated,\n    toAccount: 'comercial'\n  }\n}];"},"id":"code-extract","name":"Extraer Datos Email","type":"n8n-nodes-base.code","typeVersion":2,"position":[336,224]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"c1","leftValue":"={{ $json.isAutomated }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"if-automated","name":"No es automatico","type":"n8n-nodes-base.if","typeVersion":2,"position":[1136,224]},{"parameters":{"method":"POST","url":"https://db.tripath.es/rest/v1/email_pending_approvals","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxaGtlcWR6eWN1Z2xid2htb25qIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTkwNDUxMSwiZXhwIjoyMDY1NDgwNTExfQ.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJxaGtlcWR6eWN1Z2xid2htb25qIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0OTkwNDUxMSwiZXhwIjoyMDY1NDgwNTExfQ.9aFI9pCd_NMBBWjksp7xcTyFUfHVh2DMcylMeUVIGO4"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"email_id\": \"{{ $json.messageId }}\",\n  \"thread_id\": \"{{ $json.threadId }}\",\n  \"from_email\": \"{{ $json.fromEmail }}\",\n  \"from_name\": \"{{ $json.fromName }}\",\n  \"subject\": {{ JSON.stringify($json.subject) }},\n  \"body_snippet\": {{ JSON.stringify($json.bodySnippet) }},\n  \"to_account\": \"{{ $json.toAccount }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"gmail_credential\": \"z40lc3H9IN6QLrIK\",\n  \"proposed_response\": null,\n  \"status\": \"pending_agent\"\n}","options":{}},"id":"http-supabase-insert","name":"Guardar en Supabase","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1360,224]},{"parameters":{"jsCode":"const supaResult = $input.first().json;\nconst approvalId = Array.isArray(supaResult) ? supaResult[0].id : supaResult.id;\nconst emailData = $('Extraer Categoría').item.json;\n\nconst approveUrl = `https://n8n.stratomai.com/webhook/tripath-approve-email?id=${approvalId}`;\nconst rejectUrl = `https://n8n.stratomai.com/webhook/tripath-reject-email?id=${approvalId}`;\n\nconst fromLine = emailData.fromName !== emailData.fromEmail\n  ? `${emailData.fromName} <${emailData.fromEmail}>`\n  : emailData.fromEmail;\n\nconst categoryEmoji = emailData.category === 'operativa' ? '⚙️ OPERATIVA' : '🤝 COMERCIAL';\n\nconst text = `✉️ *Nuevo email [${emailData.toAccount}@tripath.es]* ${categoryEmoji}\\n\\n*De:* ${fromLine}\\n*Asunto:* ${emailData.subject}\\n\\n*Extracto:*\\n${emailData.bodySnippet}\\n\\n---\\n⏳ *Sales Manager preparará la respuesta.*\\nPulsa Aprobar cuando esté lista.`;\n\nreturn [{\n  json: {\n    text: text.substring(0, 4096),\n    approveUrl,\n    rejectUrl,\n    approvalId\n  }\n}];"},"id":"code-prepare-tg","name":"Preparar Telegram","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,224]},{"parameters":{"chatId":"263475761","text":"={{ $json.text }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{}]},"additionalFields":{"parse_mode":"Markdown"}},"id":"tg-send-approval","name":"Enviar Telegram Approval","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1808,224],"webhookId":"594dc15c-93d7-4169-bea6-1cb2053a7e15","credentials":{"telegramApi":{"id":"TnWgIvgNz6rNkenP","name":"Telegram Bot Tripath"}}},{"parameters":{"method":"POST","url":"https://paperclip.stratomai.com/api/companies/6ba403f8-72cd-41b1-b37b-81ab6df2e0e1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pcp_abe2a38c11c886b39c83c3c783c53a6cebd3940923a95738"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify('[' + $('Extraer Categoría').item.json.categoryLabel + '] Responder email de ' + $('Extraer Categoría').item.json.fromName + ': ' + $('Extraer Categoría').item.json.subject) }},\n  \"description\": {{ JSON.stringify('**De:** ' + $('Extraer Categoría').item.json.fromName + ' <' + $('Extraer Categoría').item.json.fromEmail + '>\\n**Asunto:** ' + $('Extraer Categoría').item.json.subject + '\\n**Categoría:** ' + $('Extraer Categoría').item.json.categoryLabel + '\\n**Cuenta:** ' + $('Extraer Categoría').item.json.toAccount + '@tripath.es\\n\\n---\\n\\n' + $('Extraer Categoría').item.json.body) }},\n  \"status\": \"todo\",\n  \"priority\": \"high\",\n  \"assigneeAgentId\": \"fb8215ad-2dc7-4c42-8d3a-a626a20b9447\"\n}","options":{"timeout":10000}},"id":"http-paperclip-task","name":"Crear Tarea Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2032,224],"onError":"continueRegularOutput"},{"parameters":{"operation":"addLabels","messageId":"={{ $('Extraer Categoría').item.json.messageId }}","labelIds":["Label_6900348999411199099"]},"id":"gmail-mark-read","name":"Marcar como leido","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2256,224],"webhookId":"bcd545ec-a22a-4f99-b94a-3b12995558e9","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Comercial@tripath.es"}}},{"parameters":{"jsCode":"const llmResult = $input.first().json;\nconst rawText = llmResult?.choices?.[0]?.message?.content || '';\nconst category = rawText.toLowerCase().includes('operativa') ? 'operativa' : 'comercial';\n\n// Pasar todos los datos del email original + category\nconst emailData = $('Extraer Datos Email').item.json;\n\nreturn [{\n  json: {\n    ...emailData,\n    category,\n    categoryLabel: category === 'comercial' ? '🤝 COMERCIAL' : '⚙️ OPERATIVA'\n  }\n}];"},"id":"cat-extract-node","name":"Extraer Categoría","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,224]},{"parameters":{"promptType":"define","text":"=\n      \"role\": \"user\",\n      \"content\": \"Eres un clasificador de emails para Tripath Coliving (empresa de coliving en Bali). Clasifica el siguiente email EXACTAMENTE como una de estas dos categorías:\\n- comercial: consultas de clientes, interés en habitaciones, precios, visitas, reservas, contratos\\n- operativa: facturas, incidencias técnicas, proveedores, mantenimiento, gestión interna, notificaciones\\n\\nResponde ÚNICAMENTE con una sola palabra: comercial o operativa\\n\\nEmail:\\nDe: {{ $json.fromName }} <{{ $json.fromEmail }}>\\nAsunto: {{ $json.subject }}\\nCuerpo: {{ $json.bodySnippet }}\"\n","needsFallback":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[560,224],"id":"a5ff4897-6941-49a6-89a6-586c2c715e73","name":"Basic LLM Chain"},{"parameters":{"model":"openrouter/free","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[568,448],"id":"c929416d-8922-4269-affd-b6feea3b12fb","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"GuyWp7HRb4yuHNJs","name":"OpenRouter account"}}},{"parameters":{"modelName":"models/gemini-flash-latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[696,448],"id":"80ba358c-b7f5-411c-ae8f-0db680dc46fb","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"Veo0iJHpg1Sjn3fs","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Gmail Trigger Comercial":{"main":[[{"node":"Extraer Datos Email","type":"main","index":0}]]},"Extraer Datos Email":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"No es automatico":{"main":[[{"node":"Guardar en Supabase","type":"main","index":0}],[]]},"Guardar en Supabase":{"main":[[{"node":"Preparar Telegram","type":"main","index":0}]]},"Preparar Telegram":{"main":[[{"node":"Enviar Telegram Approval","type":"main","index":0}]]},"Enviar Telegram Approval":{"main":[[{"node":"Crear Tarea Paperclip","type":"main","index":0}]]},"Crear Tarea Paperclip":{"main":[[{"node":"Marcar como leido","type":"main","index":0}]]},"Extraer Categoría":{"main":[[{"node":"No es automatico","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Extraer Categoría","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":1}]]}},"authors":"Stratoma  Ai","name":"Version c1dcf69b","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-27T10:34:37.465Z","id":462,"workflowId":"ZpIv7rbspapcVFlT","versionId":"c1dcf69b-6296-4a7a-ab0e-f8b1ed537839","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}