n8n/workflows/Tripath-Aprobar-Respuesta-IA.json
{"updatedAt":"2026-03-21T19:40:58.825Z","createdAt":"2026-03-21T18:52:24.161Z","id":"8mVrc5APRZLyvapW","name":"Tripath — Aprobar Respuesta IA","description":null,"active":true,"isArchived":false,"nodes":[{"id":"n1","name":"Webhook Aprobar","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"tripath-approve","httpMethod":"GET","responseMode":"responseNode","options":{}}},{"id":"n2","name":"Enviar GHL WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[550,300],"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"},{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"type\": \"WhatsApp\", \"contactId\": \"{{ $json.query.contact }}\", \"conversationId\": \"{{ $json.query.conv }}\", \"message\": \"{{ decodeURIComponent($json.query.msg) }}\"}","options":{}}},{"id":"n3","name":"Telegram OK","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,300],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"{\"chat_id\":YOUR_TELEGRAM_CHAT_ID,\"text\":\"✅ Enviado\"}"}},{"id":"n4","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300],"parameters":{"respondWith":"text","responseBody":"Enviado ✅"}},{"id":"n5","name":"Webhook Rechazar","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,500],"parameters":{"path":"tripath-reject","httpMethod":"GET","responseMode":"responseNode","options":{}}},{"id":"n6","name":"Telegram Rechazado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[550,500],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"{\"chat_id\":YOUR_TELEGRAM_CHAT_ID,\"text\":\"❌ Rechazado\"}"}},{"id":"n7","name":"Respond Rechazado","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,500],"parameters":{"respondWith":"text","responseBody":"Rechazado ❌"}}],"connections":{"Webhook Aprobar":{"main":[[{"node":"Enviar GHL WhatsApp","type":"main","index":0}]]},"Enviar GHL WhatsApp":{"main":[[{"node":"Telegram OK","type":"main","index":0}]]},"Telegram OK":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Webhook Rechazar":{"main":[[{"node":"Telegram Rechazado","type":"main","index":0}]]},"Telegram Rechazado":{"main":[[{"node":"Respond Rechazado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"7de767a2-d566-4258-a26a-558aa39eed2f","activeVersionId":"7de767a2-d566-4258-a26a-558aa39eed2f","versionCounter":7,"triggerCount":2,"shared":[{"updatedAt":"2026-03-21T18:52:24.164Z","createdAt":"2026-03-21T18:52:24.164Z","role":"workflow:owner","workflowId":"8mVrc5APRZLyvapW","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"YOUR_N8N_USER_ID"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-21T19:40:58.827Z","createdAt":"2026-03-21T19:40:58.827Z","versionId":"7de767a2-d566-4258-a26a-558aa39eed2f","workflowId":"8mVrc5APRZLyvapW","nodes":[{"id":"n1","name":"Webhook Aprobar","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,300],"parameters":{"path":"tripath-approve","httpMethod":"GET","responseMode":"responseNode","options":{}}},{"id":"n2","name":"Enviar GHL WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[550,300],"parameters":{"method":"POST","url":"https://services.leadconnectorhq.com/conversations/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_GHL_API_KEY"},{"name":"Version","value":"2021-07-28"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\"type\": \"WhatsApp\", \"contactId\": \"{{ $json.query.contact }}\", \"conversationId\": \"{{ $json.query.conv }}\", \"message\": \"{{ decodeURIComponent($json.query.msg) }}\"}","options":{}}},{"id":"n3","name":"Telegram OK","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,300],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"{\"chat_id\":YOUR_TELEGRAM_CHAT_ID,\"text\":\"✅ Enviado\"}"}},{"id":"n4","name":"Respond OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1050,300],"parameters":{"respondWith":"text","responseBody":"Enviado ✅"}},{"id":"n5","name":"Webhook Rechazar","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[250,500],"parameters":{"path":"tripath-reject","httpMethod":"GET","responseMode":"responseNode","options":{}}},{"id":"n6","name":"Telegram Rechazado","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[550,500],"parameters":{"method":"POST","url":"https://api.telegram.org/botYOUR_TELEGRAM_BOT_TOKEN/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"{\"chat_id\":YOUR_TELEGRAM_CHAT_ID,\"text\":\"❌ Rechazado\"}"}},{"id":"n7","name":"Respond Rechazado","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[800,500],"parameters":{"respondWith":"text","responseBody":"Rechazado ❌"}}],"connections":{"Webhook Aprobar":{"main":[[{"node":"Enviar GHL WhatsApp","type":"main","index":0}]]},"Enviar GHL WhatsApp":{"main":[[{"node":"Telegram OK","type":"main","index":0}]]},"Telegram OK":{"main":[[{"node":"Respond OK","type":"main","index":0}]]},"Webhook Rechazar":{"main":[[{"node":"Telegram Rechazado","type":"main","index":0}]]},"Telegram Rechazado":{"main":[[{"node":"Respond Rechazado","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-21T19:40:58.897Z","id":269,"workflowId":"8mVrc5APRZLyvapW","versionId":"7de767a2-d566-4258-a26a-558aa39eed2f","event":"activated","userId":"YOUR_N8N_USER_ID"},{"createdAt":"2026-03-21T19:40:58.879Z","id":268,"workflowId":"8mVrc5APRZLyvapW","versionId":"7de767a2-d566-4258-a26a-558aa39eed2f","event":"deactivated","userId":"YOUR_N8N_USER_ID"}]}}