n8n/workflows/Workflow-de-errores.json
{"updatedAt":"2026-03-23T07:11:55.709Z","createdAt":"2026-02-10T13:01:58.168Z","id":"dQjc0FwneEMHG1VilyJUm","name":"Workflow de errores","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"f3dda377-9d87-4bf6-8b43-833a6a7b3cd4","name":"Error Trigger"},{"parameters":{"sendTo":"developer@yourclient.com","subject":"Error en el workflow - Hay un error en n8n","emailType":"text","message":"=Hay un error en n8n es este workflow {{ $json.execution.url }} {{ $json.workflow.name }}\n\nDescripción del error:\n{{ $json.execution.error.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[208,0],"id":"6fbaad49-36ad-405e-8631-37ea548e591b","name":"Send a message","webhookId":"171ca7d7-2358-41c0-8a90-2a3f4420bb91","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"parameters":{"method":"GET","url":"https://paperclip.yourdomain.com/api/companies/YOUR_COMPANY_ID_1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ \"[n8n Error] \" + ($json.workflow ? $json.workflow.name : \"Unknown\") }}"},{"name":"status","value":"todo,in_progress,blocked"}]},"options":{"timeout":10000}},"id":"check-existing-tasks","name":"Buscar Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[210,200],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Check if there are existing open tasks for this workflow error\nconst checkResult = $('Buscar Tarea Existente').item.json;\nconst errorData = $('Error Trigger').item.json;\n\n// Get the array of existing issues\nconst existingIssues = checkResult.data || checkResult || [];\nconst workflowName = errorData.workflow ? errorData.workflow.name : 'Unknown';\n\n// Filter to find tasks that match this specific workflow\nconst matchingTasks = (Array.isArray(existingIssues) ? existingIssues : []).filter(issue => {\n  return issue.title && issue.title.includes(workflowName);\n});\n\nif (matchingTasks.length > 0) {\n  // Found existing task - return it for comment-only path\n  return [{\n    json: {\n      action: 'comment',\n      existingTaskId: matchingTasks[0].id,\n      existingTaskIdentifier: matchingTasks[0].identifier,\n      workflowName: workflowName,\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n} else {\n  // No existing task - return for create path\n  return [{\n    json: {\n      action: 'create',\n      workflowName: workflowName,\n      workflowId: errorData.workflow ? errorData.workflow.id : 'N/A',\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n}"},"id":"dedupe-logic","name":"Dedup Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-create","leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"filter-create","name":"Solo si NO existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-comment","leftValue":"={{ $json.action }}","rightValue":"comment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"filter-comment","name":"Solo si YA existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,300]},{"parameters":{"method":"POST","url":"https://paperclip.yourdomain.com/api/companies/YOUR_COMPANY_ID_1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify(\"[n8n Error] \" + $json.workflowName + \": \" + $json.errorMessage.substring(0, 80)) }},\n  \"description\": {{ JSON.stringify(\"## Error en n8n\\n\\n**Workflow:** \" + $json.workflowName + \" (ID: \" + $json.workflowId + \")\\n**Ejecución:** \" + $json.executionId + \"\\n**URL:** \" + $json.executionUrl + \"\\n\\n### Error\\n\\n\" + $json.errorMessage + \"\\n\\n---\\n*Creado automáticamente por el workflow de errores de n8n.*\") }},\n  \"status\": \"todo\",\n  \"priority\": \"high\",\n  \"assigneeAgentId\": \"YOUR_AGENT_ID\"\n}","options":{"timeout":10000}},"id":"paperclip-error-task","name":"Crear Tarea Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,120],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://paperclip.yourdomain.com/api/issues/{{ $json.existingTaskId }}/comments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ body: \"Error repetido — Ejecución: \" + $json.executionId + \"\\n\" + $json.errorMessage }) }}","options":{"timeout":10000}},"id":"add-comment-existing","name":"Comentar en Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,300],"onError":"continueRegularOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Buscar Tarea Existente","type":"main","index":0}]]},"Buscar Tarea Existente":{"main":[[{"node":"Dedup Logic","type":"main","index":0}]]},"Dedup Logic":{"main":[[{"node":"Solo si NO existe tarea","type":"main","index":0},{"node":"Solo si YA existe tarea","type":"main","index":0}]]},"Solo si NO existe tarea":{"main":[[{"node":"Crear Tarea Paperclip","type":"main","index":0}]]},"Solo si YA existe tarea":{"main":[[{"node":"Comentar en Tarea Existente","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"dQjc0FwneEMHG1VilyJUm","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Error Trigger":[{"json":{"execution":{"id":"2932","url":"https://n8n.yourdomain.com/workflow/p7OS35XGT8XhDP2d/executions/2932","error":{"level":"warning","tags":{},"timestamp":1774220813783,"context":{"itemIndex":0},"functionality":"regular","name":"NodeOperationError","node":{"id":"http-openrouter","name":"IA Genera Respuesta Email","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[980,240],"parameters":{"curlImport":"","method":"POST","url":"https://openrouter.ai/api/v1/chat/completions","authentication":"none","provideSslCertificates":false,"sendQuery":false,"sendHeaders":true,"specifyHeaders":"keypair","headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_OPENROUTER_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={\n  \"model\": \"google/gemini-flash-1.5\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Eres Agente del equipo Coliving en Madrid y Alicante. Tripath alquila habitaciones en pisos compartidos. Tu tarea es generar una respuesta de email profesional, cercana y en el idioma del remitente.\\n\\nHABITACIONES DISPONIBLES:\\n{{ JSON.stringify($('Obtener Habitaciones').item.json.slice ? $('Obtener Habitaciones').item.json.filter(r => r.available).slice(0,5) : []).replace(/\\\"/g, '\\\\\\\"') }}\\n\\nREGLAS:\\n1. Responde en el idioma del email recibido (español/inglés/etc)\\n2. Sé humano y directo, no robótico\\n3. Si preguntan por disponibilidad, menciona habitaciones disponibles con precio\\n4. Si es una queja o consulta de inquilino, sé empático y ofrece solución\\n5. Máximo 150 palabras\\n6. Firma como: Agente | yourclient Coliving | bookings@yourclient.com\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Email recibido de {{ $('Extraer Datos Email').item.json.fromName }} <{{ $('Extraer Datos Email').item.json.fromEmail }}>\\nAsunto: {{ $('Extraer Datos Email').item.json.subject }}\\n\\nContenido:\\n{{ $('Extraer Datos Email').item.json.body }}\"\n    }\n  ]\n}","options":{},"infoMessage":""}},"messages":[],"message":"JSON parameter needs to be valid JSON","stack":"NodeOperationError: JSON parameter needs to be valid JSON\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/HttpRequest/V3/HttpRequestV3.node.ts:447:15)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1668:38\n    at processTicksAndRejections (node:internal/process/task_queues:103:5)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2313:11"},"lastNodeExecuted":"IA Genera Respuesta Email","mode":"trigger","executionContext":{"version":1,"establishedAt":1774220813479,"source":"trigger","redaction":{"version":1,"policy":"none"},"triggerNode":{"name":"Gmail Trigger Info","type":"n8n-nodes-base.gmailTrigger"}}},"workflow":{"id":"p7OS35XGT8XhDP2d","name":"Tripath — Monitor Email + IA + Telegram Approval"}},"pairedItem":{"item":0}}]},"versionId":"1100d40d-7958-4e9e-b928-0b47e023832d","activeVersionId":"1100d40d-7958-4e9e-b928-0b47e023832d","versionCounter":30,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T13:01:58.174Z","createdAt":"2026-02-10T13:01:58.174Z","role":"workflow:owner","workflowId":"dQjc0FwneEMHG1VilyJUm","projectId":"fZLX5ygbpQHD3stR","project":{"updatedAt":"2026-01-18T15:38:18.166Z","createdAt":"2026-01-18T15:29:33.541Z","id":"fZLX5ygbpQHD3stR","name":"Stratoma  Ai <admin@yourdomain.com>","type":"personal","icon":null,"description":null,"creatorId":"be81c942-c45f-493d-b1b3-50ed77730e06"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-23T07:11:55.711Z","createdAt":"2026-03-23T07:11:55.711Z","versionId":"1100d40d-7958-4e9e-b928-0b47e023832d","workflowId":"dQjc0FwneEMHG1VilyJUm","nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"f3dda377-9d87-4bf6-8b43-833a6a7b3cd4","name":"Error Trigger"},{"parameters":{"sendTo":"developer@yourclient.com","subject":"Error en el workflow - Hay un error en n8n","emailType":"text","message":"=Hay un error en n8n es este workflow {{ $json.execution.url }} {{ $json.workflow.name }}\n\nDescripción del error:\n{{ $json.execution.error.message }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[208,0],"id":"6fbaad49-36ad-405e-8631-37ea548e591b","name":"Send a message","webhookId":"171ca7d7-2358-41c0-8a90-2a3f4420bb91","credentials":{"gmailOAuth2":{"id":"z40lc3H9IN6QLrIK","name":"Gmail Cuser@yourclient.com"}}},{"parameters":{"method":"GET","url":"https://paperclip.yourdomain.com/api/companies/YOUR_COMPANY_ID_1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"={{ \"[n8n Error] \" + ($json.workflow ? $json.workflow.name : \"Unknown\") }}"},{"name":"status","value":"todo,in_progress,blocked"}]},"options":{"timeout":10000}},"id":"check-existing-tasks","name":"Buscar Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[210,200],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Check if there are existing open tasks for this workflow error\nconst checkResult = $('Buscar Tarea Existente').item.json;\nconst errorData = $('Error Trigger').item.json;\n\n// Get the array of existing issues\nconst existingIssues = checkResult.data || checkResult || [];\nconst workflowName = errorData.workflow ? errorData.workflow.name : 'Unknown';\n\n// Filter to find tasks that match this specific workflow\nconst matchingTasks = (Array.isArray(existingIssues) ? existingIssues : []).filter(issue => {\n  return issue.title && issue.title.includes(workflowName);\n});\n\nif (matchingTasks.length > 0) {\n  // Found existing task - return it for comment-only path\n  return [{\n    json: {\n      action: 'comment',\n      existingTaskId: matchingTasks[0].id,\n      existingTaskIdentifier: matchingTasks[0].identifier,\n      workflowName: workflowName,\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n} else {\n  // No existing task - return for create path\n  return [{\n    json: {\n      action: 'create',\n      workflowName: workflowName,\n      workflowId: errorData.workflow ? errorData.workflow.id : 'N/A',\n      errorMessage: errorData.execution && errorData.execution.error ? errorData.execution.error.message : 'Sin mensaje',\n      executionId: errorData.execution ? errorData.execution.id : 'N/A',\n      executionUrl: errorData.execution ? errorData.execution.url : 'N/A'\n    }\n  }];\n}"},"id":"dedupe-logic","name":"Dedup Logic","type":"n8n-nodes-base.code","typeVersion":2,"position":[420,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-create","leftValue":"={{ $json.action }}","rightValue":"create","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"filter-create","name":"Solo si NO existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,120]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"filter-comment","leftValue":"={{ $json.action }}","rightValue":"comment","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"filter-comment","name":"Solo si YA existe tarea","type":"n8n-nodes-base.filter","typeVersion":2,"position":[630,300]},{"parameters":{"method":"POST","url":"https://paperclip.yourdomain.com/api/companies/YOUR_COMPANY_ID_1/issues","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": {{ JSON.stringify(\"[n8n Error] \" + $json.workflowName + \": \" + $json.errorMessage.substring(0, 80)) }},\n  \"description\": {{ JSON.stringify(\"## Error en n8n\\n\\n**Workflow:** \" + $json.workflowName + \" (ID: \" + $json.workflowId + \")\\n**Ejecución:** \" + $json.executionId + \"\\n**URL:** \" + $json.executionUrl + \"\\n\\n### Error\\n\\n\" + $json.errorMessage + \"\\n\\n---\\n*Creado automáticamente por el workflow de errores de n8n.*\") }},\n  \"status\": \"todo\",\n  \"priority\": \"high\",\n  \"assigneeAgentId\": \"YOUR_AGENT_ID\"\n}","options":{"timeout":10000}},"id":"paperclip-error-task","name":"Crear Tarea Paperclip","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,120],"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=https://paperclip.yourdomain.com/api/issues/{{ $json.existingTaskId }}/comments","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer YOUR_PAPERCLIP_API_KEY"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ body: \"Error repetido — Ejecución: \" + $json.executionId + \"\\n\" + $json.errorMessage }) }}","options":{"timeout":10000}},"id":"add-comment-existing","name":"Comentar en Tarea Existente","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[840,300],"onError":"continueRegularOutput"}],"connections":{"Error Trigger":{"main":[[{"node":"Send a message","type":"main","index":0},{"node":"Buscar Tarea Existente","type":"main","index":0}]]},"Buscar Tarea Existente":{"main":[[{"node":"Dedup Logic","type":"main","index":0}]]},"Dedup Logic":{"main":[[{"node":"Solo si NO existe tarea","type":"main","index":0},{"node":"Solo si YA existe tarea","type":"main","index":0}]]},"Solo si NO existe tarea":{"main":[[{"node":"Crear Tarea Paperclip","type":"main","index":0}]]},"Solo si YA existe tarea":{"main":[[{"node":"Comentar en Tarea Existente","type":"main","index":0}]]}},"authors":"Stratoma  Ai","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-23T07:11:55.766Z","id":377,"workflowId":"dQjc0FwneEMHG1VilyJUm","versionId":"1100d40d-7958-4e9e-b928-0b47e023832d","event":"activated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"},{"createdAt":"2026-03-23T07:11:55.749Z","id":376,"workflowId":"dQjc0FwneEMHG1VilyJUm","versionId":"1100d40d-7958-4e9e-b928-0b47e023832d","event":"deactivated","userId":"be81c942-c45f-493d-b1b3-50ed77730e06"}]}}